extends layout
block content

	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/home')
					i.material-icons keyboard_arrow_left
				span.mdl-layout-title New job
		main.mdl-layout__content
			.page-content
				.mdl-grid
					if usbFound == true
						#usbDriveName !{path}
						.mdl-cell.mdl-cell--6-col-tablet.mdl-cell--8-col-desktop
							#usbPanel
								ul#items-list.mdl-list
									// If we are not at the root of the USB drive we are in a folder.
									// We need to display a "go up a level" button.
									if(pathIsRoot == "true")
										li.mdl-list__item
											span.mdl-list__item-primary-content.oneLevelUp
												i.material-icons.mdl-list__item-icon arrow_back
												span.oneLevelUp Go Up
									each folder in JSON.parse(folders)
										li.mdl-list__item
											span.mdl-list__item-primary-content.folder
												i.material-icons.mdl-list__item-icon folder
												span.folderName= folder.name
									each file in JSON.parse(files)
										li.mdl-list__item
											span.mdl-list__item-primary-content.file
												i.material-icons.mdl-list__item-icon note
												span.fileName= file.name
					else
						h2 No USB drives found.
						p(style="width:100%;")
						button(id="refresh-usb-btn").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.large-btn-full-width.blue
							| Refresh USB
							#usb-spinner.mdl-spinner.mdl-spinner--single-color.mdl-js-spinner


					if usbFound == true
						.mdl-cell.mdl-cell--2-col-tablet.mdl-cell--4-col-desktop
							button(id="select-usb-file-btn" disabled).mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.large-btn-full-width Select file
							p#select-usb-status

	dialog#status-dialog.mdl-dialog
		h4.mdl-dialog__title#status-dialog__title Machine Status
		.mdl-dialog__content#status-dialog__content
			p
		.mdl-dialog__actions
			button(type='button')#status-dialog__closeButton.mdl-button.close Close
	script.
		var statusDialogContent = $('#status-dialog__content');
		var statusDialogHeader = $('#status-dialog__title');
		var statusDialog = document.querySelector('#status-dialog');
		if (!statusDialog.showModal) {
			dialogPolyfill.registerDialog(statusDialog);
		}
		statusDialog.querySelector('.close').addEventListener('click', function () {
			// if the dialog is open, then close it.
			if (statusDialog.open === true) {
				statusDialog.close();
			}
		});


	script(src="/javascripts/filescripts.js")
	script.
		var socket = io(self.location.host);
		// Data from server:
		var usbFound = ("#{usbFound}" == "true");
		if(usbFound == true) {
			var rootPath = "#{path}"; // string
			var files = !{files ? JSON.stringify(files) : "undefined"}; // array of objs
			var folders = !{folders ? JSON.stringify(folders) : "undefined"}; // array of objs
			// other js vars:
			var currentPath = rootPath;
		}
		var selectedItem = {
			name: null,
			type: null
		};
		var $selectFileBtn = $('#select-usb-file-btn');
		var $selectStatus = $('#select-usb-status');
		var pathDisplay = document.getElementById('usbDriveName');
		// Keep track of icons to determine what is clicked:
		var fileIconName = 'note';
		var folderIconName = 'folder';
		var goUpIconName = 'arrow_back';

		// ----- socket.io setup ----- //
		socket.on('usb-data', function (usbData) {
			var usbName = usbData.description;
			$('#file-browser p').text(usbName);
		});

		// ----- DOCUMENT READY ----- //
		$(document).ready(function () {
			// When the DOM is Ready, then bind the click for each file browser item.
			bindClickToListItems();

			// ----- SOCKET.IO EVENTS ----- //
			// Page gets updated list of fab files and folders at a path.
			socket.on('fileupload_folder-contents', function(filesAndFolders) {
				updatePageData(filesAndFolders);
				currentPath = filesAndFolders.path;
				console.log('fileupload_folder-contents) current path: ' + currentPath);
			});

			socket.on('fileupload_error', function (err) {
				$selectStatus.text(err);
				location.reload();
			});

			// ----- BUTTON LISTENER SET UP ----- //
			// when the select button is clicked
			$selectFileBtn.on('click' , function() {
				$selectFileBtn.prop('disabled', true);	// disable the select file button
				// add status text so user knows what is going on
				$('#select-usb-status').text('Copying files to HMI...');
				// make a POST request to /files
				var data = {
					fileName: selectedItem.name,
					path: currentPath,
					fileLocation: 'usb'
				};
				console.log('POST data: ' + data)
				$.ajax({
					type: 'POST',
					url: '/files',
					data: data,
					success: function(data, textString, XHR) {
						if(data.err != null) {
							if(data.errCode === 0) {
								// Running tube file on a sheet-only machine
								statusDialogHeader.text('Select a sheet file.');
								statusDialogContent.html('<p>Can\'t run tube file. This is a sheet-only machine. Select a sheet file.</p>');
								if (statusDialog.open === false) {
									statusDialog.showModal();
								}
								$selectStatus.text('');
							}
							else {
								$selectStatus.text(data.err);
								location.reload();
							}
						}
						else {
							$selectStatus.text(data.status);
							console.log('got jobs__file-copying-done');
							window.location.href = '/processes?fileName=' + selectedItem.name;
						}
					},
					error: function() {
						location.reload();
					}
				});
			});

			// refresh usb button pressed
			$('#refresh-usb-btn').on('click' , function() {
				$('#refresh-usb-btn').prop('disabled', true);
				$('#usb-spinner').addClass('is-active');
				location.reload();
			});
		});

		// ---------- HELPER FUNCTIONS  ---------- //
		var list = document.getElementById('items-list');
		// Given an object from the server containing arrays of fab files and folders at a path,
		// update the list items on the page to show them.
		function updatePageData(filesAndFolders) {
			// Remove all entries from the list
			list.innerHTML = "";
			updateCurrentPath(filesAndFolders.path);
			// Create folders for display
			for(var i = 0; i < filesAndFolders.folders.length; i++) {
				createListEntry('folder', 'folderName', folderIconName, filesAndFolders.folders[i].name);
			}
			// Create files for display
			for (var j = 0; j < filesAndFolders.files.length; j++) {
				createListEntry('file', 'fileName', fileIconName, filesAndFolders.files[j].name);
			}
			bindClickToListItems();
		}

		function updateCurrentPath(newPath) {
			pathDisplay.innerText = newPath;
			if(newPath != rootPath) {
				createListEntry('oneLevelUp', 'oneLevelUp', goUpIconName, 'Go up');
			}
		}

		function bindClickToListItems() {
			var $mdlListItems = $(".mdl-list__item");
			$mdlListItems.click(function () {
				// 1. Remove the 'selected' class from all other elements, then add it to this one.
				$mdlListItems.removeClass('selected');
				$(this).addClass('selected');
				// 2. Check if the currently selected item is a file or a folder.
				selectedItem.type = this.querySelector('span i').textContent;
				selectedItem.name = this.querySelector('span span').textContent;
				if (selectedItem.type == fileIconName) {
					// Enable the select file button
					$selectFileBtn.prop('disabled', false);
				}
				else if (selectedItem.type == folderIconName) {
					// Disable the select file button
					$selectFileBtn.prop('disabled', true);
					socket.emit('fileupload_select-folder', {
						currentPath: currentPath,
						selectedItem: selectedItem
					});
				}
				else { // Go up button
					$selectFileBtn.prop('disabled', true);
					socket.emit('fileupload_select-navigation', currentPath);
				}
			});
		}

		function createListEntry(spanClassName, spanTitleClassName, iconString, label) {
			var entry = document.createElement('li');
			entry.classList.add('mdl-list__item');
			var span = document.createElement('span');
			span.classList.add('mdl-list__item-primary-content', spanClassName);
			var icon = document.createElement('i');
			icon.classList.add('material-icons', 'mdl-list__item-icon');
			icon.innerHTML = iconString;
			var spanTitle = document.createElement('span');
			spanTitle.classList.add(spanTitleClassName);
			spanTitle.innerHTML = label;
			span.appendChild(icon);
			span.appendChild(spanTitle);
			entry.appendChild(span);
			list.appendChild(entry);
		}
	script(src="/javascripts/statusDialog.js")