extends layout
block content
	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				span.mdl-layout-title(style="margin-left: -30px;") FabLight Home
				.mdl-layout-spacer
				button#index__settings-button.mdl-button.mdl-js-button.mdl-button--icon
					i.material-icons settings
		main.mdl-layout__content
			.page-content
				.mdl-grid.index-page
					.mdl-cell.mdl-cell--5-col-tablet.mdl-cell--8-col-desktop
						.mdl-grid
							- var c = JSON.parse(config)
							if(c.server.enabled === true)
								.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop
									button(disabled)#index-newJob__button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.hmi-newJob-button-half
										span Job from USB
										i.material-icons usb
								.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop
									button(disabled)#index-newJobServer__button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.hmi-newJob-button-half
										span Job from FabServer
										i.material-icons cloud_download
							else
								.mdl-cell.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop
									button(disabled)#index-newJob__button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.hmi-newJob-button
										span New Job
										i.material-icons play_arrow
						.mdl-grid
							.mdl-cell.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop
								button(disabled)#index-jog__button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.hmi-index-smallButton
									span Jog
									i.material-icons open_with
					.mdl-cell.mdl-cell--3-col-tablet.mdl-cell--4-col-desktop
						h2#hmi-socketStatus
							if(config.production === "true")
								| Getting machine status...
							else
								| Machine ready
						table.hmi-status-panel
							tr
								td Status:
								td#index__machine-status Getting status...
							tr
								td Mode:
								td#index__machine-mode Rotary
							tr
								td Door:
								td#index__door-status
							tr
								td HMI ver:
								td !{hmiVersion}
							tr
								td Controller:
								td#index__controller-version

	include includes/statusBar.pug
	include includes/homingDialog.pug
	include includes/statusDialog.pug

	script.
		var socket = io(self.location.host);
		var machineOnline = #{machineOnline};
		var attemptedToHome = 0;
		var config = !{config};

		// JQUERY variables
		var $newJobBtn = $('#index-newJob__button');
		var $newJobServerBtn = $('#index-newJobServer__button');
		var $jogBtn = $('#index-jog__button');
		var $settingsBtn = $('#index__settings-button');
		var $doorStatus = $('#index__door-status');
		var $machineStatus = $('#index__machine-status');
		var $machineMode = $('#index__machine-mode');
		var $hmiStatus = $('#hmi-socketStatus');
		var $controllerVersion = $('#index__controller-version');

		// document ready event
		$(document).ready(function () {
			attemptedToHome = 0;
			window.resizeTo(800, 480);
			console.log('machineOnline: ' + machineOnline);

			// if you visit this page and the machine is already online, no need to show modal.
			if(machineOnline === true) {
				socket.emit('fl_status');
				socket.emit('fl_init_version')
				console.log('enabling buttons 1');
				enableButtons();
			}
			else {
				console.log('socket machine offline');
				disableButtons();
			}

			// BUTTON LISTENERS
			$newJobBtn.on('click', function () {
				$newJobBtn.prop('disabled', true);
				location.href = 'fileupload';
			});
			$newJobServerBtn.on('click', function () {
				// TODO check if fabserver is connected or not
				// socket.emit('check_fabserver');
				$newJobServerBtn.prop('disabled', true);
				location.href = 'selectfile';
			});

			$jogBtn.on('click', function () {
				$jogBtn.prop('disabled', true);
				location.href = 'jog';
			});

			$settingsBtn.on('click', function () {
				$settingsBtn.prop('disabled', true);
				location.href = 'settings';
			});

			socket.on('fl_init_version', function (version) {
				$controllerVersion.text(version)
			})

			socket.on('door-open', function () {
				$doorStatus.text('Open.');
			})
			socket.on('door-closed', function () {
				$doorStatus.text('Closed.');
			})

			socket.on('fl_status', function (stat) {
				var fl_status = stat;

				if(fl_status.status.ready === true) {
					$machineStatus.text('Ready.')
				}
				if (fl_status.status.paused === true) {
					$machineStatus.text('Paused.')
				}
				if (fl_status.status.running === true) {
					$machineStatus.text('Job running.')
				}
				if (fl_status.status.rot_mode === true) {
					$machineMode.text('Rotary')
				}
				else {
					$machineMode.text('XY')
				}
				if (fl_status.status.homed == true) {
					$hmiStatus.text('Machine homed.');
					homingDialogHeader.text('Machine homed.');
					enableButtons();
					homingDialogContent.html('');
					if(homingDialog.open) {
						setTimeout(function () {
							homingDialog.close();
						}, 1000);
					}
				}
				else if (fl_status.status.homed == false) {
					enableButtons();
					if (homingDialog.open == false) {
						homingDialog.showModal();
					}
					homingDialogHeader.text('Machine not homed.');
					homingDialogContent.html('<h2>Press the button to home the machine.</h2>');
					$homeMachineButton.show();
					closeHomingDialogButton.hide();
				}
			})

			socket.on('udp-status', function (data) {
				$hmiStatus.text(data);
			});
			socket.on('port23-status', function (data) {
				$hmiStatus.text(data);
			});
			//socket.on('port23-data', function (data) {
			//	$('#hmi-socketConsole').text(data);
			//});
		});

		// helper functions for enabling / disabling buttons
		function enableButtons() {
			console.log('i enabled buttons');
			$newJobBtn.prop('disabled', false);
			$jogBtn.prop('disabled', false);
			$settingsBtn.prop('disabled', false);
			// Only enable the server button if the server exists
			if(config.server.enabled === true) {
				$newJobServerBtn.prop('disabled', false);
			}
		}

		function disableButtons() {
			console.log('i DISABLED buttons');
			$newJobBtn.prop('disabled', true);
			$newJobServerBtn.prop('disabled', true);
			$jogBtn.prop('disabled', true);
		}
	script(src='/javascripts/homingDialog.js')
	script(src='/javascripts/statusDialog.js')