extends layout
block content
	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				span.mdl-layout-title(style="margin-left: -30px;") FabLight Status
		main.mdl-layout__content
			.page-content
				.mdl-grid.index-header
					.mdl-cell.mdl-cell--5-col-tablet.mdl-cell--8-col-desktop
						button(disabled)#index_home-machine.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.sm-primary-button.blue
							span Home machine
						button(disabled)#index_continue.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.sm-primary-button.blue
							span Continue
						#index_main-status
					.mdl-cell.mdl-cell--3-col-tablet.mdl-cell--4-col-desktop
						h2 Machine status
						//button#refresh-status.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
							span Refresh status
						table.hmi-status-panel
							tr
								td Status:
								td#index__machine-status Getting status...
							tr
								td Mode:
								td#index__machine-mode Rotary
							tr
								td Door:
								td#index__door-status
							tr
								td HMI ver:
								td !{hmiVersion}

				.mdl-grid.index-page.index-footer
					.mdl-cell.mdl-cell--8-col.mdl-cell--12-col-desktop
						button#index_save-log.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.black
							span Save Log File
						button#download-table.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.black
							span Download process table
						button#restart-hmi.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.black
							span Restart HMI
						button#restart-controller.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.black
							span Restart controller
						button#reconnect-hmi.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.black
							span Reconnect HMI
						#index_status


	include includes/statusBar.pug
	include includes/statusDialog.pug
	include includes/homingDialog.pug

	script.
		var socket = io(self.location.host);
		var machineOnline = #{machineOnline};
		var attemptedToHome = 0;
		var machineHomed = false;
		var config = !{config};
		var demoMode = config.demoMode;

		// JQUERY variables
		var $mainStatus = $('#index_main-status')
		var $continueBtn = $('#index_continue');
		var $homeMachineBtn = $('#index_home-machine');
		var $newJobBtn = $('#index-newJob__button');
		var $newJobServerBtn = $('#index-newJobServer__button');
		var $jogBtn = $('#index-jog__button');
		var $settingsBtn = $('#index__settings-button');
		var $doorStatus = $('#index__door-status');
		var $machineStatus = $('#index__machine-status');
		var $machineMode = $('#index__machine-mode');
		var $refreshStatus = $('#refresh-status');

		var $saveLog = $('#index_save-log')
		var $downloadTable = $('#download-table');
		var $restartHMI = $('#restart-hmi');
		var $restartController = $('#restart-controller');
		var $reconnectHMI = $('#reconnect-hmi');
		var $status = $('#index_status');

		// document ready event
		$(document).ready(function () {
			attemptedToHome = 0;
			window.resizeTo(800, 480);

			if(demoMode) {
				machineHomed = true;
			}

			$continueBtn.on('click', function () {
				if(machineHomed === true) {
					$mainStatus.text('');
					$continueBtn.prop('disabled', true);
					$continueBtn.text('Continuing...');
					window.location.href = '/home';
				}
				else {
					$mainStatus.text('Machine must be homed first.')
				}
			});

			$refreshStatus.on('click', function () {
				socket.emit('fl_status');
			});

			$saveLog.on('click', function () {
				$(this).prop('disabled', true);
				$.ajax({
					type: 'PUT',
					url: '/settings/log',
					data: {
						action: 'download'
					},
					success: function (data, textStatus, XHR) {
						$saveLog.prop('disabled', false);
						if (data.err != null) {
							$status.text(data.err);
						}
						else {
							console.log('copied to usb')
							$status.text('Copied file to USB.');
						}
					}
				});
			});

			$downloadTable.on('click', function () {
				$(this).prop('disabled', true);
				$.ajax({
					type: 'PUT',
					url: '/processTable/',
					data: {
						action: 'download'
					},
					statusCode: {
						204: function () {
							console.log('plug in usb')
							$downloadTable.prop('disabled', false);
							$status.text('Please plug in USB and try again.');
						},

						200: function (data) {
							console.log('copied to usb')
							$downloadTable.prop('disabled', false);
							$status.text(data.message);
							console.log('got process table downloaded');
						}
					}
				});
			});

			$restartHMI.on('click', function () {
				socket.emit('restart_hmi');
			})

			$restartController.on('click', function () {
				socket.emit('restart_controller');
				$machineStatus.text('Restarting controller.');
				$status.text('Restarting controller. Please wait.');
				disableButtons();
			})

			$reconnectHMI.on('click', function () {
				socket.emit('reconnect_hmi');
				$status.text('Reconnecting HMI. Please wait.');
			})

			// if you visit this page and the machine is already online, no need to show modal.
			if(machineOnline === true) {
				socket.emit('fl_status');
				enableButtons();
				$machineStatus.text('Machine ready.');
			}
			else {
				disableButtons();
				$machineStatus.text('Machine offline.');
			}

			// BUTTON LISTENERS
			$newJobBtn.on('click', function () {
				$newJobBtn.prop('disabled', true);
				location.href = 'fileupload';
			});
			$newJobServerBtn.on('click', function () {
				$newJobServerBtn.prop('disabled', true);
				location.href = 'selectfile';
			});

			$jogBtn.on('click', function () {
				$jogBtn.prop('disabled', true);
				location.href = 'jog';
			});

			$settingsBtn.on('click', function () {
				$settingsBtn.prop('disabled', true);
				location.href = 'settings';
			});

			// ---------- SOCKET.IO EVENTS ----------

			socket.on('writeToLaser_err', function (err) {
				$status.text(err);
			});

			socket.on('machine_booted', function () {
				enableButtons();
				if(statusDialog.open === true) {
					statusDialog.close();
				}
				$machineStatus.text('Machine online.');
				$status.text('Machine online.');
				socket.emit('fl_status');
			})

			socket.on('fl_status', function (stat) {
				enableButtons();
				var fl_status = stat;
				if(fl_status.status.ready === true) {
					$machineStatus.text('Ready.')
				}
				if (fl_status.status.paused === true) {
					$machineStatus.text('Paused.')
				}
				if (fl_status.status.running === true) {
					$machineStatus.text('Job running.')
				}
				if (fl_status.status.rot_mode === true) {
					$machineMode.text('Rotary')
				}
				else {
					$machineMode.text('XY')
				}
				if (fl_status.status.homed === true) {
					machineHomed = true;
					console.log('machine is homed');
					$machineStatus.text('Machine homed.');
					$mainStatus.text('');
				}
				else {
					machineHomed = false;
					$machineStatus.text('Machine not homed.');
				}
			})
			socket.on('fl_find_limits__status', function (s) {
				if(parseInt(s) === 1) {
					$machineStatus.text('Machine homed.');
					machineHomed = true;
					$mainStatus.text('');
				}
			});

			socket.on('machine_offline', function () {
				disableButtons();
				$machineStatus.text('Machine offline.');
				$status.text('Machine offline.');
				if (homingDialog.open === true) {
					homingDialog.close();
				}
			});
		});

		// helper functions for enabling / disabling buttons
		function enableButtons() {
			$homeMachineBtn.prop('disabled', false);
			$continueBtn.prop('disabled', false);
		}
		function disableButtons() {
			$homeMachineBtn.prop('disabled', true);
			$continueBtn.prop('disabled', true);
		}

	script(src='/javascripts/homingDialog.js')
	script(src='/javascripts/statusDialog.js')