extends jogLayout.pug

block content
	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/home').home-btn-icon
					i.material-icons home
				span.mdl-layout-title Jog
		main.mdl-layout__content.grid-lines
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--8-col
						#laser-bed
						#drag-x-bounds
							#drag-x-container
								#drag-x-flag
									span#x-value
									span.jog_unit
						#drag-y-bounds
							#drag-y-container
								#drag-y-flag
									span#y-value
									span.jog_unit

					.slim-side-panel
						button#jog__park-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue
							span Park
						button#jog__home-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue
							span Go Home
						button#jog__find-limits-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue
							span Find limits

	include includes/statusBar.pug
	include includes/statusDialog.pug
	include includes/homingDialog.pug

	script(src="/javascripts/hammer.min.js")
	script(src="/javascripts/statusDialog.js")
	script(src="/socket.io/socket.io.js")
	script.
		// SOCKET.IO
		var socket = io(self.location.host);
		// FROM SERVER
		var machineUnit = '#{machineUnit}';
		var displayUnit = (machineUnit == "IN")? "\"" : "mm";
		// keep track of current X and Y values
		var enteredYvalue, enteredXvalue;
		// JOGGING
		var pxPerIN = 10;
		var pxPerMM = 1 / 2.54;
		var MMperIN = 25.4;
		if (window.innerWidth > 1000) {
			pxPerIN = 13;
			pxPerMM = 13 / 25.4;
		}
			// Set the bounds for jogging
		var yPosLimit = (machineUnit === "MM")? 635: 25;
		var xPosLimit = (machineUnit === "MM")? 1270: 50;
			// Set the park position in inches and mm
		var yParkPos = (machineUnit === "MM") ? 635 : 25;
		var xParkPos = (machineUnit === "MM") ? 0 : 0;
			// If the desired position is within this tolerance to 0.0, command it it to 0.0.
		var closeToZeroTolerance = (machineUnit === "MM") ? 2.54 : 0.1;
		// JQUERY
		var $yValue = $('#y-value');
		var $xValue = $('#x-value');
		var $jogUnit = $('.jog_unit');
		var $dragXflag = $('#drag-x-flag');	// draggable handlers
		var $dragYflag = $('#drag-y-flag');
		var $dragXcontainer = $('#drag-x-container');	// draggable handlers
		var $dragYcontainer = $('#drag-y-container');
		var $parkBtn = $('#jog__park-btn');
		var $homeBtn = $('#jog__home-btn');
		var $homeMachineBtn = $('#jog__find-limits-btn');
		// FOR NUMPAD
		var xnmpdID = null;
		var ynmpdID = null;

		// ---------- DOCUMENT READY ----------
		$(document).ready(function () {
			socket.emit('fl_p'); // when this page loads, ask for the current machine position
			setUpFlagNumpads();
			// Initialize values to 0
			setXposition(0);
			setYposition(0);
			$jogUnit.each(function(){
				$(this).text(displayUnit);
				if (machineUnit == "MM") {
					$jogUnit.css('top', "-25px");
				}
			});
		});

		// ---------- SOCKET.IO EVENTS ----------
		// update XY position on screen
		socket.on('fl_p_result', function (data) {
			var resultData = data;
			if(machineUnit == "MM") {
				resultData.d.x = resultData.d.x * MMperIN;
				resultData.d.y = resultData.d.y * MMperIN;
			}
			//console.log('before format\tX: ' + resultData.d.x + '\tY: ' + resultData.d.y);
			resultData.d.x = formatPosition(resultData.d.x);
			resultData.d.y = formatPosition(resultData.d.y);
			//console.log('after format\tX: ' + resultData.d.x + '\tY: ' + resultData.d.y);
			setXposition(resultData.d.x);
			setYposition(resultData.d.y);
		});
		socket.on('fl_go_home', function (status) {
			if (status == 2) {
				$homeBtn.text('Go to soft home');
				$homeBtn.prop('disabled', false);
				socket.emit('fl_p');
			}
		});

		// If the door is closed, reset the blue buttons
		socket.on('door-closed', function () {
			$parkBtn.prop('disabled', false);
			$homeBtn.prop('disabled', false);
			$homeBtn.text('Go to soft home');
		})

		socket.on('fl_status', function (stat) {
			var fl_status = stat;
			if (fl_status.status.homed === true) {
				homingDialogHeader.text('Machine homed.');
				homingDialogContent.html('');
				if (homingDialog.open) {
					setTimeout(function () {
						homingDialog.close();
					}, 1000);
				}
			}
			else {
				if (homingDialog.open === false) {
					homingDialog.showModal();
				}
				homingDialogHeader.text('Machine not homed.');
				homingDialogContent.html('<h2>Press the button to home the machine.</h2>');
				$homeMachineButton.show();
				closeHomingDialogButton.hide();
			}
		})

		// ---------- BUTTON LISTENERS ----------
		$parkBtn.on('click', function () {
			socket.emit('fl_park');
			setXposition(xParkPos);
			setYposition(yParkPos);
		});

		$homeBtn.on('click', function () {
			$homeBtn.prop('disabled', true);
			$homeBtn.text('Moving...');
			socket.emit('fl_go_home');
		});

		// ---------- MAIN JOGGING FUNCTIONS ----------
		// Set the new X position of the machine and update the flag position and text label.
		// If the machine unit is MM, then the user is moving to a MM location.
		// The function convertToPx handles the conversion.
		function setXposition(pos) {
			pos = parseFloat(pos);
			if(pos > xPosLimit) {
				pos = xPosLimit;
			}
			if(pos < 0) {
				pos = 0;
			}
			var newPos = convertToPx(pos).toString() + "px";
			$dragXcontainer.css({"left": newPos})
			newPos = formatPosition(pos);
			$xValue.text(newPos) // update flag text
		}
		// Set the new Y position of the machine in inches and update the flag position and text label.
		function setYposition(pos) {
			pos = parseFloat(pos);
			if(pos > yPosLimit) {
				pos = yPosLimit;
			}
			if (pos < 0) {
				pos = 0;
			}
			var newPos = convertToPx(yPosLimit - pos).toString() + "px";
			$dragYcontainer.css({"top": newPos})
			newPos = formatPosition(pos);
			$yValue.text(newPos) // update flag text
		}
		// Get the X position of the flag.
		// @return {string}
		function getXposition() {
			return $xValue.text();
		}
		function getYposition() {
			return $yValue.text();
		}
		// @return {obj} Returns the current set home position in the display units.
		function getHomePosition() {
			return {
				x: getXposition(),
				y: getYposition()
			}
		}

		// ---------- NUMPADS ----------
		// Set up keypad listeners for the flags using hammertime.js
		function setUpFlagNumpads() {
			$dragXflag.numpad({
				position: 'fixed',
				positionX: 'center',
				positionY: 'middle',
				openOnEvent: null,
				decimalSeparator: '.',
				target: $xValue,
				hidePlusMinusButton: true,
				onKeypadCreate: function () {
					xnmpdID = $(this).attr('id');
				},
				onKeypadClose: function () {
					var val = $(this).find('.nmpd-display').val();
					setXposition(val);
					socket.emit('jog-jog__XY', getHomePosition(), machineUnit);
				}
			});
			// Make the flag double clickable with hammer.js
			var xElement = document.getElementById('drag-x-flag');
			var xHammertime = new Hammer(xElement);
			xHammertime.on('doubletap', function (ev) {
				$dragXflag.numpad('open');
			});

			// Set up keypad listener
			$dragYflag.numpad({
				position: 'fixed',
				positionX: 'center',
				positionY: 'middle',
				openOnEvent: null,
				decimalSeparator: '.',
				target: $yValue,
				hidePlusMinusButton: true,
				onKeypadCreate: function () {
					ynmpdID = $(this).attr('id');
				},
				onKeypadClose: function () {
					var val = $(this).find('.nmpd-display').val();
					setYposition(val);
					socket.emit('jog-jog__XY', getHomePosition(), machineUnit);
				}
			});
			// Make the flag double clickable with hammer.js
			var yElement = document.getElementById('drag-y-flag');
			var yHammertime = new Hammer(yElement);
			yHammertime.on('doubletap', function (ev) {
				$dragYflag.numpad('open');
			});
		}

		// ============ set up draggabilly ============
		// set up draggable flag using code from the draggabilly documentation
		var $draggableX = $dragXcontainer.draggabilly({
			axis: 'x',
			containment: true,
			grid: [1, 1]
		});

		var $draggableY = $dragYcontainer.draggabilly({
			axis: 'y',
			containment: true,
			grid: [1, 1]
		});
		// create a variable called draggie to access the draggable object data.
		var draggieX = $draggableX.data('draggabilly');
		var draggieY = $draggableY.data('draggabilly');

		// when the document loads, get the current position of the flag (in px) using the
		// draggie object (contains data) that we just made. this is used later to
		// do some math.
		var draggieXStartPos = draggieX.position.x;
		var draggieYStartPos = draggieY.position.y;


		// when the flag is dragged, update the text to show the position in inches.
		// bind the dragMove event to the draggable object.
		$draggableX.on('dragMove', function () {
			var xValue = convertPxToUnit(draggieX.position.x - draggieXStartPos);
			if (xValue < closeToZeroTolerance) {
				xValue = formatPosition(0);
			}
			$xValue.text(xValue);
		})
		$draggableY.on('dragMove', function () {
			var yValue = convertPxToUnit(draggieYStartPos - draggieY.position.y);
			if (yValue <= closeToZeroTolerance) {
				yValue = formatPosition(0);
			}
			$yValue.text(yValue);
		})

		// when you remove your finger from the flag, ask the machine to move to that position
		$draggableX.on('dragEnd', function () {
			socket.emit('jog-jog__XY', getHomePosition(), machineUnit);
			console.log('moving X to ' + getXposition());
		})
		$draggableY.on('dragEnd', function () {
			// If the goal position is close to 0, then just set it to 0.
			if(getYposition() <= closeToZeroTolerance) {
				setYposition(0.0);
			}
			socket.emit('jog-jog__XY', getHomePosition(), machineUnit);
			console.log('moving Y to ' + getYposition());
		})

		// ---------- JOGGING HELPER FUNCTIONS ----------
		// @function convertPxToUnit - takes in a pixel measurements and converts it to machineUnit.
		// @param1 - pixel position
		function convertPxToUnit(pixels) {
			if(machineUnit == "MM") {
				return (pixels / pxPerMM).toFixed(2);
			}
			else {
				return (pixels / pxPerIN).toFixed(3);
			}
		}
		function formatPosition(value) {
			if(machineUnit == "MM") {
				return value.toFixed(2);
			}
			else {
				return value.toFixed(3);
			}
		}
		function convertToPx(distance) {
			if(machineUnit == "MM") {
				return (distance * pxPerMM).toFixed(1);
			}
			else {
				return (distance * pxPerIN).toFixed(1);
			}
		}
	script(src="/javascripts/homingDialog.js")