doctype html
html
	head
		title= title
		meta(charset="utf-8")

		// material design css and js
		link(rel="stylesheet" href="/stylesheets/material.min.css")
		link(rel='stylesheet', href='/stylesheets/material-icons.css' media='all' type='text/css')
		script(src="/javascripts/material.min.js")
		// custom CSS
		link(rel='stylesheet', href='/stylesheets/custom.css')

		// socket io
		script(src = "/socket.io/socket.io.js")
		// jquery
		script(src="/javascripts/jquery-1.12.4.min.js")

		// numpad files
		link(rel="stylesheet" href="/stylesheets/jquery.numpad.css" media='all' type='text/css')
		script(src="/javascripts/jquery.numpad.js" type="text/javascript")

		// draggabilly
		script(src="/javascripts/draggabilly.pkgd.min.js")

		// alphabet keyboard files
		link(rel="stylesheet" href="/stylesheets/alpha-keyboard/jsKeyboard.css" type="text/css" media="screen")

		// jogging layout
		link(rel="stylesheet" href="/stylesheets/jog.css" media='all' type='text/css')

	body
		block content