doctype html
html
	head
		title= title
		meta(charset="utf-8")

		// material design css and js
		link(rel="stylesheet" href="/stylesheets/material.min.css")
		link(rel='stylesheet', href='/stylesheets/material-icons.css' media='all' type='text/css')
		script(src="/javascripts/material.min.js")
		// custom CSS
		link(rel='stylesheet', href='/stylesheets/custom.css')

		// virtual keyboard files
		//link(rel="stylesheet" href="/stylesheets/virtual-keyboard/jquery-ui.min.css")
		// for keyboard theme
		//link(rel="stylesheet" href="/stylesheets/virtual-keyboard/keyboard.css")

		// socket io
		script(src = "/socket.io/socket.io.js")
		// jquery
		script(src="/javascripts/jquery-1.12.4.min.js")


	body
		block content