extends layout

block content

	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/home')
					i.material-icons keyboard_arrow_left
				a(href='/home').home-btn-icon
					i.material-icons home
				span.mdl-layout-title New job
		main.mdl-layout__content
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--8-col.centered
						h3 Select a job file.
					.mdl-cell.mdl-cell--4-col.centered
						button(onclick="location.href='fileupload'").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.large-primary-button
							i.material-icons usb
							span From USB
					.mdl-cell.mdl-cell--4-col
						button(onclick="location.href='selectfile'").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.large-primary-button
							i.material-icons file_download
							span From file server

	script(src="/javascripts/filescripts.js")
