extends layout

block content
	style.
		body {
			height: 460px;
			overflow: hidden;
		}

	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.grid-lines
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/processes?fileName=' + jobName)
					i.material-icons keyboard_arrow_left
				a(href='/home').home-btn-icon
					i.material-icons home
				span.mdl-layout-title Preview file
		main.mdl-layout__content
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--8-col#filePreview-container
						p= fileName
						if(previewExists === false)
							h2 File preview not found. Please check fabcreator.
						p#preview__loading-status Loading preview...
						#previewfile-viewButtons
							button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.resetView-button
								i.material-icons visibility
			#threejs-container

		button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.done-button
			i.material-icons done

	include includes/statusDialog.pug
	//- use jade to get URL parameters
	script(src="/socket.io/socket.io.js")
	script.

		var bounds = JSON.parse('!{bounds}');
		var boundsWidth = convertToPx(bounds.xMax - bounds.xMin);
		var boundsHeight = convertToPx(bounds.yMax - bounds.yMin);

		function convertToPx(inches) {
			return (inches * 10).toFixed(1);
		}

		var socket = io(self.location.host);
		$(window).ready(function () {
			fileName = '#{jobName}';
			var previewExists = #{previewExists};
			var previewFileName = '#{previewFileName}';
			var $loadingStatus = $('#preview__loading-status');
			var $doneBtn = $('.done-button');

			// done button pressed
			$doneBtn.on('click', function () {
				$doneBtn.prop('disabled', true);
				location.href = '/processes?fileName=' + fileName;
				console.log(fileName);
			});

			// depending on which file is used, load the right geometry.
			var scriptLocation = "#{previewPath}";
			$.ajaxSetup(
				{
					'cache': true,
					error: function (jqXHR, textStatus, errorThrown) {
						console.log('ERROR')
						console.log(jqXHR)
						console.log(textStatus)
						console.log(errorThrown)
					},
					timeout: 0
				}
			);

			// IMPORTANT line for three.js preview, must be loaded before geometry is loaded
			group = new THREE.Group();

			if(previewExists == true) {
				// load the correct preview .js file
				$.getScript(scriptLocation)
						.done(function (script, textStatus) {
							console.log('loaded preview at ' + scriptLocation);
							// script is now loaded and executed.
							// now dynamically load the preview scripts - they must be loaded after the tube geometry
							var previewScripts = document.createElement('script');
							previewScripts.setAttribute('src', '/javascripts/previewFileScripts.js');
							document.body.appendChild(previewScripts);

							// hide the loading status
							$loadingStatus.hide();

							// reset view button pressed
							$('.resetView-button').on('click', function () {
								resetView();
							});
						})
						.fail(function (jqxhr, settings, exception) {
							console.log(exception);
							alert(exception);
						})
			}

		});

	//three.js javascripts
	script(src="/javascripts/threejs/three.min.js")
	script(src="/javascripts/threejs/OrbitControls.js")
	script(src="/javascripts/threejs/Detector.js")
	script(src="/javascripts/threejs/stats.min.js")
	script(src="/javascripts/statusDialog.js")