extends layoutWithKeypad

block content
	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row(style="padding-left: 20px;")
				- var p = JSON.parse(displayProcess)
				- console.log(p)
				- var unitForDisplay = (p.properties.unit_name == "IN")? "\"": "mm"
				- var material = p.properties.material_name + ' '
				- if("material_type" in p.properties) { material+= p.properties.material_type + ' '}
				if(p.properties.stock_type == "TUBE")
					- material+= p.properties.tube_shape + ' TUBE, ' + p.properties.thickness_value + unitForDisplay + ' wall, '
					if(p.properties.tube_shape == "ROUND")
						- material += p.properties.diameter + ' diameter'
					else
						- material += p.properties.width + unitForDisplay + ' by ' + p.properties.height + unitForDisplay + ' with corner radius ' + p.properties.corner_radius + unitForDisplay
				else
					- material+= 'SHEET, ' + p.properties.thickness_value + ' ' + unitForDisplay + ' thick'

				span.mdl-layout-title.lighter(style="margin-left:0") Editing #{p.processes[0].name} process
					br
					span.subtitle !{material} &nbsp;

				- var user = p.properties.user_id;
				div(style="position: absolute; right: 16px;")
					- var opt = JSON.parse(paramOptions)
					button#process-details_settings_button.mdl-button.mdl-js-button
						if p.processes[0].temporary == "true"
							span.process-details_icon-label Temp
							i.material-icons star
						else if opt.userInfo[p.processes[0].params.user_id] == "USER"
							span.process-details_icon-label Custom
							i.material-icons person
						else if opt.userInfo[p.processes[0].params.user_id] == "FACTORY"
							span.process-details_icon-label Factory
							i.material-icons verified_user
						else
							i.material-icons settings


		main.mdl-layout__content(style="overflow:hidden;")
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop

						form(action='#')#processes_paramForm
							if(currentUnit == "MM")
								include includes/processParamsMM.pug
							else
								include includes/processParams.pug
							br
							br
							button(type='button')#temp-process-btn.mdl-button.mdl-button--raised.mdl-button--colored Use Temporary
							button(type='button')#accept-process-btn.mdl-button.mdl-button--raised.mdl-button--colored Accept
							button(type='button')#cancel-process-btn.mdl-button.mdl-button--raised Cancel
							br
							span#process__status.red

	dialog#user-dialog.mdl-dialog
		h4.mdl-dialog__title#user-dialog__title
		.mdl-dialog__content#user-dialog__content
			p
		.mdl-dialog__actions
			button(type='button')#user-dialog__closeButton.mdl-button.close Close
			button(type='button')#user-dialog__actionButton.mdl-button
			button(type='button')#user-dialog__actionButton2.mdl-button

	include includes/statusDialog.pug

	script(src = "/javascripts/jquery.serializejson.js")
	script(src="/javascripts/virtual-keyboard/jquery.keyboard.js")
	script(src="/socket.io/socket.io.js")
	script.
		var socket = io(self.location.host);
		var fileName = '#{fileName}';
		var currentUnit = '#{currentUnit}';
		var process = !{process};
		var currentProcess = process.processes[0];
		var currentProcessName = process.processes[0].name;
		var materialName = process.properties.material_name;
		var thicknessValue = process.properties.thickness_value;
		var thicknessUnit = process.properties.unit_name;
		var machineGas = process.gas;
		var containsRaster = '#{containsRaster}';
		var laserModeValue = process.processes[0].params.laser_mode;
		var $status = $('#process__status');
		var $settingsButton = $('#process-details_settings_button');
		var $acceptButton = $('#accept-process-btn');
		var $tempButton = $('#temp-process-btn');
		var $cancelButton = $('#cancel-process-btn');
		// factory/user/temp dialog
		var paramOptions = !{paramOptions};
		var usingTempProcess = (currentProcess.temporary == "true");
		var usingFactoryProcess = ((usingTempProcess == false) && paramOptions.userInfo[process.processes[0].params.user_id] == "FACTORY");
		var usingUserProcess = ((usingTempProcess == false) && paramOptions.userInfo[process.processes[0].params.user_id] == "USER");

		// Custom process dialog
		var factoryExists;
		var userExists;
		var userDialogContent = $('#user-dialog__content');
		var userDialogHeader = $('#user-dialog__title');
		var userDialog = document.querySelector('#user-dialog');
		var $userDialogCloseButton = $('#user-dialog__closeButton');
		var $useFactoryProcessButton = $('#user-dialog__actionButton');
		var $useCustomProcessButton = $('#user-dialog__actionButton2');
		if (!userDialog.showModal) {
			dialogPolyfill.registerDialog(userDialog);
		}
		userDialog.querySelector('.close').addEventListener('click', function () {
			// if the dialog is open, then close it.
			if (userDialog.open == true) {
				userDialog.close();
			}
		});

		// =========== DOCUMENT READY ===========
		$(document).ready(function () {
			// Only show the temporary button if the current process is not temporary.
			$cancelButton.on('click', function() {
				socket.emit('processes_cancel-process-changes', process);
			});
			socket.on('processes_cancel-process-changes-result', function(originalObj) {
				var params = {
					fileName: fileName
				};
				location.href = '/processes?' + jQuery.param(params);
				redirectToProcessesPage();
			})

			// Update radio buttons only if CUT or ENGRAVE.
			if((currentProcessName === "CUT") || (currentProcessName === "ENGRAVE")) {
				// update the laser mode radio button
				setTimeout(function () {
					document.getElementById('lmode' + laserModeValue).parentNode.MaterialRadio.check();
				}, 1000);
				// update the accel radio button
				var accelValue = process.processes[0].params.acceleration;
				if (accelValue.length == 0) {
					accelValue = 1;
				}
				setTimeout(function () {
					document.getElementById('accel' + accelValue).parentNode.MaterialRadio.check();
				}, 1000);
			}
			// ---------- for numpad ---------- //
			// set up listener events
			// make all the params clickable
			for (var paramName in mapLaserAttributesToIDs) {
				var boxClass = mapLaserAttributesToIDs[paramName];
				if (boxClass != null) {
					// first get the css id of the parameter
					//console.log('paramName: ' + paramName + '\t value: ' + attribs[paramName])
					var cssID = boxClass;
					$('#' + cssID).numpad({
						position: 'fixed',
						positionX: 'center',
						positionY: 'middle',
						decimalSeparator: '.'
						//hidePlusMinusButton: true
					});
				}
			}
			// ---------- SETTINGS BUTTON ---------- //
			$settingsButton.on('click', function () {
				// Show USER vs FACTORY dialog
				if (userDialog.open == false) {
					userDialog.show();
				}
			})
			// Log USER vs FACTORY.
			if(process.processes[0].temporary == "true") {
				console.log('Using Temporary process.')
			}
			if (userExists == true) {
				if (factoryExists == true) {	// factory AND user exists
					console.log('User AND Factory exist.')
				} else {
					console.log('Only User exists.')
				}
			} else {
				console.log('Only factory exists.')
			}

		});	// end of document.ready

		// ---------- USER vs FACTORY DIALOG ---------- //
		setUpDialogContent();

		/*  ----------- temp vs db process dialog BUTTONS  -----------  */
		$useFactoryProcessButton.on('click', function() {
			// get the params from optionList
			var factoryParams;
			for(var i = 0; i < optionsList.length; i++) {
				if(optionsList[i].name == "FACTORY") {
					factoryParams = optionsList[i].params;
				}
			}
			socket.emit('processes_switch-user', {
				process: process,
				switchTo: 'FACTORY',
				currentProcessTemporary: process.processes[0].temporary
			});
		});
		$useCustomProcessButton.on('click', function () {
			// get the params from optionList
			var userParams;
			for (var i = 0; i < optionsList.length; i++) {
				if (optionsList[i].name == "USER") {
					userParams = optionsList[i].params;
				}
			}
			socket.emit('processes_switch-user', {
				process: process,
				switchTo: 'USER',
				currentProcessTemporary: process.processes[0].temporary
			});
		});
		socket.on('process_switch-user-complete', function(result) {
			if(result.err != null) {
				// Error
			}
			else {
				// Refresh the page.
				var refresh = {
					fileName: fileName,
					process: result.process,
					selectedProcessName: result.process.processes[0].name
				}
				console.log('Going to Details Page with params:\n' + refresh);
				location.href = '/processes/details?' + jQuery.param(refresh);
				userDialog.close();
			}
		});

		/*  ----------- PUT to /processes  -----------  */
		// The ACCEPT button has different behaviors depending on if the current process is USER, FACTORY, or TEMP.
		// If USER: Send PUT request to /processes to update the user parameter.
		// If FACTORY: IFF params are different than the processObj (original obj from page load) then
		//		save/update USER process. Switch to user.
		//		If they are the same, them update the master process obj on the server and return to /processes.
		// If Temporary: Same as USER. Save process to database.
		$acceptButton.on('click', function () {
			if (isAnythingInvalid() == true) {
				$status.text('Please fix the process param errors.');
			}
			else {
				if (usingTempProcess) {
					updateUserProcess();
				}
				else if (usingFactoryProcess) {
					// Check if parameters on the page now are different from the processObject.
					var currentParameters = makeJSONprocessTable();
					var paramsWereModified = false;
					for(var p in currentParameters) {
						if(currentParameters[p] != currentProcess.params[p]) {
							paramsWereModified = true;
						}
					}
					if(paramsWereModified) {
						updateUserProcess();
					}
					else {
						socket.emit('processes_update-master-process-obj', process);
					}
				}
				else { // usingUserProcess
					updateUserProcess();
				}
			}
		});
		socket.on('processes_update-master-process-obj-result', function() {
			redirectToProcessesPage();
		})
		// ---------- temporary process ---------- //
		$tempButton.on('click', function() {
			if (isAnythingInvalid() == true) {
				$status.text('Please fix the process param errors.');
			}
			else {
				updateTemporaryProcess();
			}
		});

		// ---------- for validation ---------- //
		// get the regex in the "pattern" attribute of the input and apply it
		$('.mdl-js-textfield').on('change', function () {
			validateInput(this);
		});

		function validateInput(input) {
			var pattern = new RegExp(input.children[0].pattern);
			var valid = pattern.test(input.children[0].value);
			//console.log('\npattern ' + pattern + '\nvalue ' + input.children[0].value + '\nvalid ' + valid);
			if (valid) {
				$(input).removeClass('is-invalid');
			}
			else {
				$(input).addClass('is-invalid');
			}
		}

		// returns a boolean
		function isAnythingInvalid() {
			var invalidInputArray = document.getElementsByClassName("is-invalid");
			var allInputsValid = !(invalidInputArray.length > 0);
			// only check radio button validity if the process is CUT or ENGRAVE.
			var allRadioButtonsValid = true;
			if (process.processes[0].name != "RASTER") {
				// there are 2 sets of radio buttons on the page (accel and mode)
				// verify they are both checked, hence == 2
				allRadioButtonsValid = ($('.is-checked').length == 2);
			}
			return !((allInputsValid == true) && (allRadioButtonsValid == true));
		}

		// ---------- helper functions ---------- //
		function updateUserProcess() {
			$status.text('Loading...');
			$status.removeClass('red');
			$acceptButton.prop('disabled', true);
			var processObj = makeJSONprocessTable();
			var data = {
				"fileName": fileName,
				"process": process,
				"updateData": {
					"typeOfUpdate": "params",
					"data": processObj,
					"temporary": false
				}
			}
			$.ajax({
				url: '/processes/',
				type: 'PUT',
				data: {
					data: JSON.stringify(data)
				},
				success: function () {
					redirectToProcessesPage();
					console.log(success);
				},
				error: function (JqXHR, errString, err) {

				}
			});
		}

		function updateTemporaryProcess() {
			$status.removeClass('red');
			$status.text('Loading...');
			$tempButton.prop('disabled', true);
			var processObj = makeJSONprocessTable();
			var data = {
				"fileName": fileName,
				"process": process,
				"updateData": {
					"typeOfUpdate": "params",
					"data": processObj,
					"temporary": true
				}
			}
			$.ajax({
				url: '/processes/',
				type: 'PUT',
				data: {
					data: JSON.stringify(data)
				},
				success: function () {
					redirectToProcessesPage();
					console.log(success);
				},
				error: function (JqXHR, errString, err) {
					console.log(error);
				}
			});
		}

		function makeJSONprocessTable() {
			var processTableObj = $('#processes_paramForm').serializeJSON();
			// add these manually here, so user doesn't have to input every time
			processTableObj["gas_delay"] = "0";
			processTableObj["lift_height"] = "0.5";
			// if these exist on the page, make them too:
			processTableObj["gas_id"] = process.processes[0].params.gas_id;
			processTableObj["is_default"] = process.processes[0].params.is_default;
			processTableObj["laser_parameter_id"] = process.processes[0].params.laser_parameter_id;
			processTableObj["user_id"] = process.processes[0].params.user_id;
			processTableObj["unit"] = currentUnit;
			// Only add the default pierce gas delay if it's a CUT process
			if (currentProcessName == "CUT") {
				processTableObj["pierce_gas_delay"] = "0";
			}
			// For raster and engrave, manually turn off the pierce.
			else {
				processTableObj["pierce_duration"] = 0;
				processTableObj["pierce_power"] = 0;
			}
			return processTableObj;
		}

		function redirectToProcessesPage() {
			var params = {
				fileName: fileName
			};
			location.href = '/processes?' + jQuery.param(params);
		}

		// used to add the is-dirty class to material objs
		function makeDirty(e) {
			$(e).addClass('is-dirty');
		}

		// given a params object, fill in all the boxes
		function populateParams(paramsObj) {
			// fill in laser mode radio button. make sure we are using modes only modes 0 and 2.
			var laserMode = paramsObj.laser_mode;
			if((laserMode == 0) && (laserMode == 2)) { // accepted laser modes
				document.getElementById('lmode' + laserMode).parentNode.MaterialRadio.check();
			}
			// update the accel radio button only if the process is ENGRAVE or CUT
			if (currentProcessName != "RASTER") {
				var accelValue = paramsObj.acceleration;
				if (accelValue == null) {
					accelValue = 1;
				}
				document.getElementById('accel' + accelValue).parentNode.MaterialRadio.check();
			}
			for(var p in mapLaserAttributesToIDs) {	// p is KEY
				var value = paramsObj[p];
				$('#' + mapLaserAttributesToIDs[p]).val(value)
			}
		}

		// use this to map the server-side laser attribues (in db) to the CSS IDs.
		var mapLaserAttributesToIDs = {
			nozzle_gap: 'cut-height',
			pressure: 'cut-gas-pressure',
			focus_offset: 'focal-offset',
			lift_height: 'lift-height',
			pierce_duration: 'pierce-duration',
			pierce_frequency: 'pierce-frequency',
			pierce_nozzle_gap: 'pierce-height',
			pierce_power: 'pierce-power',
			pierce_pressure: 'pierce-gas-pressure',
			pierce_pulses: 'pierce-pulses',
			frequency: 'cut-frequency',
			min_power: 'min-cut-power',
			power: 'cut-power',
			feedrate: 'cut-speed',
			kerf: 'kerf'
		}

		function round(value, decimals) {
			return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
		}

		// ------------------- DIALOG ------------------ //
		var optionsList;
		function setUpDialogContent() {
			var userInfo = paramOptions.userInfo;
			optionsList = paramOptions.optionsList;
			/* optionsList is an array of objects of the form
			{ exists: <bool>
			name: <str>
			params: <obj> } */
			userExists = false;
			factoryExists = false;
			for (var i = 0; i < optionsList.length; i++) {
				if (optionsList[i].name == "USER") {
					userExists = true;
				}
				else if (optionsList[i].name == "FACTORY") {
					factoryExists = true;
				}
			}
			// set up the dialog content
			if (usingTempProcess) {
				userDialogHeader.text('You are using a temporary process.');
				//console.log('User exists? ' + userExists + ' typeof ' + typeof userExists);
				if (userExists == true) {
					if (factoryExists == true) {	// factory AND user exists
						userDialogContent.html('There are two saved processes available for this material, ' +
								'the factory default and a custom process.' +
								'<br><br>Would you like to use the factory default or custom process?' +
								'<br><br><span class="red"><i class="material-icons">warning</i>' +
								'WARNING: Your temporary process will be overwritten.</span>');
						$useFactoryProcessButton.text('Use factory process');
						$useCustomProcessButton.text('Use custom process')
						$useFactoryProcessButton.show();
						$useCustomProcessButton.show();
						$userDialogCloseButton.show();
					} else {	 // only user exists
						userDialogContent.html('There is one saved process available for this material, ' +
								'a custom process.' +
								'<br><br>Would you like to use this process?' +
								'<br><br><span class="red"><i class="material-icons">warning</i>' +
								'WARNING: Your temporary process will be overwritten.</span>');
						$useCustomProcessButton.text('Use custom process');
						$useFactoryProcessButton.hide();
						$useCustomProcessButton.show();
						$userDialogCloseButton.show();
					}
				} else { // only factory exists
					userDialogContent.html('There is one saved process available for this material, ' +
							'the factory default setting.' +
							'<br><br>Would you like to use this process?' +
							'<br><br><span class="red"><i class="material-icons">warning</i>' +
							'WARNING: Your temporary process will be overwritten.</span>');
					$useFactoryProcessButton.text('Use factory process');
					$useFactoryProcessButton.show();
					$useCustomProcessButton.hide();
					$userDialogCloseButton.show();
				}
			}
			else {	// currently using USER DB params
				if (usingUserProcess) {
					// currently using USER db process
					userDialogHeader.text('You are using a custom saved process.');
					if (factoryExists == true) {
						userDialogContent.html('There is a factory process available for this material.' +
								'<br><br>Use factory settings? Your custom process will be saved.');
						$useFactoryProcessButton.text('Use factory process');
						$useCustomProcessButton.text('');
						$useFactoryProcessButton.show();
						$useCustomProcessButton.hide();
						$userDialogCloseButton.show();
					} else {
						userDialogContent.html('There are no other saved processes for this material.' +
								'<br><br>Create a temporary process by pressing the USE TEMPORARY button.' +
								'<br><br>Save your parameters with the SAVE button.');
						$useFactoryProcessButton.text('');
						$useCustomProcessButton.text('');
						$useFactoryProcessButton.hide();
						$useCustomProcessButton.hide();
						$userDialogCloseButton.show();
					}
				}
				else {	// currently using FACTORY db process
					userDialogHeader.text('You are using the factory default process.');
					if (userExists == true) {
						userDialogContent.html('There is a custom user process available for this material.' +
								'<br><br>Use the custom process?');
						$useFactoryProcessButton.text('');
						$useCustomProcessButton.text('Use custom process');
						$useFactoryProcessButton.hide();
						$useCustomProcessButton.show();
						$userDialogCloseButton.show();
					}
					else {
						userDialogContent.html('There are no other saved processes for this material.' +
								'<br><br>Create a temporary process by pressing the USE TEMPORARY button.' +
								'<br><br>Create a custom saved process with the SAVE button.');
						$useFactoryProcessButton.text('');
						$useCustomProcessButton.text('');
						$useFactoryProcessButton.hide();
						$useCustomProcessButton.hide();
						$userDialogCloseButton.show();
					}
				}
			}
		}
	script(src='/javascripts/statusDialog.js')