extends layoutWithKeypad

block content
	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				- var p = JSON.parse(process);
				- if(displayProcess != null) { p = JSON.parse(displayProcess) };
				- var unitForDisplay = (p.properties.unit_name == "IN")? "\"": "mm"
				- var material = p.properties.material_name + ' '
				- if("material_type" in p.properties) { material+= p.properties.material_type + ' '}
				if(p.properties.stock_type == "TUBE")
					- material+= p.properties.tube_shape + ' TUBE, ' + p.properties.thickness_value + unitForDisplay + ' wall, '
					if(p.properties.tube_shape == "ROUND")
						- material += p.properties.diameter + ' diameter'
					else
						- material += p.properties.width + unitForDisplay + ' by ' + p.properties.height + unitForDisplay + ' with corner radius ' + p.properties.corner_radius + unitForDisplay
				else
					- material+= 'SHEET, ' + p.properties.thickness_value + ' ' + unitForDisplay + ' thick'
				span.mdl-layout-title.lighter(style="margin-left:0") Creating #{p.processes[0].name} process
					br
					span.subtitle !{material} &nbsp;
		main.mdl-layout__content(style="overflow:hidden;")
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop
						form(action='#')#processes_paramForm
							if(typeof p.processes[0].params == "undefined")
								if(currentUnit == "MM")
									include includes/blankProcessParamsMM.pug
								else
									include includes/blankProcessParams.pug
							else
								if(currentUnit == "MM")
									include includes/processParamsMM.pug
								else
									include includes/processParams.pug
							br
							br
							button(type='button')#create-process-btn.mdl-button.mdl-button--raised.mdl-button--colored Save
							button(type='button')#cancel-process-btn.mdl-button.mdl-button--raised Cancel
							br
							span#process__status.red

		#virtualKeyboard

	dialog.mdl-dialog
		h4.mdl-dialog__title Copy material
		.mdl-dialog__content
			p The file you have selected does not have a material and thickness found on this machine.
			p You will have to create a new process from an existing process.

		.mdl-dialog__actions
			button.mdl-button(type='button') Create new process

	include includes/statusDialog.pug
	script(src = "/javascripts/jquery.serializejson.js")
	script(type="text/javascript" src="/javascripts/alpha-keyboard/jsKeyboard.js")
	script(src="/socket.io/socket.io.js")
	script.
		function generalizeString(string) {
			return string.trim().replace(/\s+/g, '_').trim().toUpperCase();
		}
		var socket = io(self.location.host);
		// values from server
		var process = !{process};
		var fileName = '#{file_name}';
		var currentUnit = '#{currentUnit}';
		var currentProcess = process.processes[0];
		// TO DO get process_to_copy from server for showing "process copied from..."
		var currentMachineGas = generalizeString('#{machineGas}');
		var laserModeValue = ("params" in process.processes[0]) ? process.processes[0].params.laser_mode: null;
		var accelValue = ("params" in process.processes[0]) ? process.processes[0].params.acceleration: null;
		var defaultKerf = !{default_kerf};

		// jquery objects
		var $newMaterialNameInput = $('#material-input');
		var $newMaterialNameInputInput = $('#material-input input');
		var $newThicknessValueInput = $('#thickness-input');
		var $createProcessBtn = $('#create-process-btn');
		var $cancelProcessButton = $('#cancel-process-btn');
		var $processParamForm = $('#processes_paramForm');
		var $status = $('#process__status');


		// =================================== //
		// ========= DOCUMENT READY ========== //
		$(document).ready(function () {
			//dialog.showModal();
			updateRadioButtons();

			// ---------- for numpad ---------- //
			// set up listener events
			// make all the params clickable
			for (var paramName in mapLaserAttributesToIDs) {
				var boxClass = mapLaserAttributesToIDs[paramName];
				if (boxClass != null) {
					// first get the css id of the parameter
					//console.log('paramName: ' + paramName + '\t value: ' + attribs[paramName])
					var cssID = boxClass;
					$('#' + cssID).numpad({
						position: 'fixed',
						positionX: 'center',
						positionY: 'middle',
						decimalSeparator: '.'
						//hidePlusMinusButton: true
					});
				}
			}
			// ---------- for save process button ---------- //
			// send a POST request to /processes
			$createProcessBtn.on('click', function () {
				// check if inputs are valid
				if (isAnythingInvalid() == true) {
					$status.text('Please fix the process param errors.');
				}
				else {
					$status.removeClass('red');
					$status.text('Loading...');
					$createProcessBtn.prop('disabled', true);
					$cancelProcessButton.prop('disabled', true);
					// move to process creator page with given info
					var dataToSend = process;
					// replace existing params in the object w/ones from the page.
					dataToSend.processes[0].params = makeJSONprocessTable();
					console.log(dataToSend);
					$.ajax({
						type: "POST",
						url: '/processes/',
						data: dataToSend,
						success: function () {
							// go back to the processes page
							var str = jQuery.param({fileName: fileName});
							window.location.href = location.origin + '/processes?' + str;
						}
					});
				}
			});
			// ---------- for cancel button ---------- //
			$cancelProcessButton.on('click', function () {
				// redirect to the process page
				var params = {
					fileName: fileName
				};
				location.href = '/processes?' + jQuery.param(params);
			});
		});

		window.onload = function() {
			// If we're loading a set of blank params, make all text boxes dirty.
			if (typeof currentProcess.params == "undefined") {
				var eArray = document.getElementById('processes_paramForm');
				for (var i = 0; i < eArray.children.length; i++) {
					var curE = eArray[i];
					if (typeof curE !== "undefined") {
						if (((curE.id.indexOf('lmode') == -1) &&
								(curE.id.indexOf('accel') == -1)) &&
								(curE.id.indexOf('btn') == -1)) {
							$("#" + curE.id).parent().addClass("is-dirty");
						}
					}
				}
			}
			// Set the default kerf if we are using a CUT process and the kerf is not provided in the process
			if((currentProcess.name == 'CUT')) {
				if(typeof process.processes[0].params == 'undefined') {
					updateInput('kerf', defaultKerf);
				}
			}
		};

		// ---------- for validation ---------- //
		// get the regex in the "pattern" attribute of the input and apply it
		$('.mdl-js-textfield').on('change', function () {
			validateInput(this);
		});

		function validateInput(input) {
			var pattern = new RegExp(input.children[0].pattern);
			var valid = pattern.test(input.children[0].value);
			//console.log('\npattern ' + pattern + '\nvalue ' + input.children[0].value + '\nvalid ' + valid);
			if (valid) {
				$(input).removeClass('is-invalid');
			}
			else {
				$(input).addClass('is-invalid');
			}
		}

		/* TRUE if input boxes and/or radio buttons are invalid
		FALSE if everything is valid. */
		function isAnythingInvalid() {
			var invalidInputArray = document.getElementsByClassName("is-invalid");
			var allInputsValid = !(invalidInputArray.length > 0);
			var allRadioButtonsValid = true;
			// ONLY if CUT or ENGRAVE, need to check the radio buttons are filled in.
			if(currentProcess.name != "RASTER") {
				// == 2 because there are 2 sets of radio buttons on the page (accel and mode)
				allRadioButtonsValid = ($('.is-checked').length == 2);
			}
			// Check for blank input boxes
			for(var laserAttribute in mapLaserAttributesToIDs) {
				var cssID = mapLaserAttributesToIDs[laserAttribute];
				if($('#' + cssID).val() == "") {
					allInputsValid = false;
				}
			}
			return (allInputsValid == false) || (allRadioButtonsValid == false);
		}

		// ------ Virtual alpha keyboard ------ //
		$(function () {
			jsKeyboard.init("virtualKeyboard");

			//first input focus
			var $firstInput = $(':input').first().focus();
			jsKeyboard.currentElement = $firstInput;
			jsKeyboard.currentElementCursorPosition = 0;
		});

		// ---------- for dialog ---------- //
		var dialog = document.querySelector('dialog');
		if (!dialog.showModal) {
			dialogPolyfill.registerDialog(dialog);
		}

		// --------- helper functions ---------- //
		// used for sending the param form data to the next page
		function makeJSONprocessTable() {
			var processTableObj = $processParamForm.serializeJSON();
			processTableObj["gas_delay"] = "0";
			processTableObj["pierce_gas_delay"] = "0";
			processTableObj["lift_height"] = "0.5";
			processTableObj["unit"] = currentUnit;
			return processTableObj;
		}

		function round(value, decimals) {
			return Number(Math.round(value + 'e' + decimals) + 'e-' + decimals);
		}

		// --------- for updating the inputs ---------- //
		function updateRadioButtons() {
			// Radio buttons don't show up in the Raster.
			if(currentProcess.name != "RASTER") {
				if (laserModeValue != null) {	// update the laser mode radio button
					setTimeout(function () {
						document.getElementById('lmode' + laserModeValue).parentNode.MaterialRadio.check();
					}, 1000);
				}
				// update the accel radio button
				if (accelValue == null) {	// if no acceleration is provided, set to 1 = medium
					setTimeout(function () {
						document.getElementById('accel' + 1).parentNode.MaterialRadio.check();
					}, 1000);
				}
				else {
					setTimeout(function () {
						document.getElementById('accel' + accelValue).parentNode.MaterialRadio.check();
					}, 1000);
				}
			}
		}

		// used to add the is-dirty class to material objs
		function makeDirty(e) {
			$(e).addClass('is-dirty');
		}

		// updates the fields to a certain value
		function updateInput(id, value) {
			// special case for the laser mode because it's a radio button.
			// mdl doesn't use the standard jquery .prop('checked', true) to check a button.
			// you have to use the MaterialRadio js class.
			if (id == 'lmode-select') {
				if((document.getElementById('lmode0') != null) && (value != null)) {
					setTimeout(function () {
						document.getElementById('lmode' + value).parentNode.MaterialRadio.check();
					}, 1500);
				}
			}
			else if (id == 'raster-accel') {
				if((document.getElementById('raster-accel-0') != null) && (value != null)) {
					setTimeout(function () {
						document.getElementById('raster-accel-' + value).parentNode.MaterialRadio.check();
					}, 1500);
				}
			}
			else {
				// the 'is-dirty' must be added to mdl to refresh the checked box
				$('#' + id).val(value).parent().addClass('is-dirty');
			}
		}

		// use this to map the server-side laser attribues (in db) to the CSS IDs.
		var mapLaserAttributesToIDs = {
			gas_delay: 'cut-gas-delay',
			nozzle_gap: 'cut-height',
			pressure: 'cut-gas-pressure',
			focus_offset: 'focal-offset',
			laser_mode: 'laser-mode',
			lift_height: 'lift-height',
			pierce_laser_mode: null,
			pierce_duration: 'pierce-duration',
			pierce_frequency: 'pierce-frequency',
			pierce_nozzle_gap: 'pierce-height',
			pierce_power: 'pierce-power',
			pierce_pressure: 'pierce-gas-pressure',
			pierce_pulses: 'pierce-pulses',
			frequency: 'cut-frequency',
			min_power: 'min-cut-power',
			power: 'cut-power',
			feedrate: 'cut-speed',
			pierce_gas_delay: 'pierce-gas-delay',
			kerf: 'kerf'
		};
	script(src='/javascripts/statusDialog.js')