extends layoutWithKeypad

block content
	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/' + previousPage)
					i.material-icons keyboard_arrow_left
				a(href='/home').home-btn-icon
					i.material-icons home
				span.mdl-layout-title= title
				span.header-file-name= fileName
		main.mdl-layout__content
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop
						- var pinSettingsJS = JSON.parse(pinSettings)
						if err != null
							h2 Please reprocess file using the latest version of fabcreator.
						else
							- var p = JSON.parse(process)
							- var dp = JSON.parse(displayProcess)
							span.lighter#processes_process-string
							br
							a#processes_open-change-gas-dialog.mdl-button.mdl-js-ripple-effect.blue
								i.material-icons av_timer
								| Current Gas: !{JSON.parse(process).gas}
							a#processes_preview-file(href='/preview?fileName=' + fileName).mdl-button.mdl-js-ripple-effect.blue
								i.material-icons visibility
								| Preview File
							script.
								var p = !{process}
								var unitForDisplay = (p.properties.unit_name == "IN") ? "\"" : "mm"
								var material = p.properties.material_name + ' '
								if ("material_type" in p.properties) {
									material += p.properties.material_type + ' '
								}
								if (p.properties.stock_type == "TUBE") {
									material += p.properties.tube_shape + ' TUBE, ' + p.properties.thickness_value + unitForDisplay + ' wall, '
									if (p.properties.tube_shape == "ROUND") {
										material += p.properties.diameter + ' diameter'
									} else {
										material += p.properties.width + unitForDisplay + ' by ' + p.properties.height + unitForDisplay + ' with corner radius ' + p.properties.corner_radius + unitForDisplay
									}
								} else {
									material += 'SHEET, ' + p.properties.thickness_value + ' ' + unitForDisplay + ' thick'
								}
								material += '\t'
								document.getElementById('processes_process-string').innerHTML = material

							div
								// check if each process exists or not
								each process in dp.processes
									.processtablesummary-row
										div
											h1= process.name
											if("type" in process)
												h2= process.type
										if("params" in process)
											div.userInfo
												if process.temporary == true
													i.material-icons star
													span Temporary
												else if process.params.user_id == 2
													i.material-icons person
													span Custom
												else if process.params.user_id == 1
													i.material-icons verified_user
													span Factory
												else
													i.material-icons settings
											ul
												if(currentUnit == "MM")
													li !{process.params.feedrate} mm/s feed rate
													li !{process.params.power} % power
													li !{process.params.frequency} Hz frequency
													li !{process.params.pressure} bar cut pressure
												else
													li !{process.params.feedrate} in/s feed rate
													li !{process.params.power} % power
													li !{process.params.frequency} Hz frequency
													li !{process.params.pressure} PSI cut pressure
											.mdl-layout-spacer
											span.editIconSpan
												if (pinSettingsJS.process_pin_enabled === 1) && (pinEntered === false)
													i.material-icons.icon-link lock
												else
													i.material-icons.icon-link mode_edit
										else
											div.processNotFound
												if (pinSettingsJS.process_pin_enabled === 1) && (pinEntered === false)
													button(type="button").processes_processNotFound-btn
														p.red Process not found
														i.red.material-icons lock
												else
													button(type="button").processes_processNotFound-btn
														p.red Process not found

		if err == null
			button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.done-button
				i.material-icons done

	#hiddenInput

	include includes/statusBar.pug

	dialog.mdl-dialog#change-gas-dialog
		h4.mdl-dialog__title Change Gas
		.mdl-dialog__content
			label(for="AIR").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
				input(id="AIR" name="gasTypeSelect" type="radio" value="AIR").mdl-radio__button
				span.mdl-radio__label Air
			br
			label(for="N2").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
				input(id="N2" name="gasTypeSelect" type="radio" value="N2").mdl-radio__button
				span.mdl-radio__label Nitrogen
			br
			//label(for="O2").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
			//	input(id="O2" name="gasTypeSelect" type="radio" value="O2").mdl-radio__button
			//	span.mdl-radio__label Oxygen
			//br
			//label(for="ARGON").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
			//	input(id="ARGON" name="gasTypeSelect" type="radio" value="ARGON").mdl-radio__button
			//	span.mdl-radio__label Argon

		.mdl-dialog__actions
			button(type='button' disabled)#processes_save-gas-btn.mdl-button Select
			button(type='button')#processes_close-gas-btn.mdl-button.close Close

	include includes/statusDialog.pug

	if processesExist == false
		dialog.mdl-dialog#select-existing-process-dialog
			h4.mdl-dialog__title#select-suggested-title Suggested Materials
			.mdl-dialog__content#processes_dialog_content
				p#processes_dialog-instructions
				div
					table
						tr
							td
								span#materialTypeHeader Material type
							td
								span#tubeShapeHeader Tube shape
							td
								span#dimensionsHeader Dimensions
							td
								span#thicknessHeader Thickness
							td
								span#processHeader Process
						tr
							td
								select(size=5, id="materialType").select-box
							td
								select(size=5, id="tubeShape").select-box
							td
								select(size=5, id="dimensions").select-box
							td
								select(size=5, id="thickness").select-box
							td
								select(size=5, id="process").select-box
			.mdl-dialog__actions
				button(type='button' disabled)#processes_select-existing-process-btn.mdl-button Select
				button(type='button')#processes_close-existing-process-btn.mdl-button.close Close

	dialog.mdl-dialog#create-params-warning-dialog.red
		h4.mdl-dialog__title
			i.material-icons warning
			| WARNING
		.mdl-dialog__content
			p.red You are attempting to create a new laser cutting process and the machine may become damaged.
			ul
				li Check that you have selected the right material in FabCreator.
				li Contact FabLight for process development help.
				li Contact your supervisor for assistance.
		.mdl-dialog__actions
			button(type='button')#processes_accept-warning-btn.mdl-button Accept
			button(type='button')#processes_close-warning-btn.mdl-button.close Close

	script(src = "/javascripts/jquery.serializejson.js")
	script(src="/javascripts/virtual-keyboard/jquery.keyboard.js")
	script(src="/socket.io/socket.io.js")
	script.
		var socket = io(self.location.host);
		var fileName = '#{fileName}';
		var process = !{process};
		var processesExist = !{processesExist};
		var needToCreateMaterial = !processesExist;	// if the processes do not exist, yes need to create material
		var currentGasFromDB = process.gas;
		var selectedJobProcessType;
		var selectedJobProcess;
		var pinSettings = !{pinSettings};
		var pinEntered = !{pinEntered};

		// JQUERY variables
		var $doneBtn = $('.done-button');
		// for select boxes
		var $tubeShape = $('#tubeShape');
		var $materialType = $('#materialType');
		var $thickness = $('#thickness');
		var $dimensions = $('#dimensions');
		var $process = $('#process');
		// for headers
		var $tubeShapeHeader = $('#tubeShapeHeader');
		var $materialTypeHeader = $('#materialTypeHeader');
		var $thicknessHeader = $('#thicknessHeader');
		var $dimensionsHeader = $('#dimensionsHeader');
		var $processHeader = $('#processHeader');
		// buttons
		var $selectExistingProcessBtn = $('#processes_select-existing-process-btn');
		var $processNotFoundBtn = $('.processes_processNotFound-btn');
		var $editProcessBtn = $('.icon-link');
		var $selectGasBtn = $('#processes_save-gas-btn');
		var $openGasDialogBtn = $('#processes_open-change-gas-dialog');
		// dialog buttons
		var $selectSuggestedTitle = $('#select-suggested-title');
		// dialogs
		var $warningDialog;
		var $existingProcessDialog;

		// ----- DOCUMENT READY ----- //
		$(document).ready(function () {
			// Change color of left stripes to match the process
			var processRows = document.getElementsByClassName('processtablesummary-row');
			for(var i = 0; i < processRows.length; i++) {
				var processName = processRows[i].children[0].children[0].innerHTML;
				var borderColor;
				if(processName === "CUT") {
					borderColor = '#00ff00'; // green
				}
				else if(processName === "ENGRAVE") {
					borderColor = '#ff0000'; // red
				}
				else {
					borderColor = '#0000ff'; // blue
				}
				processRows[i].style.borderLeft = "10px solid " + borderColor
			}

			// DONE BUTTON //
			if(needToCreateMaterial == true) {
				$doneBtn.hide();
			}
			$tubeShape.hide();
			$materialType.hide();
			$dimensions.hide();
			$thickness.hide();
			$process.hide();
			$tubeShapeHeader.hide();
			$materialTypeHeader.hide();
			$dimensionsHeader.hide();
			$thicknessHeader.hide();
			$processHeader.hide();

			// ----- Dialog code ----- //
			// for gas dialog
			var $gasDialog = document.querySelector('#change-gas-dialog');
			if (!$gasDialog.showModal) {
				dialogPolyfill.registerDialog($gasDialog);
			}
			$openGasDialogBtn.on('click', function () {
				$gasDialog.showModal();
				// when the dialog opens, check the radio button that is the current gas
				document.getElementById(currentGasFromDB).parentNode.MaterialRadio.check();
			});
			var $closeGasDialogBtn = $('#processes_close-gas-btn');
			$closeGasDialogBtn.on('click', function () {
				$gasDialog.close();
			});

			// for warning dialog
			$warningDialog = document.querySelector('#create-params-warning-dialog');
			if (!$warningDialog.showModal) {
				dialogPolyfill.registerDialog($warningDialog);
			}
			var $acceptWarningDialogBtn = $('#processes_accept-warning-btn');
			$acceptWarningDialogBtn.on('click',function() {
				$warningDialog.close();
				getSuggestedStock('material_type');
			});
			var $closeWarningDialogBtn = $('#processes_close-warning-btn');
			$closeWarningDialogBtn.on('click', function () {
				$warningDialog.close();
			});

			if(needToCreateMaterial == true) {
				// prepare the dialog for selecting a material if needed
				$existingProcessDialog = document.querySelector('#select-existing-process-dialog');
				// Set the instructions
				document.getElementById('processes_dialog-instructions').innerHTML = 'Choose from this list of similar material to copy the laser process. ' +
						'Your current job: <br>' + makeProcessString();
				console.log('Need to create new parameters.')
				// for existing processs selection dialog
				if (!$existingProcessDialog.showModal) {
					dialogPolyfill.registerDialog($existingProcessDialog);
				}
				// If any process not found button is pressed, show the warning dialog.
				// If the machine is pin protected and we haven't entered the pin in successfully yet,
				// then we need to show the PIN input number pad.
				if ((pinSettings.process_pin_enabled === 1) && (pinEntered === false)) {
					$processNotFoundBtn.on('click', function () {
						// get the name of the process that was just clicked
						selectedJobProcess = $(this).parent().parent().find('h1').text();
						selectedJobProcessType = $(this).parent().parent().find('h2').text();
						selectedJobProcessType = (selectedJobProcessType.trim().length > 0) ? selectedJobProcessType : null
					});
					$processNotFoundBtn.numpad({
						position: 'fixed',
						positionX: 'center',
						positionY: 'middle',
						hideDecimalButton: true,
						hidePlusMinusButton: true,
						displayTpl: '<input type="text" class="nmpd-display"/>',
						target: $hiddenInput,
						onKeypadOpen: function () {
							var keypad = $(this);
							var keypad_id = keypad[0].id;
							var $keypadDisplay = $('#' + keypad_id + ' .nmpd-display');
							var defaultMessage = "Enter PIN to edit process";
							// When the keypad is opened, show some instructions:
							$keypadDisplay.val(defaultMessage);
							// when the DONE button is pressed on the keypad, validate the PIN number
							keypad.find('.done').off('click');
							keypad.find('.done').click(function (e) {
								var enteredPin = $keypadDisplay.val();
								if (enteredPin === pinSettings.process_pin) {
									// The pin number is correct. Proceed with usual code to open warning.
									$warningDialog.showModal();
									socket.emit('process_pin_entered', true);
								}
								else {
									// The pin number is incorrect. Show a message.
									$keypadDisplay.attr('type', 'text');
									$keypadDisplay.val('PIN incorrect.');
								}
							});
							// If the Del, Clear, or Cancel button is pressed, show the initial message.
							keypad.find('.del').click(function (e) {
								$keypadDisplay.attr('type', 'text');
								$keypadDisplay.val(defaultMessage);
							})
							keypad.find('.clear').click(function (e) {
								$keypadDisplay.attr('type', 'text');
								$keypadDisplay.val(defaultMessage);
							})
							keypad.find('.cancel').click(function (e) {
								$keypadDisplay.attr('type', 'text');
								$keypadDisplay.val(defaultMessage);
							})
						},
						onChange: function () {
							$('#process_pin_not_found').attr('type', 'password');
						}
					});
				}
				else {
					// Otherwise the machine is either not pin protected OR we have already entered the pin
					// in correctly.
					$processNotFoundBtn.on('click', function () {
						$warningDialog.showModal();
						// get the name of the process that was just clicked
						selectedJobProcess = $(this).parent().parent().find('h1').text();
						selectedJobProcessType = $(this).parent().parent().find('h2').text();
						selectedJobProcessType = (selectedJobProcessType.trim().length > 0) ? selectedJobProcessType : null
					});
				}
				var $closeExistingProcessBtn = $('#processes_close-existing-process-btn');
				$closeExistingProcessBtn.on('click', function () {
					$existingProcessDialog.close();
				});
				// remove selection boxes if not necessary
				if (process.properties.stock_type == "SHEET") {
					$tubeShape.remove();
					$dimensions.remove();
				}
			}

			// ----- BUTTON LISTENERS ----- //
			// Checkmark button moving to next step
			$doneBtn.on('click', function () {
				$doneBtn.prop('disabled', true);
				location.href = '/runjob?fileName=' + fileName;
			});
			var selectedProcess;
			$editProcessBtn.on('click', function () {
				selectedProcess = $(this).parent().parent().find('h1').text();
			})
			// ------ Edit process button logic ------- //
			// If a PIN number is required for changing processes:
			// 1. Add numpad for PIN entry to all the edit button icons
			var $hiddenInput = $('#hiddenInput');
			if ((pinSettings.process_pin_enabled === 1) && (pinEntered === false)) {
				$editProcessBtn.numpad({
					position: 'fixed',
					positionX: 'center',
					positionY: 'middle',
					hideDecimalButton: true,
					hidePlusMinusButton: true,
					displayTpl: '<input type="text" class="nmpd-display"/>',
					target: $hiddenInput,
					onKeypadOpen: function () {
						var keypad = $(this);
						var keypad_id = keypad[0].id;
						var $keypadDisplay = $('#' + keypad_id + ' .nmpd-display');
						var defaultMessage = "Enter PIN to edit process";
						// When the keypad is opened, show some instructions:
						$('.nmpd-display').val(defaultMessage);
						// when the DONE button is pressed on the keypad, validate the PIN number
						keypad.find('.done').off('click');
						keypad.find('.done').click(function (e) {
							var enteredPin = $keypadDisplay.val();
							if (enteredPin === pinSettings.process_pin) {
								// The pin number is correct. Allow proceeding to the edit process page.
								// Get the name of the process that was just clicked.
								var params = {
									fileName: fileName,
									process: process,
									selectedProcessName: selectedProcess
								};
								// Save that the process pin was entered successfully.
								// Do not require another entry until a job is re-loaded.
								socket.emit('process_pin_entered', true);
								// Save the process object to the server, which allows us to restore the state later in processDetails.pug.
								socket.emit('processes_save-process-obj', process);
								location.href = '/processes/details?' + jQuery.param(params);
							}
							else {
								// The pin number is incorrect. Show a message.
								$keypadDisplay.attr('type', 'text');
								$keypadDisplay.val('PIN incorrect.');
							}
						});
						// If the Del, Clear, or Cancel button is pressed, show the initial message.
						keypad.find('.del').click(function (e) {
							$keypadDisplay.attr('type', 'text');
							$keypadDisplay.val(defaultMessage);
						})
						keypad.find('.clear').click(function (e) {
							$keypadDisplay.attr('type', 'text');
							$keypadDisplay.val(defaultMessage);
						})
						keypad.find('.cancel').click(function (e) {
							$keypadDisplay.attr('type', 'text');
							$keypadDisplay.val(defaultMessage);
						})
					},
					onChange: function () {
						$('#process_pin').attr('type', 'password');
					}
				});
			}
			else {
				// If a PIN is NOT required for editing a process, proceed to the process editor.
				$editProcessBtn.on('click', function () {
					var params = {
						fileName: fileName,
						process: process,
						selectedProcessName: selectedProcess
					};
					// Save the process object to the server, which allows us to restore the state later in processDetails.pug.
					socket.emit('processes_save-process-obj', process);
					location.href = '/processes/details?' + jQuery.param(params);
				});
			}
			// "select" button when user has chooses a process to copy parameters from.
			// Moves to the processCreator page with some URL parameters.
			$selectExistingProcessBtn.on('click', function () {
				var params = {
					process_to_copy: {
						property_id: selectedPropertyID,
						material_type: selectedMaterialType, // used for display
						thickness: (typeof selectedThickness == 'undefined')? null : selectedThickness
							// thickness used for display, but may be absent if engrave/raster for tube
					},
					job_process_info: {
						file_name: fileName,
						selected_process_name: selectedJobProcess,
						processes: process.processes,
						properties: process.properties,
						gas: currentGasFromDB
					}
				};
				if(jobStockType == 'TUBE') {
					params.process_to_copy.tube_shape = selectedTubeShape;
					if(selectedJobProcess == "CUT") {
						params.process_to_copy.dimension_id = selectedDimensionID;
					}
				}
				var str = jQuery.param(params);
				window.location = '/processes/creator?' + str;
			});

			// ---------- code for gas selection ---------- //
			// If any gas selection radio buttons are pressed, then enable the save button
			$('input[type=radio][name="gasTypeSelect"]').change(function () {
				$selectGasBtn.prop('disabled', false).html('Save');
			});
			// If the save gas button is pressed
			$selectGasBtn.on('click', function () {
				var selectedGas = $('input[name="gasTypeSelect"]:checked').val();
				socket.emit('settings_gas-selected', selectedGas);
			});
			socket.on('settings_gas-selected-complete', function () {
				$selectGasBtn.html('Saved').prop('disabled', true);
				location.reload();
			});

			// ---------- MATERIAL SELECTION ---------- //
			// ----- material selection boxes ----- //
			var currentUnit = process.properties.unit_name;
			var jobStockType = process.properties.stock_type;
			var formatUnit = (currentUnit == 'IN') ? '\"' : 'mm';
			var suggestedMaterialTypeList, suggestedName,
					suggestedTubeShapeList,
					suggestedDimensionList,
					suggestedThicknessList,
					suggestedProcessList;

			// ============== SUGGESTED PROCESS DIALOG ============== //
			// If the user needs to create a new process, the $existingProcessDialog is made visible,
			// along with a set of option boxes. The main purpose is to allow the user to easily select
			// a material (which already has params in the DB) to copy parameters from.
			//
			// Code below: For every click of the mouse in the option box lists, send a request to the
			// server to ask for suggested stock. Each successive option box has to ask the server for
			// a narrowed down item.
			//
			// Engrave and Raster on tubes have a different flow than CUT because engrave processes are
			// common to all tube shapes with a material. i.e. The dimension and thickness doesn't matter
			// for engrave and raster. So don't show that to the user.
			//
			// Order of requests/responses:
			// SHEETS: material_type --> thickness --> process(optional)
			// TUBES:
			// 	> CUT:   material_type --> tube_shape --> dimensions --> thickness --> process(optional)
			// 	> ENGRAVE/RASTER:
			//			material_type --> tube_shape --> process(optional)
			//
			// ex) Sheet job. User selects a material_type. Ask server for thicknesses and display them.
			// ---------- Requests ---------- //
			var selectedMaterialType,
					selectedTubeShape,
					selectedDimensionID,
					selectedThickness,
					selectedPropertyID;
			$materialType.change(function () {
				resetSelectBoxesToRight($materialType);
				selectedMaterialType = suggestedMaterialTypeList[$materialType.prop('selectedIndex')].value;
				if (jobStockType == 'TUBE') {
					// request the tube shapes
					getSuggestedStock('tube_shape', {
						material_type: selectedMaterialType
					});
				}
				else { // SHEET, next box to show is thickness
					getSuggestedStock('thickness', {
						material_type: selectedMaterialType
					});
				}
			});
			$tubeShape.change(function () {
				resetSelectBoxesToRight($tubeShape);
				selectedTubeShape = suggestedTubeShapeList[$tubeShape.prop('selectedIndex')].value;
				if(selectedJobProcess == "CUT") {
					getSuggestedStock('dimension', {
						material_type: selectedMaterialType,
						tube_shape: selectedTubeShape
					});
				}
				else {
					// If the process is ENGRAVE/RASTER, no need to show the dimensions or thickness.
					// Go straight to show available processes.
					getSuggestedStock('process', {
						material_type: selectedMaterialType,
						tube_shape: selectedTubeShape
					});
				}
			});
			$dimensions.change(function () {	// only relevant if tube job
				resetSelectBoxesToRight($dimensions);
				selectedDimensionID = suggestedDimensionList[$dimensions.prop('selectedIndex')].dimension_id;
				if (jobStockType == "TUBE") {
					getSuggestedStock('thickness', {
						material_type: selectedMaterialType,
						tube_shape: selectedTubeShape,
						dimension_id: selectedDimensionID
					});
				}
				else {
					getSuggestedStock('thickness', {
						material_type: selectedMaterialType
					});
				}
			});
			$thickness.change(function () {	// thicknesses used for sheets and tubes.
				resetSelectBoxesToRight($thickness);
				selectedThickness = suggestedThicknessList[$thickness.prop('selectedIndex')].value;
				getSuggestedStock('process', {
					material_type: selectedMaterialType,
					tube_shape: selectedTubeShape,		// this may be undefined if a sheet job.
					dimension_id: selectedDimensionID,	// this may be undefined if a sheet job.
					thickness_value: selectedThickness
				});
			});
			$process.change(function () {
				resetSelectBoxesToRight($process);
				enableButton($selectExistingProcessBtn);
				selectedPropertyID = suggestedProcessList[$process.prop('selectedIndex')].property_id;
			});

			// Given the server responses, code below updates the UI and user choices based
			// on what is available in the DB (arrays sent from server).
			//
			// The request from this page to the server is sent by getSuggestedStock(<str>);
			// whose request code is above.
			//
			// @param suggested is an object.
			// ---------- Responses ---------- //
			socket.on('processes_suggested-stock-result', function (suggested) {
				if(suggested.data.length == 0) {
					// go to blank creator page.
					var str = jQuery.param({
						process_to_copy: {
							property_id: null
						},
						job_process_info: {
							file_name: fileName,
							selected_process_name: selectedJobProcess,
							processes: process.processes,
							properties: process.properties,
							gas: currentGasFromDB
						}
					});
					window.location = '/processes/creator?' + str;
				}
				else { // show the dialog if it's not already open.
					if($existingProcessDialog.open == false) {
						$existingProcessDialog.showModal();
						var materialName = process.properties.material_name.toLowerCase();	// update the title
						var materialNameStr =  materialName.charAt(0).toUpperCase() + materialName.slice(1);
						$selectSuggestedTitle.text('Suggested ' + materialNameStr + ' materials')
					}
					switch (suggested.dataType) {
						case 'material_type':
							resetSelectBoxesToRight();
							$materialType.show();
							$materialTypeHeader.show();
							for (var mtIdx = 0; mtIdx < suggested.data.length; mtIdx++) {
								// add display strings for each name, setting to Default if it's null
								suggestedName = suggested.data[mtIdx].value;
								suggested.data[mtIdx].display = (suggestedName == null) ? 'Default' : suggestedName;
							}
							// display material types in materialType box
							suggestedMaterialTypeList = suggested.data.sort(sortDisplayNames);
							suggestedMaterialTypeList.forEach(function (e) {
								appendOption($materialType, e.display);
							});
							break;
						case 'tube_shape':
							resetSelectBoxesToRight($tubeShape);
							$tubeShape.show();
							$tubeShapeHeader.show();
							for (var tsIdx = 0; tsIdx < suggested.data.length; tsIdx++) {
								suggestedName = suggested.data[tsIdx].value;
								suggested.data[tsIdx].display = lowerCaseAllButFirst(suggestedName);
							}
							suggestedTubeShapeList = suggested.data.sort(sortDisplayNames);
							suggestedTubeShapeList.forEach(function (e) {
								appendOption($tubeShape, e.display);
							});
							break;
						case 'dimension' :
							resetSelectBoxesToRight($dimensions);
							$dimensions.show();
							$dimensionsHeader.show();
							for (var dIdx = 0; dIdx < suggested.data.length; dIdx++) {
								suggestedName = suggested.data[dIdx].value;
								// logic for formatting display of the dimensions
								var dimensionDisplayStr;
								var currentDim = suggested.data[dIdx];
								if (selectedTubeShape == "ROUND") {
									dimensionDisplayStr = currentDim.diameter + formatUnit + ' diameter';
								}
								else {
									dimensionDisplayStr = currentDim.width + formatUnit + ' x ' +
											currentDim.height + formatUnit + ', ' +
											currentDim.corner_radius + ' radius';
								}
								suggested.data[dIdx].display = dimensionDisplayStr;
							}
							suggestedDimensionList = suggested.data.sort(sortDisplayNames);
							suggestedDimensionList.forEach(function (e) {
								appendOption($dimensions, e.display);
							});
							break;
						case 'thickness' :
							resetSelectBoxesToRight($thickness);
							$thickness.show();
							$thicknessHeader.show();
							for (var thIdx = 0; thIdx < suggested.data.length; thIdx++) {
								suggestedName = suggested.data[thIdx].value;
								var thicknessDisplayStr = suggestedName + formatUnit;
								if(jobStockType == "TUBE") {
									thicknessDisplayStr += ' wall'
								}
								suggested.data[thIdx].display = thicknessDisplayStr;
							}
							suggestedThicknessList = suggested.data.sort(sortDisplayNames);
							suggestedThicknessList.forEach(function (e) {
								appendOption($thickness, e.display);
							});
							break;
						case 'process' :
							resetSelectBoxesToRight($process);
							$process.show();
							$processHeader.show();
							for (var pIdx = 0; pIdx < suggested.data.length; pIdx++) {
								suggestedName = suggested.data[pIdx].value;
								var processDisplayStr;
								var currentProcess = suggested.data[pIdx];
								processDisplayStr = currentProcess.process_name + ' ';
								if(currentProcess.process_type != null) {
									processDisplayStr += currentProcess.process_type;
								}
								suggested.data[pIdx].display = processDisplayStr;
							}
							suggestedProcessList = suggested.data.sort(sortDisplayNames);
							suggestedProcessList.forEach(function (e) {
								appendOption($process, e.display);
							});
							break;
					}
				}
			});
		});

		// --------- HELPER FUNCTIONS --------- //
		function enableButton(e) {
			e.prop('disabled', false);
		}
		function disableButton(e) {
			e.prop('disabled', true);
		}

		function appendOption(parent, text) {
			parent.append($('<option>', {text: text}));
		}

		// given the jquery variable of your current box,
		// clear all of the boxes to the right of it.
		// or reset ALL boxes
		function resetSelectBoxesToRight($myBox) {
			disableButton($selectExistingProcessBtn); // keep the select button disabled
			if($myBox != undefined) {
				// get array of all box elements
				var boxArray = [].slice.call(document.getElementsByClassName('select-box'));
				var boxIDs = [];
				// first get an array of all the box IDs
				for(var i = 0; i < boxArray.length; i++) {
					boxIDs.push(boxArray[i].id);
				}
				var myBoxIndex = boxIDs.indexOf($myBox.attr('id'));
				boxIDs = boxIDs.slice(myBoxIndex + 1);
				// boxIDs now contains all IDs to reset
				var oneID;
				for(var j = 0; j < boxIDs.length; j++) {
					oneID = $('#' + boxIDs[j])
					oneID.find('option').remove().end(); // remove all options
					oneID.hide();
				}
			}
			else { // reset ALL boxes
				resetSelectBoxesToRight($materialType);
				// reset material type
				$('#materialType').find('option').remove().end(); // remove all options
			}
		}
		function hideSelectBox(box) {
			box.css('display', 'none');
		}

		// Used to sort the display names
		function sortDisplayNames(a, b) {
			var nameA = a.display.toUpperCase(); // ignore upper and lowercase
			var nameB = b.display.toUpperCase(); // ignore upper and lowercase
			if (nameA < nameB) {
				return -1;
			}
			if (nameA > nameB) {
				return 1;
			}
			// names must be equal
			return 0;
		}
		function lowerCaseAllButFirst(str) {
			return str.charAt(0) + str.slice(1).toLowerCase()
		}

		// use socket.io to request the server for a type of data
		// example of the stockRequest:
		/* {
			stockRequest: {
				type: 'tube_shape',
				data: {
					material_type: '304'
				}
			}
		}
		*/
		function getSuggestedStock(requestTypeStr, additionalData) {
			var socketEmitObj = {
				stockRequest: {
					type: requestTypeStr
				},
				processObj: process,
				currentProcess: selectedJobProcess,
				currentProcessType: selectedJobProcessType
			};
			if(additionalData != null) {
				socketEmitObj.stockRequest.data = additionalData;
			}
			socket.emit('processes_get-suggested-stock', socketEmitObj);
		}

		function makeProcessString() {
			var unitForDisplay = (process.properties.unit_name == "IN") ? "\"" : "mm"
			var material = process.properties.material_name + ' '
			if ("material_type" in process.properties) {
				material += process.properties.material_type + ' '
			}
			if (process.properties.stock_type == "TUBE") {
				material += process.properties.tube_shape + ' TUBE, ' + process.properties.thickness_value + unitForDisplay + ' wall, '
				if (process.properties.tube_shape == "ROUND") {
					material += process.properties.diameter + ' diameter'
				} else {
					material += process.properties.width + unitForDisplay + ' by ' + process.properties.height + unitForDisplay + ' with corner radius ' + process.properties.corner_radius + unitForDisplay
				}
			} else {
				material += 'SHEET, ' + process.properties.thickness_value + ' ' + unitForDisplay + ' thick'
			}
			material += '\t';
			return material;
		}
	script(src="/javascripts/statusDialog.js")
