extends jogLayout.pug

block content
	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/processes?fileName=' + fileName)
					i.material-icons keyboard_arrow_left
				a(href='/home').home-btn-icon
					i.material-icons home
				span.mdl-layout-title Run job
				span.header-file-name= fileName
		main.mdl-layout__content.grid-lines
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--6-col
						#jog3D__tube
						#jog3D__idler
							span#jog3D__idler-position
						#jog3D__drag-x-bounds
							#jog3D__drag-x-container
								#jog3D__drag-x-flag
									span#x-value
									span.jog_unit_rotary
						#jog3D__bounds-container

		//span#jog__machineStatus
		button#send-to-laser-btn-jog.xlarge-2-col-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.hmi-homeSmall-button
			i.material-icons play_circle_outline
			span Run job
		label#dryRunSwitchLabel.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='dryRunSwitchInput')
			input#dryRunSwitchInput.mdl-switch__input(type='checkbox')
			span#dryRunSwitchText.mdl-switch__label Dry run off
		span#fl_gas
		span#timer

		.jog__buttons
			button#jog__park-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue
				span Park
			button#jog__home-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue
				span Go to soft home
			//button#jog__soft-home-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue
				span Set soft home

	include includes/statusBar.pug
	include includes/statusDialog.pug

	script(src="/javascripts/hammer.min.js")
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/statusDialog.js")
	script.
		// SOCKET.IO
		var socket = io(self.location.host);
		// FROM SERVER
		var jsfileName = '#{fileName}';
		var jsis3dFile = '#{is3Dfile}';
		var bounds = JSON.parse('!{bounds}');
		var machineUnit = '#{machineUnit}';
		var displayUnit = (machineUnit == "IN")? "\"" : "mm";
		var machineSpecs = JSON.parse('!{machineSpecs}');
		// JOGGING
		var pxPerIN = 12;
		var MMperIN = 25.4;
		if(window.innerWidth > 1000) {
			pxPerIN = 16;
		}
		var pxPerMM = pxPerIN / MMperIN;
		var xPosLimit = (machineUnit == "MM") ?
			machineSpecs.rotary.max_tube_length * 25.4 :
			machineSpecs.rotary.max_tube_length;
		var xParkPos = (machineUnit == "MM") ? 0 : 0;
		var tubeLengthPx = (machineUnit == "MM") ?
			xPosLimit * pxPerMM :
			xPosLimit * pxPerIN;
		// DISPLAY
		var jogFlagWidthPx = 80;
		var dragXbounds = document.getElementById('jog3D__drag-x-bounds');
		// dragXbounds.style.width = tubeLengthPx + jogFlagWidthPx + 2 + "px";
		var tubeDisplay = document.getElementById('jog3D__tube');
		tubeDisplay.style.width = tubeLengthPx + "px";
		// KEEPING STATE
		var runButtonPressed = false;
		var currentIdlerPosition;
		var currentXposition = 0; // initialize at 0
		// JQUERY
		var $xValue = $('#x-value');
		var $jogUnit = $('.jog_unit_rotary');
		var $dragXflag = $('#jog3D__drag-x-flag');
		var $dragXcontainer = $('#jog3D__drag-x-container');
		var $sendToLaserBtn = $("#send-to-laser-btn-jog");
		var $parkBtn = $('#jog__park-btn');
		var $homeBtn = $('#jog__home-btn');
		var $softHomeBtn = $('#jog__soft-home-btn');
		var $idler = $('#jog3D__idler');
		var $idlerPosition = $('#jog3D__idler-position');
		var $runBtnText = $('#jog3D__run-btn-text');
		var $fl_gas = $('#fl_gas');
		var $machineStatus = $('#statusBar__text');
		// JOB BOUNDS // Bounds are always given in INCHES.
		var $bounds = $('#jog3D__bounds');
		var $boundsContainer = $('#jog3D__bounds-container');
		var boundsWidth, boundsHeight;
		boundsWidth = bounds.xMax - bounds.xMin; // Inches
		boundsHeight = 1.6;	// Fixed height of tube in inches
		if(machineUnit === "MM") {
			boundsWidth = boundsWidth * MMperIN;
			boundsHeight = 1.6 * MMperIN;
		}
		var boundsWidthPx = convertToPx(boundsWidth);
		var boundsHeightPx = convertToPx(boundsHeight);
			// If the desired position is within this tolerance to 0.0, command it it to 0.0.
		var closeToZeroTolerance = (machineUnit === "MM") ? 2.54 : 0.1;
		// DRY RUN SWITCH
		var $dryRunSwitchText = $('#dryRunSwitchText');
		var $dryRunSwitchInput = $('#dryRunSwitchInput');
		var $dryRunSwitchLabel = $('#dryRunSwitchLabel');

		// ---------- DOCUMENT READY ----------
		$(document).ready(function () {
			//$idler.hide()
			socket.emit('fl_p'); // when this page loads, ask for the current machine position
			socket.emit('fl_rot') // switch machine into 3D mode
			setUpDryRunSwitch();
			setUpFlagNumpads();
			setXposition(0, false);
			$jogUnit.text(displayUnit);
		});

		$(window).load(function () {
			createBoundingBox();
		})

		// ---------- SOCKET.IO EVENTS ----------
		socket.on('fl_gas', function (data) {
			var gasReading = (machineUnit === "MM") ? (convertPSItoBar(data.actual) + ' bar') : (data.actual + ' PSI');
			$fl_gas.text(gasReading);
		})
		socket.on('fl_p_result', function (data) {
			var resultData = data;
			console.log('[on \'fl_p_result\'] current X pos from machine: ' + resultData.d.x);
			currentIdlerPosition = resultData.d.i;
			currentXposition = resultData.d.x;
			if(machineUnit === "MM") {
				currentIdlerPosition = resultData.d.i * MMperIN;
				currentXposition = resultData.d.x * MMperIN;
			}
			currentXposition = formatPosition(currentXposition);
			moveIdler(currentIdlerPosition);
			setXposition(currentXposition, false);
			moveBoundingBox();
		});

		socket.on('fl_park', function(cmd) {
			var s = parseFloat(cmd.s);
			if(s === 2) {
				// park complete
				socket.emit('fl_p');
				$parkBtn.text('Park');
				$parkBtn.prop('disabled', false);
			}
			else {
				$parkBtn.text('Parking...');
			}
		});
		socket.on('fl_go_home', function (status) {
			if (status === 2) {
				socket.emit('fl_p');
				$homeBtn.text('Go to soft home');
				$homeBtn.prop('disabled', false);
			}
		});
		socket.on('fl_status__ready', function (obj) {
			if (obj.waitingForKeypress === false) {
				$sendToLaserBtn.prop('disabled', false);
				$homeBtn.prop('disabled', false);
				$parkBtn.prop('disabled', false);
				$parkBtn.text('Park');
				$homeBtn.text('Go to soft home');
				$machineStatus.text('Ready.');
			}
		});
		socket.on('fl_status__paused', function() {
			$machineStatus.text('Paused.');
		})
		socket.on('fl_status__running', function() {
			$machineStatus.text('Running...');
		});
		socket.on('fl_status__continue', function () {
			console.log('continuing from pause');
			if(statusDialog.open === true) {
				statusDialog.close();
			}
		})
		socket.on('fl_status__OOBidler', function() {
			console.log('fl_status__OOBidler');
		});

		// ---------- BUTTON LISTENERS ----------
		$parkBtn.on('click', function () {
			$parkBtn.prop('disabled', true);
			socket.emit('fl_park');
		});
		$homeBtn.on('click', function () {
			$homeBtn.prop('disabled', true);
			$homeBtn.text('Moving...');
			socket.emit('fl_go_home');
		});
		$softHomeBtn.on('click', function () {
			socket.emit('fl_sh_rot_here');
		});
		// Send job to laser
		$sendToLaserBtn.on('click', function () {
			// Set the soft home. This also checks for the rotary locking pin.
			socket.emit('fl_sh_rot_here');
			runButtonPressed = true;
			$sendToLaserBtn.prop('disabled', true);
		});
		function sendJobToLaser() {
			runButtonPressed = false;
			// If the job will hit the idler (based on current position and bounding box), do not send the job.
			if (parseFloat(boundsWidth) + parseFloat(getXposition()) > currentIdlerPosition) {
				jobWillHitIdler();
				$sendToLaserBtn.prop('disabled', false);
			}
			else if(doorOpen === false) {
				// Send job as usual
				$homeBtn.prop('disabled', true);
				$parkBtn.prop('disabled', true);
				var JSONdata = {
					fileName: jsfileName,
					is3Dfile: true,
					homePosition: getHomePosition(),
					isDryRun: isDryRunOn()
				};
				$.ajax({
					type: 'POST',
					url: '/sendfile',
					data: JSONdata,
					success: function (response) {
						// data is response from server
						console.log('runjob.pug: success POST to /sendfile')
					}
				});
			}
		};

		// move idler position
		function moveIdler(pos) {
			var leftPos = 25 + parseFloat(convertToPx(pos));
			leftPos += 'px';
			$idler.css({
				left: leftPos
			});
			// Update the idler position text.
			$idlerPosition.text(formatPosition(pos) + displayUnit);
			console.log('[moveIdler()] ' + displayUnit + ': ' + pos + ', px: ' + leftPos);
		}
		// ---------- HELPERS: BOUNDING BOX ----------
		// draw a div box that represents the job bounds.
		function createBoundingBox() {
			var $div = $("<div>", {id: "jog3D__bounds"});
			$div.css({
				width: boundsWidthPx,
				height: boundsHeightPx
			});
			$boundsContainer.append($div);
			moveBoundingBox();
		}
		// moves the bounding box to the jog flag.
		function moveBoundingBox() {
			$('#jog3D__bounds').css({
				left: $dragXcontainer.css('left')
			});
		}

		// ---------- HELPERS: DRY RUN SWITCH ----------
		function setUpDryRunSwitch() {
			$dryRunSwitchInput.on('change', function () {
				if ($dryRunSwitchLabel.is('.is-checked')) {
					$dryRunSwitchText.text('Dry run off');
				}
				else {
					$dryRunSwitchText.text('Dry run on');
				}
			});
		}
		// returns true if dry run is on, false if not.
		function isDryRunOn() {
			return $dryRunSwitchLabel.is('.is-checked');
		}

		// ************ ROTARY LOGIC ************ //
		// after the machine is in rotary mode, move the flag back to 0 and move the bounding box.
		socket.on('fl_rot_result', function(obj){
			setXposition(0, false);
			moveBoundingBox();
		})

		socket.on('fl_sh_rot_here', function(obj) {
			console.log('fl_sh_rot_here e:' + obj.e)
			// If there are no errors returned from fl_sh_rot_here and the run button was pressed, then
			if((obj.e !== '217') && (obj.e !== '9')) {
				if(runButtonPressed === true) {
					sendJobToLaser();
				}
			}
			else {
				$sendToLaserBtn.prop('disabled', false);
			}
		});
		socket.on('fl_m1a_result', function (result) {
			if (result.e === '217') {
				socket.emit('fl_p');
			}
		});

		// ---------- NUMPADS ----------
		// Set up keypad listeners for the flags using hammertime.js
		function setUpFlagNumpads() {
			$dragXflag.numpad({
				position: 'fixed',
				positionX: 'center',
				positionY: 'middle',
				openOnEvent: null,
				decimalSeparator: '.',
				target: $xValue,
				hidePlusMinusButton: true,
				onKeypadCreate: function () {
					xnmpdID = $(this).attr('id');
				},
				onKeypadClose: function () {
					var pos = $(this).find('.nmpd-display').val();
					// Validate the entered position value. Only move if it's valid.
					if (parseFloat(pos) + parseFloat(boundsWidth) > xPosLimit) {
						// move will put the job out of bounds
						setXposition(currentXposition, false);
						jobOutOfBounds();
					}
					else if (parseFloat(boundsWidth) + parseFloat(getXposition()) > currentIdlerPosition) {
						// move will put job into idler
						jobWillHitIdler();
						setXposition(currentXposition, false);
					}
					else {
						// valid move
						setXposition(pos, true);
						currentXposition = pos; // Get X position from number entered in w/keypad
						socket.emit('jog-jog__X', getXposition(), machineUnit);
						console.log('moving X to ' + getXposition());
						moveBoundingBox();
					}
				}
			});
			// Make the flag double clickable with hammer.js
			var xElement = document.getElementById('jog3D__drag-x-flag');
			var xHammertime = new Hammer(xElement);
			xHammertime.on('doubletap', function (ev) {
				$dragXflag.numpad('open');
			});
		}

		// ============ set up draggabilly ============
		// set up draggable flag using code from the draggabilly documentation
		var $draggableX = $dragXcontainer.draggabilly({
			axis: 'x',
			containment: true
		});
		var draggieX = $draggableX.data('draggabilly');
		var draggieXStartPos = draggieX.position.x;
		// when you remove your finger from the flag, ask the machine to move to that position
		$draggableX.on('dragEnd', function () {
			// first check if the position you've moved to causes the job to go out of bounds.
			var xPos = getXposition();
			console.log('[dragEnd] xPos: ' + xPos)
			if(parseFloat(xPos) + parseFloat(boundsWidth) > xPosLimit) {
				// move will put the job out of bounds
				jobOutOfBounds();
			}
			else if (parseFloat(boundsWidth) + parseFloat(getXposition()) > currentIdlerPosition) {
				// move will put job into idler
				jobWillHitIdler();
				setXposition(currentXposition, false);
			}
			else {
				if (xPos <= closeToZeroTolerance) {
					// If the goal position is close to 0 when dragging, then just set it to 0.
					xPos = 0;
				}
				// valid move
				currentXposition = xPos; // Get X position from flag number
				socket.emit('jog-jog__X', xPos, machineUnit);
				console.log('moving X to ' + xPos);
				moveBoundingBox();
			}
		});
		// when the flag is dragged, update the text to show the position in inches.
		$draggableX.on('dragMove', function () {
			var xValue = convertPxToUnit(draggieX.position.x - draggieXStartPos);
			if (xValue < closeToZeroTolerance) {
				xValue = formatPosition(0);
			}
			$xValue.text(xValue);
		});

		// If the job is out of bounds, show a message.
		function jobOutOfBounds() {
			status_updateHeader('Job will be out of bounds.');
			status_updateContent('Try a different start position so the entire job will fit in the machine.');
			status_showButton()
			if (statusDialog.open == false) {
				statusDialog.showModal();
			}
			//socket.emit('fl_p');	// get the current machine position.
		}
		// Show a message that the job will hit the idler
		function jobWillHitIdler() {
			status_updateHeader('Job will hit idler.');
			status_updateContent('Please move to a different start position or move the idler and try again.');
			statusDialogCloseButton.show();
			$statusDialogActionButton.hide();
			if (statusDialog.open == false) {
				statusDialog.showModal();
			}
			//socket.emit('fl_p');	// get the current machine position.
		}

		// ---------- MAIN JOGGING FUNCTIONS ----------
		// Set the new X position of the machine in inches and update the flag position and text label.
		// Does not actually move the machine. Need to emit the jog event to move.
		function setXposition(pos, checkForBounds) {
			pos = parseFloat(pos);
			if(checkForBounds == true) {
				// If the requested position is greater than the limit, set it to the limit.
				if (pos > xPosLimit) {
					pos = xPosLimit;
				}
				// If it's less than 0 for any reason, set it to 0.
				if (pos < 0) {
					pos = 0;
				}
				// Only set the position if the job would still be in bounds at this new location.
				if (pos + parseFloat(boundsWidth) < xPosLimit) {
					moveXflagToPosition(pos);
				}
				else {
					jobOutOfBounds();
				}
			}
			else {
				// If we don't care about bounds checking, just move.
				moveXflagToPosition(pos);
			}
		}
		function moveXflagToPosition(pos) {
			var newPos = convertToPx(pos).toString() + "px";
			$dragXcontainer.css({"left": newPos})
			pos = formatPosition(pos);
			$xValue.text(pos) // update flag text
		}
		// @function getHome - returns the current set home position in inches.
		function getHomePosition() {
			return {
				x: getXposition(),
				y: '0.0'
			}
		}
		function getXposition() {
			return $xValue.text();
		}


		// ---------- JOGGING HELPER FUNCTIONS ----------
		// @function convertPxToUnit - takes in a pixel measurements and converts it to machineUnit.
		// @param1 - pixel position
		function convertPxToUnit(pixels) {
			if (machineUnit == "MM") {
				return (pixels / pxPerMM).toFixed(2);
			}
			else {
				return (pixels / pxPerIN).toFixed(3);
			}
		}
		function formatPosition(value) {
			if (machineUnit == "MM") {
				return value.toFixed(2);
			}
			else {
				return value.toFixed(3);
			}
		}
		function convertToPx(distance) {
			if (machineUnit == "MM") {
				return (distance * pxPerMM).toFixed(1);
			}
			else {
				return (distance * pxPerIN).toFixed(1);
			}
		}
	script(src="/javascripts/easytimer.min.js")