extends jogLayout.pug

block content
	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/processes?fileName=' + fileName)
					i.material-icons keyboard_arrow_left
				a(href='/home').home-btn-icon
					i.material-icons home
				span.mdl-layout-title Run job
				span.header-file-name= fileName
		main.mdl-layout__content.grid-lines
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--8-col
						#laser-bed
						#drag-x-bounds
							#drag-x-container
								#drag-x-flag
									span#x-value
									span.jog_unit
						#drag-y-bounds
							#drag-y-container
								#drag-y-flag
									span#y-value
									span.jog_unit
						#jog2d__boundsContainer

		//span#jog__machineStatus
		button#send-to-laser-btn-jog.xlarge-2-col-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.hmi-homeSmall-button
			i.material-icons play_circle_outline
			span Run job
		label#dryRunSwitchLabel.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='dryRunSwitchInput')
			input#dryRunSwitchInput.mdl-switch__input(type='checkbox')
			span#dryRunSwitchText.mdl-switch__label Dry run off
		button#jog2D__home-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue
			span Go to soft home
		span#fl_gas
		span#timer
		//button#jog2D__soft-home-btn(style='position: fixed; top: 285px; right: 17px; width: 135px; z-index: 98').mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue
			span Set soft home

	include includes/statusBar.pug
	include includes/statusDialog.pug

	script(src="/javascripts/hammer.min.js")
	script(src="/javascripts/statusDialog.js")
	script(src="/socket.io/socket.io.js")
	script.
		// SOCKET.IO
		var socket = io(self.location.host);
		// FROM SERVER
		var jsfileName = '#{fileName}';
		var jsis3dFile = '#{is3Dfile}';
		var bounds = JSON.parse('!{bounds}');
		var machineUnit = '#{machineUnit}';
		var displayUnit = (machineUnit == "IN") ? "\"" : "mm";
		// keep track of current X and Y values
		var enteredYvalue, enteredXvalue;
		// JOGGING
		var pxPerIN = 10;
		var pxPerMM = 1 / 2.54;
		var MMperIN = 25.4;
		if (window.innerWidth > 1000) {
			pxPerIN = 13;
			pxPerMM = 13 / 25.4;
		}
		console.log('pxPerIN=' + pxPerIN)
		var yPosLimit = (machineUnit == "MM") ? 635 : 25;
		var xPosLimit = (machineUnit == "MM") ? 1270 : 50;
		// JQUERY
		var $yValue = $('#y-value');
		var $xValue = $('#x-value');
		var $jogUnit = $('.jog_unit');
		var $dragXflag = $('#drag-x-flag');	// draggable handlers
		var $dragYflag = $('#drag-y-flag');
		var $dragXcontainer = $('#drag-x-container');	// draggable handlers
		var $dragYcontainer = $('#drag-y-container');
		var $runBtn = $("#send-to-laser-btn-jog");
		var $machineStatus = $('#statusBar__text');
		var $homeBtn = $('#jog2D__home-btn');
		var $softHomeBtn = $('#jog2D__soft-home-btn');
		var $fl_gas = $('#fl_gas');
		// JOB BOUNDS
		var $bounds = $('#jog2d__bounds');
		var $boundsContainer = $('#jog2d__boundsContainer');
		var boundsWidth = bounds.xMax - bounds.xMin;
		var boundsHeight = bounds.yMax - bounds.yMin;
		if (machineUnit == "MM") {
			boundsWidth = boundsWidth * MMperIN;
			boundsHeight = boundsHeight * MMperIN;
		}
		var boundsWidthPx = convertToPx(boundsWidth);
		var boundsHeightPx = convertToPx(boundsHeight);
			// If the desired position is within this tolerance to 0.0, command it it to 0.0.
		var closeToZeroTolerance = (machineUnit == "MM") ? 2.54 : 0.1;
		// DRY RUN SWITCH
		var $dryRunSwitchText = $('#dryRunSwitchText');
		var $dryRunSwitchInput = $('#dryRunSwitchInput');
		var $dryRunSwitchLabel = $('#dryRunSwitchLabel');
		// KEEPING STATE
		var runButtonWasPressed = false;


		// ---------- DOCUMENT READY ----------
		$(document).ready(function () {
			socket.emit('fl_p'); // when this page loads, ask for the current machine position
			socket.emit('fl_xy') // switch machine into 2D mode
			setUpFlagNumpads();
			setUpDryRunSwitch();
			setXposition(0);
			setYposition(0);
			$jogUnit.each(function () {
				$(this).text(displayUnit);
				if(machineUnit === "MM") {
					$(this).css('top', "-25px");
				}
			})
		});

		$(window).load(function () {
			createBoundingBox();
		})

		// ---------- SOCKET.IO EVENTS ----------
		socket.on('fl_gas', function (data) {
			var gasReading = (machineUnit === "MM") ? (convertPSItoBar(data.actual) + ' bar') : (data.actual + ' PSI');
			$fl_gas.text(gasReading);
		})
		socket.on('fl_status__ready', function (obj) {
			// Re-enable the buttons if we're NOT waiting for any key presses.
			if (obj.waitingForKeypress === false) {
				$runBtn.prop('disabled', false);
				$homeBtn.prop('disabled', false);
				$homeBtn.text('Go to soft home');
				$machineStatus.text('Ready.');
			}
		});
		socket.on('fl_status__paused', function () {
			$machineStatus.text('Machine paused.');
		});
		socket.on('fl_status__running', function () {
			$machineStatus.text('Running...');
		});
		socket.on('fl_status__continue', function () {
			console.log('continuing from pause');
			if (statusDialog.open === true) {
				statusDialog.close();
			}
		})
		socket.on('fl_status__OOBXY', function () {
			socket.emit('fl_p');
		});
		socket.on('fl_p_result', function (data) {
			var resultData = data;
			if (machineUnit === "MM") {
				resultData.d.x = resultData.d.x * MMperIN;
				resultData.d.y = resultData.d.y * MMperIN;
			}
			resultData.d.x = formatPosition(resultData.d.x);
			resultData.d.y = formatPosition(resultData.d.y);
			setXposition(resultData.d.x);
			setYposition(resultData.d.y);
			moveBoundingBox();
		});
		socket.on('fl_go_home', function (status) {
			if (status == 2) {
				socket.emit('fl_p');
				$homeBtn.text('Go to soft home');
				$homeBtn.prop('disabled', false);
			}
		});
		socket.on('fl_status__limit', function () {
			statusDialogCloseButton.show();
			$statusDialogActionButton.hide();
			if (statusDialog.open == false) {
				statusDialog.showModal();
			}
		});
		$homeBtn.on('click', function () {
			if(doorOpen) {
				console.log('Door open');
				status_updateHeader('Door open');
				status_updateContent('Please close door.');
				$statusDialogActionButton.hide();
				status_showButton();
				if (statusDialog.open === false) {
					statusDialog.showModal();
				}
			}
			else {
				$homeBtn.text('Moving...');
				$homeBtn.prop('disabled', true);
				socket.emit('fl_go_home');
			}
		});
		// ---------- SEND JOB TO MACHINE ----------
		// Run button pressed. Send the fl_sh_xy_here command only if the door is closed.
		$runBtn.on('click', function () {
			if(doorOpen === true) {
				console.log('Door open');
				status_updateHeader('Door open');
				status_updateContent('Please close door.');
				$statusDialogActionButton.hide();
				status_showButton();
				if (statusDialog.open === false) {
					statusDialog.showModal();
				}
			}
			else {
				console.log('Door closed');
				runButtonWasPressed = true;
				socket.emit('fl_sh_xy_here');
				$machineStatus.text('');
			}
		});
		socket.on('fl_sh_xy_here', function (obj) {
			console.log('fl_sh_xy_here ' + obj)
			if(runButtonWasPressed === true) {
				sendJobToLaser();
			}
		});
		function sendJobToLaser() {
			runButtonWasPressed = false;
			$homeBtn.prop('disabled', true);
			$runBtn.prop('disabled', true);
			var homePosition = getHomePosition();
			var JSONdata = {
				fileName: jsfileName,
				is3Dfile: jsis3dFile,
				homePosition: homePosition,
				isDryRun: isDryRunOn()
			};
			console.log(JSONdata);
			$.ajax({
				type: 'POST',
				url: '/sendfile',
				data: JSONdata,
				success: function (response) {
					// data is response from server
					console.log('runjob.pug: success POST to /sendfile response: ' + response);
				}
			});
		}

		// ---------- MAIN JOGGING FUNCTIONS ----------
		// Set the new X position of the machine and update the flag position and text label.
		// If the machine unit is MM, then the user is moving to a MM location.
		// The function convertToPx handles the conversion.
		function setXposition(pos) {
			pos = parseFloat(pos);
			// If the requested position is greater than the limit, set it to the limit.
			if (pos > xPosLimit) {
				pos = xPosLimit;
			}
			// If it's less than 0 for any reason, set it to 0.
			if (pos < 0) {
				pos = 0;
			}
			var newPos = convertToPx(pos).toString() + "px";
			$dragXcontainer.css({"left": newPos})
			newPos = formatPosition(pos);
			$xValue.text(newPos) // update flag text
		}
		// Set the new Y position of the machine in inches and update the flag position and text label.
		function setYposition(pos) {
			pos = parseFloat(pos);
			if (pos > yPosLimit) {
				pos = yPosLimit;
			}
			if (pos < 0) {
				pos = 0;
			}
			var newPos = convertToPx(yPosLimit - pos).toString() + "px";
			$dragYcontainer.css({"top": newPos})
			newPos = formatPosition(pos);
			$yValue.text(newPos) // update flag text
		}
		// Get the X position of the flag.
		// @return {string}
		function getXposition() {
			return $xValue.text();
		}
		function getYposition() {
			return $yValue.text();
		}
		// @return {obj} Returns the current set home position in the display units.
		function getHomePosition() {
			return {
				x: getXposition(),
				y: getYposition()
			}
		}

		// ---------- HELPER FUNCTIONS: BOUNDING BOX ----------
		// draw a div box that represents the job bounds.
		function createBoundingBox() {
			var $div = $("<div>", {id: "jog2d__bounds"});
			$div.css({
				width: boundsWidthPx,
				height: boundsHeightPx
			});
			$boundsContainer.append($div);
			moveBoundingBox();
		}
		// moves the bounding box to a new X and Y position in inches.
		function moveBoundingBox() {
			var yPos = $dragYcontainer.css('top')
			console.log('moveBoundingBox() yPos:' + yPos);
			var topPos = parseInt(yPos.substr(0, yPos.length - 2)) - convertToPx(boundsHeight) - 2;
			topPos += 'px';
			console.log('moveBoundingBox() topPos:' + topPos);
			$('#jog2d__bounds').css({
				top: topPos,
				left: $dragXcontainer.css('left')
			});
		}

		// ---------- DRY RUN SWITCH ----------
		// Initialize the dry run switch listener.
		function setUpDryRunSwitch() {
			$dryRunSwitchInput.on('change', function () {
				if ($dryRunSwitchLabel.is('.is-checked')) {
					$dryRunSwitchText.text('Dry run off');
				}
				else {
					$dryRunSwitchText.text('Dry run on');
				}
			});
		}
		// Return true if dry run is on, false if not.
		function isDryRunOn() {
			return $dryRunSwitchLabel.is('.is-checked');
		}

		// ---------- NUMPADS ----------
		// Set up keypad listeners for the flags using hammertime.js
		function setUpFlagNumpads() {
			$dragXflag.numpad({
				position: 'fixed',
				positionX: 'center',
				positionY: 'middle',
				openOnEvent: null,
				decimalSeparator: '.',
				target: $xValue,
				hidePlusMinusButton: true,
				onKeypadCreate: function () {
					xnmpdID = $(this).attr('id');
				},
				onKeypadClose: function () {
					var val = $(this).find('.nmpd-display').val();
					setXposition(val);
					socket.emit('jog-jog__XY', getHomePosition(), machineUnit);
					moveBoundingBox();
				}
			});
			// Make the flag double clickable with hammer.js
			var xElement = document.getElementById('drag-x-flag');
			var xHammertime = new Hammer(xElement);
			xHammertime.on('doubletap', function (ev) {
				$dragXflag.numpad('open');
			});

			// Set up keypad listener
			$dragYflag.numpad({
				position: 'fixed',
				positionX: 'center',
				positionY: 'middle',
				openOnEvent: null,
				decimalSeparator: '.',
				target: $yValue,
				hidePlusMinusButton: true,
				onKeypadCreate: function () {
					ynmpdID = $(this).attr('id');
				},
				onKeypadClose: function () {
					var val = $(this).find('.nmpd-display').val();
					setYposition(val);
					socket.emit('jog-jog__XY', getHomePosition(), machineUnit);
					moveBoundingBox();
				}
			});
			// Make the flag double clickable with hammer.js
			var yElement = document.getElementById('drag-y-flag');
			var yHammertime = new Hammer(yElement);
			yHammertime.on('doubletap', function (ev) {
				$dragYflag.numpad('open');
			});
		}

		// ============ set up draggabilly ============
		// set up draggable flag using code from the draggabilly documentation
		var $draggableX = $dragXcontainer.draggabilly({
			axis: 'x',
			containment: true
		});

		var $draggableY = $dragYcontainer.draggabilly({
			axis: 'y',
			containment: true
		});
		// create a variable called draggie to access the draggable object data.
		var draggieX = $draggableX.data('draggabilly');
		var draggieY = $draggableY.data('draggabilly');

		// when the document loads, get the current position of the flag using the
		// draggie object (contains data) that we just made. this is used later to
		// do some math.
		var draggieXStartPos = draggieX.position.x;
		var draggieYStartPos = draggieY.position.y;


		// when the flag is dragged, update the text to show the position in inches.
		// bind the dragMove event to the draggable object.
		$draggableX.on('dragMove', function () {
			var xValue = convertPxToUnit(draggieX.position.x - draggieXStartPos);
			if(xValue < closeToZeroTolerance) {
				xValue = formatPosition(0);
			}
			$xValue.text(xValue);
		})
		$draggableY.on('dragMove', function () {
			var yValue = convertPxToUnit(draggieYStartPos - draggieY.position.y);
			if(yValue <= closeToZeroTolerance) {
				yValue = formatPosition(0);
			}
			$yValue.text(yValue);
		})

		// when you remove your finger from the flag, ask the machine to move to that position
		$draggableX.on('dragEnd', function () {
			// If the goal position is close to 0, then just set it to 0.
			if (getXposition() <= closeToZeroTolerance) {
				setXposition(0.0);
			}
			socket.emit('jog-jog__XY', getHomePosition(), machineUnit);
			console.log('moving X to ' + getXposition());
			moveBoundingBox()
		});
		$draggableY.on('dragEnd', function () {
			// If the goal position is close to 0, then just set it to 0.
			if (getYposition() <= closeToZeroTolerance) {
				setYposition(0.0);
			}
			socket.emit('jog-jog__XY', getHomePosition(), machineUnit);
			console.log('moving Y to ' + getYposition());
			moveBoundingBox()
		});

		// ---------- JOGGING HELPER FUNCTIONS ----------
		// @function convertPxToUnit - takes in a pixel measurements and converts it to machineUnit.
		// @param1 - pixel position
		function convertPxToUnit(pixels) {
			if (machineUnit == "MM") {
				return (pixels / pxPerMM).toFixed(2);
			}
			else {
				return (pixels / pxPerIN).toFixed(3);
			}
		}
		function formatPosition(value) {
			if (machineUnit == "MM") {
				return value.toFixed(2);
			}
			else {
				return value.toFixed(3);
			}
		}
		// @param distance {float}
		// Convert a distance to a pixel measurement based on the machine unit.
		function convertToPx(distance) {
			if (machineUnit == "MM") {
				return (distance * pxPerMM).toFixed(1);
			}
			else {
				return (distance * pxPerIN).toFixed(1);
			}
		}

		function convertPSItoBar(pressure) {
			return (pressure * 0.0689).toFixed(2);
		}
	script(src="/javascripts/easytimer.min.js")