extends layout

block content

	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/home')
					i.material-icons keyboard_arrow_left
				a(href='/home').home-btn-icon
					i.material-icons home
				span.mdl-layout-title Select a file from server
		main.mdl-layout__content
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--6-col
						if itemsFound == true
							span#currentDisplayPath !{path}
							.filePanel
								ul#items-list.mdl-list
									// Display a "go up a level" button if we're in a folder that is not the root directory
									if(pathIsRoot === "true")
										li.mdl-list__item
											span.mdl-list__item-primary-content.oneLevelUp
												i.material-icons.mdl-list__item-icon arrow_back
												span.oneLevelUp Go Up
									each folder in JSON.parse(folders)
										li.mdl-list__item
											span.mdl-list__item-primary-content.file
												i.material-icons.mdl-list__item-icon folder
												span.folderName= folder.name
									each file in JSON.parse(files)
										li.mdl-list__item
											span.mdl-list__item-primary-content.file
												i.material-icons.mdl-list__item-icon note
												span.fileName= file.name

						else
							h2 No files found on server.
							p Path: !{path}

					if itemsFound === true
						.mdl-cell.mdl-cell--2-col
							button#select-file-btn(disabled).mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.large-btn-full-width Select file
							p#select-file-status
	dialog.mdl-dialog
		h4.mdl-dialog__title No file selected.
		.mdl-dialog__content
			p Please select a file to continue.
		.mdl-dialog__actions
			button(type='button', class='mdl-button close') Close


	script.
		var socket = io(self.location.host);
		var $selectFileBtn = $('#select-file-btn');
		var $selectFileStatus = $('#select-file-status');
		var selectedItem = {
			name: null,
			type: null
		}
		var rootPath = "#{path}"; // string
		var files = !{files ? JSON.stringify(files) : "undefined"}; // array of objs
		var folders = !{folders ? JSON.stringify(folders) : "undefined"}; // array of objs
		var currentPath = rootPath;
		var pathDisplay = document.getElementById('currentDisplayPath');
		// Keep track of icons to determine what is clicked:
		var fileIconName = 'note';
		var folderIconName = 'folder';
		var goUpIconName = 'arrow_back';

		// ------------- DOCUMENT READY ------------- //

		$(document).ready(function () {
			bindClickToListItems()
			$(".mdl-list__item").click(function () {
				// when the file is selected, add the 'selected' class to the item.
				// remove the 'selected' class from all other elements.
				$('.mdl-list__item').removeClass('selected');
				$(this).addClass('selected');
				$('#select-file-btn').prop('disabled', false);
				// get file name of selected file
				selectedItem.name = $(this).find('.fileName').text();
			});

			// Page gets updated list of fab files and folders at a path.
			socket.on('fileupload_folder-contents', function (filesAndFolders) {
				updatePageData(filesAndFolders);
				currentPath = filesAndFolders.path;
				console.log('fileupload_folder-contents) current path: ' + currentPath);
			});

			socket.on('fileupload_error', function (err) {
				$selectStatus.text(err);
				location.reload();
			});
		});

		// ---------------- HELPER FUNCTIONS --------//
		// ---------- HELPER FUNCTIONS  ---------- //
		var list = document.getElementById('items-list');
		// Given an object from the server containing arrays of fab files and folders at a path,
		// update the list items on the page to show them.
		function updatePageData(filesAndFolders) {
			// Remove all entries from the list
			list.innerHTML = "";
			updateCurrentPath(filesAndFolders.path);
			// Create folders for display
			for (var i = 0; i < filesAndFolders.folders.length; i++) {
				createListEntry('folder', 'folderName', folderIconName, filesAndFolders.folders[i].name);
			}
			// Create files for display
			for (var j = 0; j < filesAndFolders.files.length; j++) {
				createListEntry('file', 'fileName', fileIconName, filesAndFolders.files[j].name);
			}
			bindClickToListItems();
		}

		function updateCurrentPath(newPath) {
			pathDisplay.innerText = newPath;
			if (newPath != rootPath) {
				createListEntry('oneLevelUp', 'oneLevelUp', goUpIconName, 'Go up');
			}
		}

		function bindClickToListItems() {
			var $mdlListItems = $(".mdl-list__item");
			$mdlListItems.click(function () {
				// 1. Remove the 'selected' class from all other elements, then add it to this one.
				$mdlListItems.removeClass('selected');
				$(this).addClass('selected');
				// 2. Check if the currently selected item is a file or a folder.
				selectedItem.type = this.querySelector('span i').textContent;
				selectedItem.name = this.querySelector('span span').textContent;
				if (selectedItem.type == fileIconName) {
					// Enable the select file button
					$selectFileBtn.prop('disabled', false);
				}
				else if (selectedItem.type == folderIconName) {
					// Disable the select file button
					$selectFileBtn.prop('disabled', true);
					socket.emit('fileupload_select-folder', {
						currentPath: currentPath,
						selectedItem: selectedItem
					});
				}
				else { // Go up button
					$selectFileBtn.prop('disabled', true);
					socket.emit('fileupload_select-navigation', currentPath);
				}
			});
		}

		function createListEntry(spanClassName, spanTitleClassName, iconString, label) {
			var entry = document.createElement('li');
			entry.classList.add('mdl-list__item');
			var span = document.createElement('span');
			span.classList.add('mdl-list__item-primary-content', spanClassName);
			var icon = document.createElement('i');
			icon.classList.add('material-icons', 'mdl-list__item-icon');
			icon.innerHTML = iconString;
			var spanTitle = document.createElement('span');
			spanTitle.classList.add(spanTitleClassName);
			spanTitle.innerHTML = label;
			span.appendChild(icon);
			span.appendChild(spanTitle);
			entry.appendChild(span);
			list.appendChild(entry);
		}

		/* ---------- dialog ---------- */
		var dialog = document.querySelector('dialog');
		if (!dialog.showModal) {
			dialogPolyfill.registerDialog(dialog);
		}
		dialog.querySelector('.close').addEventListener('click', function () {
			dialog.close();
		});

		/*############# AJAX calls #############*/

		$selectFileBtn.on('click', function () {
			$selectFileBtn.prop('disabled', true);
			$selectFileStatus.text('Loading file...');
			// if no file selected, show dialog.
			if (selectedItem.name === undefined) {
				dialog.showModal();
			}
			else {
				// Make a POST request to /files
				var data = {
					fileName: selectedItem.name,
					path: currentPath,
					fileLocation: 'server'
				}
				$.ajax({
					type: 'POST',
					url: '/files',
					data: data,
					success: function (data, textString, XHR) {
						if(data.err !== null) {
							$selectFileStatus.text(data.err);
							location.reload();
						}
						else {
							$selectFileStatus.text(data.status);
							window.location.href = '/processes?fileName=' + selectedItem.name;
						}
					},
					error: function () {
						location.reload();
					}
				})
			}

		});