extends layout

block content

	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header#settings__layout
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/home').home-btn-icon
					i.material-icons home
				span.mdl-layout-title= title
				span.header-file-name FabLight HMI v#{hmiVersion}
				.mdl-layout-spacer
				button.mdl-button.mdl-js-button#admin-login Admin login
				button.mdl-button.mdl-js-button#view-machine-status View Machine Status
		main.mdl-layout__content
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop
						.mdl-grid
							.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop
								p MACHINE GAS
								label(for="AIR").mdl-radio.mdl-js-radio
									input(id="AIR" name="gasTypeSelect" type="radio" value="AIR").mdl-radio__button
									span.mdl-radio__label Air
								br
								label(for="N2").mdl-radio.mdl-js-radio
									input(id="N2" name="gasTypeSelect" type="radio" value="N2").mdl-radio__button
									span.mdl-radio__label Nitrogen
								br
								//label(for="O2").mdl-radio.mdl-js-radio
								//	input(id="O2" name="gasTypeSelect" type="radio" value="O2").mdl-radio__button
								//	span.mdl-radio__label Oxygen
								//br
								//label(for="ARGON").mdl-radio.mdl-js-radio
								//	input(id="ARGON" name="gasTypeSelect" type="radio" value="ARGON").mdl-radio__button
								//	span.mdl-radio__label Argon
								//br
								button#save-gas-type(disabled).green.mdl-button.mdl-js-button.mdl-button--raised
									| Save
							.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop
								p MACHINE UNITS
								label(for="MM").mdl-radio.mdl-js-radio
									input(id="MM" name="unitSelect" type="radio" value="MM").mdl-radio__button
									span.mdl-radio__label Millimeters
								br
								label(for="IN").mdl-radio.mdl-js-radio
									input(id="IN" name="unitSelect" type="radio" value="IN").mdl-radio__button
									span.mdl-radio__label Inches
								br
								button#settings_save-units(disabled).green.mdl-button.mdl-js-button.mdl-button--raised
									| Save

						br
						br
						p PROCESS TABLE MANAGEMENT
						p Using !{currentDBname}
						button#settings__upload-process-table(onclick="location.href='settings/uploadProcessTable'").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue
							span Upload process table
						button#settings__download-process-table.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue
							span Download process table
						#settings__status


					.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop
						p UTILITY
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.green#settings__fl_purge_gas
							span Purge gas
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.green#settings__vacuum
							span#settings__vacuum_label vacuum on

						br
						br
						p ADVANCED
						if(rotaryExists)
							button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue#settings__fl_rot_align_theta
								span Rotary leveling
							button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue#settings__fl_rot_align_y
								span Rotary centering
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue#settings__fl_beam_centering
							span Beam centering
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue#settings__fl_focus_test
							span Focus test
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue#settings__chs
							span CHS Info
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue#settings__download_log
							span Download Log



		dialog#settings-dialog.mdl-dialog
			h4.mdl-dialog__title#settings-dialog__title
			.mdl-dialog__content#settings-dialog__content
				p
			.mdl-dialog__actions
				button(type='button')#settings-dialog__actionButton.mdl-button Start
				button(type='button')#settings-dialog__closeButton.mdl-button.close Close

		include includes/statusDialog.pug

		script(src="/socket.io/socket.io.js")
		script.
			var socket = io(self.location.host);
			var currentGasFromDB = '#{currentGas}';
			var currentUnitFromDB = '#{currentUnit}';
			var currentGas;
			var $downloadTable = $('#settings__download-process-table');
			var $status = $('#settings__status');
			var $calibrate = $('#settings__chs');
			var $vacuum = $('#settings__vacuum');
			var $downloadLog = $('#settings__download_log');
			var $saveUnit = $('#settings_save-units');
			var $saveGas = $('#save-gas-type');
			var $viewMachineStatus = $('#view-machine-status');
			var $adminLogin = $('#admin-login');

			// for dialog
			var $settingsTitle = $('#settings-dialog__title');
			var $settingsContent = $('#settings-dialog__content');
			var $settingsAction = $('#settings-dialog__actionButton');
			var $settingsClose = $('#settings-dialog__closeButton');
			var settingsDialog = document.querySelector('#settings-dialog');
			if (!settingsDialog.showModal) {
				dialogPolyfill.registerDialog(settingsDialog);
			}
			settingsDialog.querySelector('.close').addEventListener('click', function () {
				settingsDialog.close();
			});

			$(document).ready(function () {
				// when the page loads, check the radio button that is the current gas and unit
				// you need a timeout here because MDL takes some time to load
				setTimeout(function () {
					document.getElementById(currentGasFromDB).parentNode.MaterialRadio.check();
					document.getElementById(currentUnitFromDB).parentNode.MaterialRadio.check();
				}, 500);

				// If any units radio buttons are pressed, enable the save button
				$('input[type=radio][name="unitSelect"]').change(function () {
					$saveUnit.prop('disabled', false).html('Save');
				});
				// Save units button is pressed
				$saveUnit.on('click', function() {
					var selectedUnit = $('input[name="unitSelect"]:checked').val();
					socket.emit('settings_unit-selected', selectedUnit);
				});

				// If any gas selection radio buttons are pressed, then enable the save button
				$('input[type=radio][name=\'gasTypeSelect\']').change(function () {
					$saveGas.prop('disabled', false).html('Save');
				});
				// If the save gas button is pressed
				$saveGas.on('click', function() {
					var selectedGas = $('input[name="gasTypeSelect"]:checked').val();
					socket.emit('settings_gas-selected', selectedGas);
				});

				$viewMachineStatus.on('click', function () {
					location.href= 'settings/machineStatusViewer';
				})
				$adminLogin.on('click', function () {
					location.href = 'settings/adminLogin';
				})

				$downloadTable.on('click', function () {
					$(this).prop('disabled', true);
					$.ajax({
						type: 'PUT',
						url: '/processTable/',
						data: {
							action: 'download'
						},
						statusCode: {
							204: function () {
								console.log('plug in usb')
								$downloadTable.prop('disabled', false);
								$status.text('Please plug in USB and try again.');
							},

							200: function(data) {
								console.log('copied to usb')
								$downloadTable.prop('disabled', false);
								$status.text(data.message);
								console.log('got process table downloaded');
							}
						}
					});
				});
				
				socket.on('settings_gas-selected-complete', function () {
					$saveGas.html('Saved').prop('disabled', true);
				})
				socket.on('settings_unit-selected-complete', function() {
					$saveUnit.html('Saved').prop('disabled', true);
				})

				var $rotThetaBtn = $('#settings__fl_rot_align_theta');
				var $rotYbtn = $('#settings__fl_rot_align_y');
				var $purgeGasBtn = $('#settings__fl_purge_gas');
				var $focusTestBtn = $('#settings__fl_focus_test');
				var $beamCenteringBtn = $('#settings__fl_beam_centering');

				$rotThetaBtn.on('click', function() {
					$rotThetaBtn.prop('disabled', true);
					socket.emit('fl_rot_align_theta');
				});

				$rotYbtn.on('click', function () {
					$rotYbtn.prop('disabled', true);
					socket.emit('fl_rot_align_y');
				});

				$purgeGasBtn.on('click', function() {
					$purgeGasBtn.prop('disabled', true);
					socket.emit('fl_purge_gas');
				});

				$focusTestBtn.on('click', function() {
					location.href= 'settings/focusTest';
				});

				$beamCenteringBtn.on('click', function () {
					location.href = 'settings/beamCentering';
					$beamCenteringBtn.prop('disabled', true);
				});

				$calibrate.on('click', function () {
					location.href= 'settings/chs';
				});

				$vacuum.on('click', function () {
					var text = $vacuum.text();
					if(text == 'vacuum on') {
						$vacuum.text('vacuum off');
						socket.emit('fl_vacuum_on');
					}
					else {
						$vacuum.text('vacuum on');
						socket.emit('fl_vacuum_off');
					}
				});

				$downloadLog.on('click', function () {
					$(this).prop('disabled', true);
					$.ajax({
						type: 'PUT',
						url: '/settings/log',
						data: {
							action: 'download'
						},
						success: function(data, textStatus, XHR) {
							$downloadLog.prop('disabled', false);
							if(data.err != null) {
								$status.text(data.err);
							}
							else {
								console.log('copied to usb')
								$status.text('Copied file to USB.');
							}
						}
					});
				});

				// ---------- RECEIVING STATUSES ---------- //

				socket.on('fl_purge_gas', function (s) {
					switch (parseInt(s)) {
						case 0:
							break;
						case 1:
							$purgeGasBtn.prop('disabled', false);
							break;
						default:
							break;
					}
				});

				socket.on('fl_beam_centering', function (s) {
					switch (parseInt(s)) {
						case 0:
							break;
						case 1:
							$beamCenteringBtn.prop('disabled', false);
							break;
						default:
							break;
					}
				});

				socket.on('fl_rot_align_y', function (s) {
					switch (parseInt(s)) {
						case 0:
							break;
						case 1:
							$rotYbtn.prop('disabled', false);
							break;
						default:
							break;
					}
				});

				socket.on('fl_rot_align_theta', function (s) {
					switch (parseInt(s)) {
						case 0:
							break;
						case 1:
							$rotThetaBtn.prop('disabled', false);
							break;
						default:
							break;
					}
				});


			});
		script(src="/javascripts/statusDialog.js")
