extends layout

block content

	// Simple header with fixed tabs.
	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
		header.mdl-layout__header
			.mdl-layout__header-row
				span.mdl-layout-title File test
			// Tabs
			.mdl-layout__tab-bar.mdl-js-ripple-effect
				a.mdl-layout__tab.is-active(href='#fixed-tab-1') File select
				a.mdl-layout__tab(href='#fixed-tab-2') Preview
				a.mdl-layout__tab(href='#fixed-tab-3') Set home
				a.mdl-layout__tab(href='#fixed-tab-4') Process
				a.mdl-layout__tab(href='#fixed-tab-5') Run
		.mdl-layout__drawer
			span.mdl-layout-title Title
		main.mdl-layout__content
			section#fixed-tab-1.mdl-layout__tab-panel.is-active
				.page-content
					form(id="upload-form" enctype="multipart/form-data" action="/fileupload" method="POST")
						input(type="file", name="singleInputFileName", class="file-upload-btn")
						input(type="submit", value="upload file", name="submit")
				div(class="col-1-3 file-preview")
					p preview of file goes here
			section#fixed-tab-2.mdl-layout__tab-panel
				.page-content
					// Your content goes here
			section#fixed-tab-3.mdl-layout__tab-panel
				.page-content
					p send to socket.io
					input(type="text" id="text-input")
					input(type="button" id="button" value="click me")
					h4 socket response:
					div(id="socket-response") placeholder
			section#fixed-tab-4.mdl-layout__tab-panel
				.page-content
					h1 Process Table
					//p #{jsonTable.XYDN_FEED}
			section#fixed-tab-5.mdl-layout__tab-panel
				.page-content



		script(src="/socket.io/socket.io.js")
		script.

			var socket = io(self.location.host);

			$('#button').on('click', function() {
				var text = $('#text-input').val();
				socket.emit('text-from-browser', text);
			});

			socket.on('response-from-server', function(data){
				$('#socket-response').text(data);
			});

			socket.on('somesocketkey', function (data) {
				console.log('++++++++');
				console.log(data);
			});
