extends layout

block content
	.mdl-grid
		.mdl-cell.mdl-cell--2-col
		.mdl-cell.mdl-cell--8-col
			h1 File Manager
			p View all files on the server.

			if itemsFound === true
				span#currentDisplayPath !{path}
				.filePanel
					ul#items-list.mdl-list
						// Display a "go up a level" button if we're in a folder
						if(pathIsRoot === "true")
							li.mdl-list__item
								span.mdl-list__item-primary-content.oneLevelUp
									i.material-icons.mdl-list__item-icon arrow_back
									span.oneLevelUp Go Up
						each folder in JSON.parse(folders)
							li.mdl-list__item
								span.mdl-list__item-primary-content.file
									i.material-icons.mdl-list__item-icon.folder-icon folder
									span.folderName= folder.name
								span.mdl-list__item-secondary-content
									i.material-icons delete
						each file in JSON.parse(files)
							li.mdl-list__item
								span.mdl-list__item-primary-content.file
									i.material-icons.mdl-list__item-icon.file-icon note
									span.fileName= file.name
								span.mdl-list__item-secondary-content
									i.material-icons delete

			else
				h2 No job files found.


	dialog.mdl-dialog
		h4.mdl-dialog__title Delete item?
		.mdl-dialog__content
			p
		.mdl-dialog__actions
			button#file_delete(type='button', class='mdl-button') Delete
			button(type='button', class='mdl-button close') Cancel


	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="/socket.io/socket.io.js")
	script.
		// var socket = io(self.location.host);
		var socket = io.connect(self.location.host);
		var selectedItem = {
			name: null,
			type: null
		}
		var selectedItemToDelete = {
			name: null,
			type: null
		}
		var rootPath = "#{path}"; // string
		var files = !{files ? JSON.stringify(files) : "undefined"}; // array of objs
		var folders = !{folders ? JSON.stringify(folders) : "undefined"}; // array of objs
		var currentPath = rootPath;
		var pathDisplay = document.getElementById('currentDisplayPath');
		// Keep track of icons to determine what is clicked:
		var fileIconName = 'note';
		var folderIconName = 'folder';
		var goUpIconName = 'arrow_back';
		var $deleteItemButton = $('#file_delete');


		/* ---------- dialog ---------- */
		var dialog = document.querySelector('dialog');
		var $dialogContent = $('.mdl-dialog__content');
		if (!dialog.showModal) {
			dialogPolyfill.registerDialog(dialog);
		}
		dialog.querySelector('.close').addEventListener('click', function () {
			dialog.close();
		});
		$deleteItemButton.on('click', function () {
			socket.emit('fileupload_delete-item', {
				currentPath: currentPath,
				selectedItemToDelete: selectedItemToDelete
			});
		});


		// ------------- DOCUMENT READY ------------- //

		$(document).ready(function () {
			bindClickToListItems();

			// Page gets updated list of fab files and folders at a path.
			socket.on('fileupload_folder-contents', function (filesAndFolders) {
				if(filesAndFolders.empty === true) {
					updatePageData(filesAndFolders);
					currentPath = filesAndFolders.path;
					console.log('fileupload_folder-contents) Empty current path: ' + currentPath);
				}
				else {
					updatePageData(filesAndFolders);
					currentPath = filesAndFolders.path;
					console.log('fileupload_folder-contents) current path: ' + currentPath);
				}
			});

			socket.on('fileupload_error', function (err) {
				location.reload();
			});

			socket.on('fileupload_delete-item-complete', function (err) {
				if(err) {
					console.log(err);
					$dialogContent.text(err)
				}
				else {
					$dialogContent.text('')
					if (dialog.open === true) {
						dialog.close();
					}
					console.log('Deleted item.')
					socket.emit('fileupload_select-folder', {
						currentPath: currentPath,
						selectedItem: null
					});
				}
			})
		});

		// ---------------- HELPER FUNCTIONS --------//
		// ---------- HELPER FUNCTIONS  ---------- //
		var list = document.getElementById('items-list');
		// Given an object from the server containing arrays of fab files and folders at a path,
		// update the list items on the page to show them.
		function updatePageData(filesAndFolders) {
			// Remove all entries from the list
			list.innerHTML = "";
			updateCurrentPath(filesAndFolders.path);
			// Create folders for display
			for (var i = 0; i < filesAndFolders.folders.length; i++) {
				createListEntry('folder', 'folderName', folderIconName, filesAndFolders.folders[i].name);
			}
			// Create files for display
			for (var j = 0; j < filesAndFolders.files.length; j++) {
				createListEntry('file', 'fileName', fileIconName, filesAndFolders.files[j].name);
			}
			bindClickToListItems();
		}

		function updateCurrentPath(newPath) {
			pathDisplay.innerText = newPath;
			console.log('updateCurrentPath(): ' + newPath);
			if (newPath != rootPath) {
				createListEntry('oneLevelUp', 'oneLevelUp', goUpIconName, 'Go up');
			}
		}

		function bindClickToListItems() {
			var $mdlListItems = $(".mdl-list__item-primary-content");
			$mdlListItems.click(function () {
				// 1. Remove the 'selected' class from all other elements, then add it to this one.
				$mdlListItems.removeClass('selected');
				$(this).addClass('selected');
				// 2. Check if the currently selected item is a file or a folder.
				selectedItem.type = this.querySelector('i').textContent;
				selectedItem.name = this.querySelector('span').textContent;
				// If the selected item is a folder:
				if (selectedItem.type === folderIconName) {
					socket.emit('fileupload_select-folder', {
						currentPath: currentPath,
						selectedItem: selectedItem
					});
				}
				else if(selectedItem.type === fileIconName) {

				}
				else {
					// Go up button
					socket.emit('fileupload_select-navigation', currentPath);
				}
			});

			var $actionButtons = $(".mdl-list__item-secondary-content");
			$actionButtons.click(function () {
				selectedItemToDelete.type = this.parentElement.querySelector('.mdl-list__item-primary-content i').textContent;
				selectedItemToDelete.name = this.parentElement.querySelector('.mdl-list__item-primary-content span').textContent;
				if (selectedItemToDelete.type === fileIconName) {
					selectedItemToDelete.type = 'file';
				}
				else {
					selectedItemToDelete.type = 'folder';
				}
				console.log(selectedItemToDelete)
				// Open the dialog to confirm if the user wants to delete the item
				if (dialog.open === false) {
					dialog.showModal();
				}
			});
		}

		function createListEntry(spanClassName, spanTitleClassName, iconString, label) {
			var entry = document.createElement('li');
			entry.classList.add('mdl-list__item');
			var span = document.createElement('span');
			span.classList.add('mdl-list__item-primary-content', spanClassName);
			var icon = document.createElement('i');
			icon.classList.add('material-icons', 'mdl-list__item-icon');
			icon.innerHTML = iconString;
			if(spanClassName === 'folder') {
				icon.classList.add('folder-icon')
			}

			var spanTitle = document.createElement('span');
			spanTitle.classList.add(spanTitleClassName);
			spanTitle.innerHTML = label;


			span.appendChild(icon);
			span.appendChild(spanTitle);
			entry.appendChild(span);

			if (label !== 'Go up') {
				var spanAction = document.createElement('span');
				spanAction.classList.add('mdl-list__item-secondary-content');
				var actionIcon = document.createElement('i');
				actionIcon.classList.add('material-icons');
				actionIcon.innerHTML = 'delete';
				spanAction.appendChild(actionIcon)
				entry.appendChild(spanAction);
			}

			list.appendChild(entry);
		}


