extends layout

block content
	.mdl-grid
		.mdl-cell.mdl-cell--1-col
		.mdl-cell.mdl-cell--10-col
			.mdl-grid
				.mdl-cell.mdl-cell--4-col
					.card-wide.mdl-card.mdl-shadow--2dp
						.mdl-card__title#card-1
							h2.mdl-card__title-text Upload a job
						.mdl-card__supporting-text
							| Upload a .fab file from your browser to the FabServer.
							br
							br
							| The job file will be available to run on the FabLight machine.
						.mdl-card__actions.mdl-card--border
							a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/upload')
								| Get Started
				.mdl-cell.mdl-cell--4-col
					.card-wide.mdl-card.mdl-shadow--2dp
						.mdl-card__title#card-2
							h2.mdl-card__title-text Job management console
						.mdl-card__supporting-text
							| View, edit, or delete job files on the FabServer.
							br
							br
							| Administrator access is required for viewing files in other user accounts.
						.mdl-card__actions.mdl-card--border
							a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/files')
								| Manage jobs
				.mdl-cell.mdl-cell--4-col
					.card-wide.mdl-card.mdl-shadow--2dp
						.mdl-card__title#card-3
							h2.mdl-card__title-text Machine service
						.mdl-card__supporting-text
							| Tools for machine service and troubleshooting.
							br
							br
							| Includes a terminal and FabLight support services.
						.mdl-card__actions.mdl-card--border
							a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/service')
								| Service tools
			h4 Inactive services
			.mdl-grid
				.mdl-cell.mdl-cell--4-col
					.card-wide.mdl-card.mdl-shadow--2dp
						.mdl-card__title.card-disabled
							h2.mdl-card__title-text Scheduler
						.mdl-card__supporting-text
							| Schedule a work order using a calendar interface.
						.mdl-card__actions.mdl-card--border
							a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--disabled(href='')
								| Schedule
				.mdl-cell.mdl-cell--4-col
					.card-wide.mdl-card.mdl-shadow--2dp
						.mdl-card__title.card-disabled
							h2.mdl-card__title-text Manage shipments
						.mdl-card__supporting-text
							| View, create, and manage shipments. Track work orders.
						.mdl-card__actions.mdl-card--border
							a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--disabled(href='')
								| Shipments


	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script.

