doctype html
html
	head
		title= title
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
		script(defer src="https://code.getmdl.io/1.3.0/material.min.js")
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
			header.mdl-layout__header
				.mdl-layout__header-row
					a(href='/')
						img(src='images/logo.png').logo
						span.mdl-layout-title FabServer
					// Add spacer, to align navigation to the right
					.mdl-layout-spacer
					// Navigation. We hide it in small screens.
					nav.mdl-navigation.mdl-layout--large-screen-only
						a.mdl-navigation__link(href='/upload') Upload
						a.mdl-navigation__link(href='/files') File management
						a.mdl-navigation__link(href='/service') Service
			main.mdl-layout__content
				.page-content
					// Your content goes here
					block content