extends layout

block content
	.mdl-grid
		.mdl-cell.mdl-cell--2-col
		.mdl-cell.mdl-cell--8-col
			h1 Service tools
			p For administrators only.
			a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(href='/terminal')
				| Terminal
			br
			br
			a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(href='/service/update')
				| Update Machine Software

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="/socket.io/socket.io.js")
	script.
		var socket = io.connect(self.location.host);