extends layout.pug


block content
	link(href='/stylesheets/terminal.css', type='text/css', rel='stylesheet')

	// Main page layout
	.mdl-grid
		.mdl-cell.mdl-cell--10-col
			#terminalActions
				button(disabled)#terminal_send-file.mdl-button.mdl-js-button.mdl-button--colored
					| Send parameter file
				button(disabled)#terminal_store-file.mdl-button.mdl-js-button.mdl-button--colored
					| Update software
				button#terminal_save_log-file.mdl-button.mdl-js-button.mdl-button--colored
					| Save terminal log
			#terminalWindow
			#userCommand
				input(id='userCommandInput' type='text' placeholder='type command...')
		.mdl-cell.mdl-cell--2-col
			#terminalConfig
				h3 Config
				label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='terminal_port43')
					input#terminal_port43.mdl-radio__button(type='radio', name='portOptions', value='debugPort', checked='true')
					span.mdl-radio__label Port 43 (debug)
				br
				br
				button#terminal_connectButton.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored
					| Connect
			h3 Status
			#terminalStatus

	// Send file dialog
	dialog#terminal_send-file_dialog.mdl-dialog
		h4.mdl-dialog__title Send parameter file
		form#terminal_send-file_form(action="/terminal/send" enctype="multipart/form-data" method="POST")
			.mdl-dialog__content
				p Select a .uc file to send to the motion controller.
					.file-upload.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
						span Select file
						input#terminal_send-file_input.upload(type='file', name='Send File Attachment' accept=".uc")
					input#terminal_send-file-upload-url.file-upload-url(type='text', readonly='', placeholder='Maximum file size is 1GB')
			.mdl-dialog__actions
				button(disabled type='submit').mdl-button.action1 Send file
				button.mdl-button.close(type='button') Cancel

	// Store file dialog
	dialog#terminal_store-file_dialog.mdl-dialog
		h4.mdl-dialog__title Update Controller software
		form#terminal_store-file_form(action="/terminal/................" enctype="multipart/form-data" method="POST")
			div.mdl-dialog__content
				p Select a .uc software update file to store on the machine.
				.file-upload.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
					span Select file
					input#terminal_store-file_input.upload(type='file', name='Store File Attachment' accept=".uc")
				input#terminal_store-file-upload-url.file-upload-url(type='text', readonly='', placeholder='Maximum file size is 1GB')
				p 
				label#storeFileLocation 
				p 
					span Location 
					input#terminal_store-file-upload-location.file-upload-location(type='number', value=' ')
			div.mdl-dialog__actions
				button(disabled type='submit').mdl-button.action1 Store file
				button.mdl-button.close(type='button') Cancel


	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src='/socket.io/socket.io.js')
	script.
		var socket = io(self.location.host);
		// JQuery interface variables
		var $connectButton = $('#terminal_connectButton');
		var $terminalStatusArea = $('#terminalStatus');
		var $userCommandInput = $('#userCommandInput');
		var portSelectionName = 'portOptions';
		var $portRadioButtonGroup = $('input[name=\'' + portSelectionName + '\']');
		// Send file
		var $sendFileForm = $('#terminal_send-file_form');
		var $sendFileUploadURL = $('#terminal_send-file-upload-url');
		var $sendFileButton = $('#terminal_send-file_dialog .action1');
		var $sendFileInput = $('#terminal_send-file_input');
		// Store file
		var $storeFileForm = $('#terminal_store-file_form');
		var $storeFileUploadURL = $('#terminal_store-file-upload-url');
		var $storeFileUploadLocation = $('#terminal_store-file-upload-location');
		var $storeFileButton = $('#terminal_store-file_dialog .action1');
		var $storeFileInput = $('#terminal_store-file_input');
		var $storeFileLocation = $('#storeFileLocation');
		// Save Log
		var $saveLogButton = $('#terminal_save_log-file');

		// Keeping state
		var connectButtonState;

		// Command History
		// Looks for ArrowUp and ArrowDown to implement a command history. 
		var commandHistory = [];
		var commandHistoryLoc = 0;

		// ----- Send file Dialog
		var sendFileDialog = document.querySelector('#terminal_send-file_dialog');
		var showSendFileDialogButton = document.querySelector('#terminal_send-file');
		if (!sendFileDialog.showModal) {
			dialogPolyfill.registerDialog(sendFileDialog);
		}
		showSendFileDialogButton.addEventListener('click', function () {
			// Clear the existing input in case a file was already selected
			$sendFileUploadURL.val('');
			sendFileDialog.showModal();
		});
		sendFileDialog.querySelector('.close').addEventListener('click', function () {
			sendFileDialog.close();
		});
		// ----- Store file Dialog
		var storeFileDialog = document.querySelector('#terminal_store-file_dialog');
		var showStoreFileDialogButton = document.querySelector('#terminal_store-file');
		if (!storeFileDialog.showModal) {
			dialogPolyfill.registerDialog(storeFileDialog);
		}
		showStoreFileDialogButton.addEventListener('click', function () {
			$storeFileUploadURL.val('');
			storeFileDialog.showModal();
		});
		storeFileDialog.querySelector('.close').addEventListener('click', function () {
			storeFileDialog.close();
		});
		// Menu buttons
		var menuButtons = [showSendFileDialogButton, showStoreFileDialogButton]

		/* ============================================= */
		/* ========== document ready functions ========= */
		/* ============================================= */
		$(document).ready(function () {
			socket.emit('terminal_status-info');

			$sendFileForm.on('submit', function (e) {
				e.preventDefault();
				var file = $sendFileInput[0].files[0];
				if(typeof file !== 'undefined') {
					var form = e.target;
					var formData = new FormData();
					formData.append('file', file);
					console.log(formData);
					$.ajax({
						url: form.action,
						method: form.method,
						data: formData,
						processData: false,
						contentType: false,
						success: function(response) {
							console.log('success:' + response);
							if(sendFileDialog.open === true) {
								sendFileDialog.close();
							}
						},
						error: function (jqXHR, textStatus, errorMessage) {
							console.log(errorMessage)
						}
					})
				}
			})

			$storeFileForm.on('submit', function (e) {
				e.preventDefault();
				var file = $storeFileInput[0].files[0];
				var location = $storeFileUploadLocation.val();
				if (typeof file !== 'undefined') {
					var form = e.target;
					var formData = new FormData();
					formData.append('file', file);
					formData.append('location', location);
					console.log(file);
					console.log(location);
					console.log(formData);
					$.ajax({
						url: form.action,
						method: form.method,
						data: formData,
						processData: false,
						contentType: false,
						success: function (response) {
							console.log('success:' + response);
							if (storeFileDialog.open === true) {
								storeFileDialog.close();
							}
						},
						error: function (jqXHR, textStatus, errorMessage) {
							console.log(errorMessage)
						}
					})
				}
			})

		});

		/* -------- document functions -------- */
		// if the user presses the enter key, send what's in the input box to the server using socket.io
		$(document).keydown(function (e) {

			// focus the cursor in the input box so user can start typing
			if (e.ctrlKey == false)
				$userCommandInput.focus();
			if (e.key === 'Enter') {
				updateScroll();
				var userCommand = $userCommandInput.val();
				//	send the command to the socket. the server is listening for events in app.js
				socket.emit('terminal_data', {
					portName: getSelectedPort(),
					message: userCommand
				});

				// Save command but not if they just press return. Also, look if the command is the
				// same as the last command and don't save it as well.
				if (userCommand.length > 0) {
					if (userCommand != commandHistory[commandHistory.length - 1]) {
						commandHistory.push(userCommand);
					}
				}
				commandHistoryLoc = commandHistory.length -1;

				// Look for ExtraTech's reboot command and automatically re-connect after 5 seconds.
				if (userCommand.toUpperCase() === 'COLD')
				{
					setTimeout(function(){socket.emit('terminal_connect', {portName: getSelectedPort()})}, 5000);
				}

				// clear the command from the input so its ready for a new one
				$userCommandInput.val('');
				// Don't show command in the terminal div. The command will be echoed back by the controller.
				//addToTerminalWindow({
				//	from: 'user',
				//	message: userCommand
				//});

				//console.log(commandHistory);

			}
			else if (e.key === 'ArrowUp') {
				$userCommandInput.val(commandHistory[commandHistoryLoc]);
				if (commandHistoryLoc > 0) {
					commandHistoryLoc--;
				}
			}
			else if (e.key === 'ArrowDown') {
				if (commandHistoryLoc < commandHistory.length - 1) {
					commandHistoryLoc++;
				}
				$userCommandInput.val(commandHistory[commandHistoryLoc]);
			}
			else if (e.ctrlKey == true) {
				if (e.key === 'l') {   // Copy log
					console.log('Log :');
					console.log(document.getElementById("terminalWindow").textContent);
					return false;  // return false so Chrome doesn't use this key (which is set focus on search bar)
				}
				else if (e.key === 'a') {   // Select all
					node = document.getElementById("terminalWindow");
					if (document.body.createTextRange) {
						const range = document.body.createTextRange();
						range.moveToElementText(node);
						range.select();
					} else if (window.getSelection) {
						const selection = window.getSelection();
						const range = document.createRange();
						range.selectNodeContents(node);
						selection.removeAllRanges();
						selection.addRange(range);
					} else {
						console.warn("Could not select text in terminal: Unsupported browser.");
					}
					return false;
				}
				else if (e.key === 'd') {   // Send ctrl D
					socket.emit('terminal_data', {
						portName: getSelectedPort(),
						message: '\04'
					});
				}
				else if (e.key === 'v') {   // paste
					navigator.clipboard.readText()
					.then(text => { 
						socket.emit('terminal_data', {
							portName: getSelectedPort(),
							message: text
						});
					});
				}
				else if (e.key != 'Control') {
					/* don't send anything 
					socket.emit('terminal_data', {
						portName: getSelectedPort(),
						message: e.code
					});
					*/
				}
			}
		});

		/* -------- socket.io events received -------- */
		/* Get the current application TCP port connection status.
		*/
		socket.on('terminal_status-info', function (status) {
			console.log('terminal_status-info: ')
			console.log(status)
			let currentlyConnected = false;
			let statusString = '';
			for(socketPort in status) {
				statusString += socketPort + ' connected: ' + status[socketPort] + '\n';
				if((socketPort === getSelectedPort()) && (status[socketPort] === true)) {
					currentlyConnected = true;
				}
			}
			if(statusString.length > 0) {
				addToStatusWindow(statusString, status.time)
			}
			// Determine the state of the connect button. If the server says we're already connected to the port,
			// allow the user to disconnect.
			if(currentlyConnected === true) {
				disableButton($connectButton, false);
				disableMenuButtons(false);
				$connectButton.text('Disconnect');
			}
			else {
				// If we are NOT already connected on this event, then show the connect button.
				disableMenuButtons(true);
				disableButton($connectButton, false);
				$connectButton.text('Connect');
			}
		});
		socket.on('terminal_message', function (data) {
			addToTerminalWindow({
				from: 'machine',
				message: data
			});
		});
		socket.on('terminal_connect', function (data) {
			//we will have 
			//- {portName: 'debugPort', portNumber: 43, completed: false, time: '03:34:31'}
			//- 	completed: false
			//- 	portName: "debugPort"
			//- 	portNumber: 43
			//- 	time: "03:34:31"
			//- 	[[Prototype]]: Object

			if(data.completed === true) {
				$connectButton.text('Disconnect');
				disableButton($connectButton, false)
				disableRadioButtons(portSelectionName, true);
				disableMenuButtons(false);
				addToStatusWindow('Successfully connected to port ' + data.portNumber,
					data.time);
			}
			else {
				addToStatusWindow('Attempting connection to port ' + data.portNumber + '...',
					data.time);
			}
		})
		socket.on('terminal_disconnect', function (data) {
			if (data.completed === true) {
				$connectButton.text('Connect');
				disableButton($connectButton, false)
				disableRadioButtons(portSelectionName, false);
				disableMenuButtons(true);
				addToStatusWindow('Disconnected from port ' + data.portNumber,
					data.time);
			}
			else {
				$connectButton.text('Disconnecting...');
				addToStatusWindow('Disconnecting from port ' + data.portNumber + '...',
					data.time);
			}
		})
		socket.on('terminal_error', function (data) {
			addToStatusWindow('Err [Port ' + data.portNumber
				+ ']: ' + data.err,
					data.time);
			// If there's a terminal error but we're in the process of disconnecting or connecting,
			// this indicates a failure in this process. Change the button labels back to the previous state
			// so the user can try again.

			connectButtonState = $connectButton.text().toLowerCase();

			if(connectButtonState === 'disconnecting...') {
				$connectButton.text('Disconnect');
				connectButtonState = 'disconnect';
			}
			else if(connectButtonState === 'connecting...') {
				$connectButton.text('Connect');
				connectButtonState = 'connect';
			}
		})
		socket.on('terminal_data', function (data) {
			addToTerminalWindow({
				from: 'machine',
				message: data.data
			})
		})

		// ---------------- UI STATUS FUNCTIONS --------------- //
		/* Change the state of the connect button including label AND click listener function.
			Valid states:
			'Connect'
			'Connecting...'
			'Disconnect'
			'Disconnecting...'
		*/
		$connectButton.click(function (e) {
			connectButtonState = e.target.textContent.toLowerCase();
			console.log(connectButtonState);
			// If the button is in the connect state, try to connect
			if(connectButtonState === 'connect') {
				disableButton($connectButton, true)
				disableRadioButtons(portSelectionName, true);
				connectButtonState = 'connecting...'
				$connectButton.text('Connecting...')
				socket.emit('terminal_connect', {
					portName: getSelectedPort()
				})
			}
			else if(connectButtonState === 'disconnect') {
				disableButton($connectButton, true);
				$connectButton.text('Disconnecting...')
				connectButtonState = 'disconnecting...'
				socket.emit('terminal_disconnect', {
					portName: getSelectedPort()
				})
			}
			else {
				// Don't do anything if the button is in an indeterminate state.
				// It may be in the process of disconnecting or connecting.
			}
		});
		$saveLogButton.click(function (e) {
		var log = document.getElementById("terminalWindow").textContent;
		const blob = new Blob([log], {type: 'text/plain'});
		var anchor = document.createElement('a');
		var leadingZero = '';
		var today = new Date();

		// Add leading zero for months less than 10
		var month = (today.getMonth()+1);
		if (month < 10) leadingZero = '0';

		var date = today.getFullYear() + '-' + leadingZero + (today.getMonth()+1);

		// Add leading zero for days less than 10
		leadingZero = '';
		var day = today.getDate();
		if (day < 10) leadingZero = '0';
		date = date + '-' + leadingZero + today.getDate();

		var time = (today.getHours()*10000) + (today.getMinutes()*100) + today.getSeconds();

		// Add leading zero for hours less than 10
		leadingZero = '';
		if (time < 100000) leadingZero = '0';
		var dateTimeFile = 'cap' + date + '_' + leadingZero + time + '.txt';

		anchor.setAttribute('download', dateTimeFile);
		anchor.setAttribute('href', window.URL.createObjectURL(blob));
		anchor.click();
		});

		function getSelectedPort() {
			console.log($portRadioButtonGroup);
			console.log($portRadioButtonGroup.attr('value'));
			return $portRadioButtonGroup.attr('value');
		}

		/*	@function addToStatusWindow - add a message to the status window.
			Used for TCP connection status messages.
		*/
		function addToStatusWindow(statusMessage, time) {
			let message = statusMessage;
			if(typeof time !== 'undefined') {
				message = '[' + time + '] ' + message;
			}
			$terminalStatusArea.append(
				'<p>' +
				message +
				'</p>')
		}
		// ---------------- TERMINAL BUTTON FUNCTIONS --------------- //
		// TODO
		// send a parameter
		$sendFileButton.on('click', function () {
			let selectedFileName = $sendFileUploadURL.val();
			// Upload the file to the server to send it.
		})


		// ---------------- file selection --------------- //
		// When a file is selected, update the name of the file.
		document.getElementById("terminal_send-file_input").onchange = function () {
			$sendFileUploadURL.val(this.value.replace(/C:\\fakepath\\/i, ''));
			if($sendFileUploadURL.val() !== '') {
				disableButton($sendFileButton, false);
			}
			else {
				disableButton($sendFileButton, true);
			}
		};
		document.getElementById("terminal_store-file_input").onchange = function () {
			$storeFileUploadURL.val(this.value.replace(/C:\\fakepath\\/i, ''));
			if ($storeFileUploadURL.val() !== '') {
				disableButton($storeFileButton, false);
				//var storeFileLoc = document.getElementById('storeFileLocation');
				$storeFileUploadLocation.val(getFileLocation($storeFileUploadURL.val()));
			}
			else {
				disableButton($storeFileButton, true);
				var storeFileLoc = document.getElementById('storeFileLocation');
				storeFileLoc.innerText = "";
			}
		};

		// ---------------- UI HELPER FUNCTIONS --------------- //

		/*	@ function updateScroll - scroll the terminal to the bottom.
			used when a new command is entered or when new data comes from TCP. */
		function updateScroll() {
			var $terminalWindow = $('#terminalWindow');
			$terminalWindow.stop().animate({
				scrollTop: $terminalWindow[0].scrollHeight
			}, 200);
		}

		/*  @function addToTerminalWindow - displays a message in the terminal
			@arg1 [object]:
			{	from: [string of who it's from],
				message: [string of command to write]
			}
		*/
		function addToTerminalWindow(messageObj) {
			console.log("[addToTerminalWindow]");
			console.log($('#terminalWindow'));
			var newMessage = document.createElement('code');
			if (messageObj.from === 'user') {
				newMessage.innerHTML = messageObj.message;
				newMessage.className = 'userMessageStyle';
			}
			else {
				var bellChar = messageObj.message.indexOf(String.fromCharCode(7));
				if (bellChar !== -1) {
					var inMessage = messageObj.message;
					var outMessage = "";
					while(bellChar !== -1) {
						console.log("in :");
						console.log(inMessage);
						if (bellChar === 0) {
							var lfChar = inMessage.indexOf(String.fromCharCode(10));
							if (lfChar !== -1) {
								outMessage = outMessage.concat("<span style='color:#FF0000'>");
								outMessage = outMessage.concat(inMessage.substring(1,lfChar));
								outMessage = outMessage.concat("</span>");
								inMessage = inMessage.substring(lfChar);
							}
							else {
							// make red
								outMessage = outMessage.concat("<span style='color:#FF0000'>");
								outMessage = outMessage.concat(inMessage.substring(1));
								outMessage = outMessage.concat("</span>");
								inMessage = "";
							}
						}
						else {
							outMessage = outMessage.concat(inMessage.substring(0,bellChar));
							var lfChar = inMessage.indexOf(String.fromCharCode(10), bellChar);
							if (lfChar !== -1) {
								outMessage = outMessage.concat("<span style='color:#FF0000'>");
								outMessage = outMessage.concat(inMessage.substring(bellChar+1,lfChar));
								outMessage = outMessage.concat("</span>");
								inMessage = inMessage.substring(lfChar);
							}
							else {
								outMessage = outMessage.concat("<span style='color:#FF0000'>");
								outMessage = outMessage.concat(inMessage.substring(bellChar+1));
								outMessage = outMessage.concat("</span>");
								inMessage = "";
							}
						}
						bellChar = inMessage.indexOf(String.fromCharCode(7));
					}
					outMessage = outMessage.concat(inMessage);
					console.log("out:");
					console.log(outMessage);
					newMessage.innerHTML = outMessage;
					newMessage.className = 'machineMessageStyle';

				}
				else {
				newMessage.innerHTML = messageObj.message;
				newMessage.className = 'machineMessageStyle';
			}
			}
			$('#terminalWindow').append(newMessage);
			updateScroll();
		}

		/*	@function disableButton - disable the Jquery button
			@param disabled - bool
		*/
		function disableButton(button, disabled) {
			button.attr("disabled", disabled);
		}
		/*	@function disableRadioButtons - disables or enables the entire group of radio buttons
			with a given "name" attribute. Does this by adding or removing the 'is-disabled' class
			from the LABEL element. Not the input element.
			@param radioName - "name" attribute for the radio group
			@param disabled - bool
		*/
		function disableRadioButtons(radioName, disabled) {
			var radios = document.getElementsByName(radioName);
			for (var i = 0; i < radios.length; i++) {
				if(disabled === true) {
					radios[i].parentElement.classList.add('is-disabled')
				}
				else {
					radios[i].parentElement.classList.remove('is-disabled')
				}
				radios[i].disabled = disabled;
			}
		}
		// Enable or disable the menu buttons above the terminal
		function disableMenuButtons(disabled) {
			menuButtons.forEach(function (button) {
				button.disabled = disabled
			})
		}

		/*	@function getFileLocation
		* Given a file name of the MOD or INIT to upload, get the location to store it to.
		*
		* @param fileName
		* @returns {str} Location to store the file to. Returns null if the name of the file does not have enough
		* 	info to determine location.
		*/
		function getFileLocation(fileName) {

			console.log("getFileLocation " + fileName);

			// First look for MOD files
			let found = fileName.match(/^MOD(\d*)_(.+).uc$/);
			let location = null;
			// Result of found:
			// 0 - original string
			// 1 - first match (MODX or INIT)
			// 2 - second match (name)
			console.log("found: " + found);
			if(found !== null) {
				if(found[1] !== null) {
					location = found[1];
				}
			}
			// Then look for INIT files
			else {
				let found = fileName.match(/^fablight.uc$/);
				if(found !== null) {
					if(found[1] !== null) {
						location = '-3';
					}
					else {
						// TODO more robust qualification of file
						location = '100'; // temporary location
					}
				}
			}
			console.log("location: " + location);
			return location;
		}
