extends layout.pug


block content
	link(href='/stylesheets/terminal.css', type='text/css', rel='stylesheet')

	.mdl-grid
		.mdl-cell.mdl-cell--10-col
			#terminalWindow
			#userCommand
				input(id='userCommandInput' type='text' placeholder='type command...')
		.mdl-cell.mdl-cell--2-col
			#terminalConfig
				h3 Config
				label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='terminal_port43')
					input#terminal_port43.mdl-radio__button(type='radio', name='portOptions', value='debugPort', checked='true')
					span.mdl-radio__label Port 43 (debug)
				br
				//label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='terminal_port33')
					input#terminal_port33.mdl-radio__button(type='radio', name='portOptions', value='commandPort', checked='')
					span.mdl-radio__label Port 33 (command)
				//br
				//label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='terminal_port23')
					input#terminal_port23.mdl-radio__button(type='radio', name='portOptions', value='jobPort', checked='')
					span.mdl-radio__label Port 23 (job)
				br
				button#terminal_connectButton(disabled).mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored
					| Connect
				br
				br
				button#terminal_storeButton(enabled).mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored
					| Store File
			h3 Status
				#terminalStatus


	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src='/socket.io/socket.io.js')
	script.
		var socket = io(self.location.host);
		// JQuery interface variables
		var $connectButton = $('#terminal_connectButton');
		var $storeButton = $('#terminal_storeButton');
		var $terminalStatusArea = $('#terminalStatus');
		var $userCommandInput = $('#userCommandInput');
		var portSelectionName = 'portOptions';
		var $portRadioButtonGroup = $('input[name=\'' + portSelectionName + '\']');
		// Keeping state
		var connectButtonState;

		// Command History
		// Looks for ArrowUp and ArrowDown to implement a command history. 
		var commandHistory = [];
		var commandHistoryLoc = 0;

		/* -------- document load functions -------- */
		$(document).ready(function () {
			socket.emit('terminal_status-info');
		});

		/* -------- document functions -------- */
		// if the user presses the enter key, send what's in the input box to the server using socket.io
		$(document).keydown(function (e) {
			// focus the cursor in the input box so user can start typing
			$userCommandInput.focus();
			if (e.key === 'Enter') {
				updateScroll();
				var userCommand = $userCommandInput.val();
				//	send the command to the socket. the server is listening for events in app.js
				socket.emit('terminal_data', {
					portName: getSelectedPort(),
					message: userCommand
				});
				// Save command but not if they just press return. Also, look if the command is the
				// same as the last command and don't save it as well.
				if (userCommand.length > 0) {
					if (userCommand != commandHistory[commandHistory.length - 1]) {
						commandHistory.push(userCommand);
					}
				}
				commandHistoryLoc = commandHistory.length -1;
				// clear the command from the input so its ready for a new one
				$userCommandInput.val('');
				// show command in the terminal div
				// No need to show command because controller will echo it.
				addToTerminalWindow({
					from: 'user',
					message: userCommand
				});
				console.log(commandHistory);
			}
			if (e.key === 'ArrowUp') {
				$userCommandInput.val(commandHistory[commandHistoryLoc]);
				if (commandHistoryLoc > 0) {
					commandHistoryLoc--;
				}
			}
			if (e.key === 'ArrowDown') {
				if (commandHistoryLoc < commandHistory.length - 1) {
					commandHistoryLoc++;
				}
				$userCommandInput.val(commandHistory[commandHistoryLoc]);
			}
		});

		/* -------- socket.io events received -------- */
		/* Get the current application TCP port connection status.
		*/
		socket.on('terminal_status-info', function (status) {
			console.log('terminal_status-info: ')
			console.log(status)
			let currentlyConnected = false;
			let statusString = '';
			for(socketPort in status) {
				statusString += socketPort + ' connected: ' + status[socketPort] + '\n';
				if((socketPort === getSelectedPort()) && (status[socketPort] === true)) {
					currentlyConnected = true;
				}
			}
			if(statusString.length > 0) {
				addToStatusWindow(statusString)
			}
			// Determine the state of the connect button. If the server says we're already connected to the port,
			// allow the user to disconnect.
			if(currentlyConnected === true) {
				disableButton($connectButton, false);
				$connectButton.text('Disconnect');
			}
			else {
				// If we are NOT already connected on this event, then show the connect button.
				disableButton($connectButton, false);
				$connectButton.text('Connect');
			}
		});
		socket.on('terminal_message', function (data) {
			addToTerminalWindow({
				from: 'machine',
				message: data
			});
		});
		socket.on('terminal_connect', function (data) {
			if(data.completed === true) {
				$connectButton.text('Disconnect');
				disableButton($connectButton, false)
				disableRadioButtons(portSelectionName, true);
				addToStatusWindow('Successfully connected to port ' + data.portNumber);
			}
			else {
				addToStatusWindow('Attempting connection to port ' + data.portNumber + '...');
			}
		})
		socket.on('terminal_disconnect', function (data) {
			console.log('disconnect:')
			console.log(data)
			if (data.completed === true) {
				$connectButton.text('Connect');
				disableButton($connectButton, false)
				disableRadioButtons(portSelectionName, false);
				addToStatusWindow('Disconnected from port ' + data.portNumber);
			}
			else {
				$connectButton.text('Disconnecting...');
				addToStatusWindow('Disconnecting from port ' + data.portNumber + '...');
			}
		})
		socket.on('terminal_error', function (data) {
			addToStatusWindow('Err [Port ' + data.portNumber
				+ ']: ' + data.err);
		})
		socket.on('terminal_data', function (data) {
			addToTerminalWindow({
				from: 'machine',
				message: data.data
			})
		})

		// ---------------- UI STATUS FUNCTIONS --------------- //
		/* Change the state of the connect button including label AND click listener function.
			Valid states:
			'Connect'
			'Connecting...'
			'Disconnect'
			'Disconnecting...'
		*/
		$connectButton.click(function (e) {
			//console.log(e);
			connectButtonState = e.target.textContent.toLowerCase();
			// If the button is in the connect state, try to connect
			if(connectButtonState === 'connect') {
				disableButton($connectButton, true)
				disableRadioButtons(portSelectionName, true);
				$connectButton.text('Connecting...')
				socket.emit('terminal_connect', {
					portName: getSelectedPort()
				})
			}
			else if(connectButtonState === 'disconnect') {
				disableButton($connectButton, false);
				$connectButton.text('Disconnecting...')
				socket.emit('terminal_disconnect', {
					portName: getSelectedPort()
				})
			}
			else {
				// Don't do anything if the button is in an indeterminate state.
				// It may be in the process of disconnecting or connecting.
			}
		});

		function getSelectedPort() {
			return $portRadioButtonGroup.attr('value');
		}

		/*	@function addToStatusWindow - add a message to the status window.
			Used for TCP connection status messages.
		*/
		function addToStatusWindow(statusMessage) {
			$terminalStatusArea.append(
				'<p>' +
				statusMessage +
				'</p>')
		}
		function storeFile(contents) {
			console.log("store file");
			// send file to controller
			socket.emit('terminal_data', {
				portName: getSelectedPort(),
				message: '100 store\n'
			});
			socket.emit('terminal_data', {
				portName: getSelectedPort(),
				message: contents
			});
		}
		function clickElem(elem) {
			var eventMouse = document.createEvent("MouseEvents")
			eventMouse.initMouseEvent("click", true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null)
			elem.dispatchEvent(eventMouse)
		}
		$storeButton.click(function (e) {
			console.log("store button");
			readFile = function(e) {
				var file = e.target.files[0];
				if (!file) {
					return;
				}
				var reader = new FileReader();
				reader.onload = function(e) {
					var contents = e.target.result;
					fileInput.func(contents)
					document.body.removeChild(fileInput)
				}
				reader.readAsBinaryString(file)
			}
			fileInput = document.createElement("input")
			fileInput.type = 'file'
			fileInput.accept = '.uc'
			fileInput.multiple = true
			fileInput.style.display='none'
			fileInput.onchange=readFile
			fileInput.func = storeFile
			document.body.appendChild(fileInput)
			clickElem(fileInput)
		});
		// ---------------- UI HELPER FUNCTIONS --------------- //

		/*	@ function updateScroll - scroll the terminal to the bottom.
			used when a new command is entered or when new data comes from TCP. */
		function updateScroll() {
			var $terminalWindow = $('#terminalWindow');
			$terminalWindow.stop().animate({
				scrollTop: $terminalWindow[0].scrollHeight
			}, 200);
		}

		/*  @function addToTerminalWindow - displays a message in the terminal
			@arg1 [object]:
			{	from: [string of who it's from],
				message: [string of command to write]
			}
		*/
		function addToTerminalWindow(messageObj) {
			var newMessage = document.createElement('p');
			if (messageObj.from === 'user') {
				newMessage.innerHTML = '> ' + messageObj.message;
				newMessage.className = 'userMessageStyle';
			}
			else {
				newMessage.innerHTML = messageObj.message;
				// not the best, but look for alert character and change text to red.
				var contains = messageObj.message.includes(String.fromCharCode(7));
				if (contains === true) {
					newMessage.className = 'machineErrorStyle';
				}
				else {
					newMessage.className = 'machineMessageStyle';
				}
			}
			$('#terminalWindow').append(newMessage);
		}

		/*	@function disableButton - disable the Jquery button
			@param disabled - bool
		*/
		function disableButton(button, disabled) {
			button.attr("disabled", disabled);
		}
		/*	@function disableRadioButtons - disables or enables the entire group of radio buttons
			with a given "name" attribute. Does this by adding or removing the 'is-disabled' class
			from the LABEL element. Not the input element.
			@param radioName - "name" attribute for the radio group
			@param disabled - bool
		*/
		function disableRadioButtons(radioName, disabled) {
			var radios = document.getElementsByName(radioName);
			for (var i = 0; i < radios.length; i++) {
				if(disabled === true) {
					radios[i].parentElement.classList.add('is-disabled')
				}
				else {
					radios[i].parentElement.classList.remove('is-disabled')
				}
				radios[i].disabled = disabled;
			}
		}
