extends layout

block content
	.mdl-grid
		.mdl-cell.mdl-cell--2-col
		.mdl-cell.mdl-cell--8-col
			h1 Add file to server
			p Select a .fab file to upload to the server.

			form(id="file_form" action="/upload" enctype="multipart/form-data" method="POST")
				.file_input
					input(type='file' name="file" accept=".fab")
					span.button Choose
					span.label(data-js-label='')
						| No file selected
				.mdl-textfield.mdl-js-textfield
					input.mdl-textfield__input(type="text" id="username" name="username")
					label.mdl-textfield__label(for="username") Username
				.mdl-textfield.mdl-js-textfield
					input.mdl-textfield__input(type="password" id="password" name="password")
					label.mdl-textfield__label(for="password") Password
				.mdl-textfield.mdl-js-textfield
					input.mdl-textfield__input(type="text" id="customer" name="customer")
					label.mdl-textfield__label(for="customer") Customer name
				.mdl-textfield.mdl-js-textfield
					input.mdl-textfield__input(type="text" id="jobnumber" name="jobnumber")
					label.mdl-textfield__label(for="jobnumber") Job number
				button#upload_button(type="submit" value="Upload").mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored
					| Upload file

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script.
		var $job_number = $('#job_number');

		$(document).ready(function () {
			$('#file_form').on('submit', function (e) {
				e.preventDefault();
				var fileName = $('input[type=file]')[0].files[0];
				if(typeof fileName !== "undefined") {
					var form = e.target;
					var formData = new FormData();
					formData.append('username', $('#username').val());
					formData.append('password', $('#password').val());
					formData.append('customer', $('#customer').val());
					formData.append('jobnumber', $('#jobnumber').val());
					formData.append('overwrite', true);
					formData.append('file', $('input[type=file]')[0].files[0]);
					console.log(formData);
					$.ajax({
						url: form.action,
						method: form.method,
						data: formData,
						processData: false,
						contentType: false,
						success: function (response) {
							// do stuff
							console.log('success: ' + response);
						},
						error: function (jqXHR, textStatus, errorMessage) {
							console.log(errorMessage);
						}
					})
				}
				else {
					// If the file name is undefined, show a status.
				}
			})

			// FILE SELECTION
			var inputs = document.querySelectorAll('.file_input')
			for (var i = 0, len = inputs.length; i < len; i++) {
				customInput(inputs[i])
			}

			function customInput(el) {
				const fileInput = el.querySelector('[type="file"]')
				const label = el.querySelector('[data-js-label]')
				fileInput.onchange =
					fileInput.onmouseout = function () {
						if (!fileInput.value) return
						var value = fileInput.value.replace(/^.*[\\\/]/, '')
						el.className += ' -chosen'
						label.innerText = value
					}
			}


		})

		// -------------- helper functions --------------- //
		function resetForm (formID) {
			var form = $('\'#' + formID + '\'');
			var formFields = form.childNodes;
		}