@logo_height: 24px;
@blueAccentColor: #61C9FA;

body {
}

a {
  color: #00B7FF;
}

.mdl-layout__header {
  background: #6ebe44;
  .mdl-layout__header-row {
    a {
      text-decoration: none;
      color: inherit;
      display: inline-flex;
    }
    .mdl-layout-title {
      line-height: @logo_height;
    }
  }
}

.logo {
  height: @logo_height;
  padding-right: 10px;
}

/** Menu card */
.card-square.mdl-card {
  width: 300px;
  float: left;
  margin: 1rem;
  position: relative;
}
.card-square > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: #6ebe44;
}
.card-wide.mdl-card {
  width: 100%;
}
.card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: #6ebe44;
}
.mdl-list__item-icon.material-icons.folder-icon {
  color: rgb(63,81,181);
}

#card-1 {
  background-image: url("../images/cut_blur_dark.jpg");
}
#card-2 {
  background-image: url("../images/files_blur_dark.jpg");
}
#card-3 {
  background-image: url("../images/machine_green_blur_dark.jpg");
}
.card-wide > .card-disabled {
    background: #eeeeee;
}
.mdl-card__supporting-text {
  height: 180px;
}

#file_form {
  .mdl-textfield {
    display: block;
    width: 100%;
  }
}

@accentColor: #be6e44;
@filePanel-width: 100%;
@filePanel-height: 390px;
@filePanel__card-width: @filePanel-width /3 - 20;

.filePanel {
  width: @filePanel-width;
  height: @filePanel-height;
  overflow: auto;
  margin:0;
  padding:0;
  .mdl-card {
    min-width: @filePanel__card-width;
    width: @filePanel__card-width;
    margin: 10px 5px 10px 5px;
    display: inline-flex;
    &.selected {
      background-color: @accentColor;
      .mdl-card__media {
        img {
          opacity: .5;
        }
      }
    }
    .mdl-card__title {
      overflow: hidden;
      .mdl-card__title-text {
        font-size: 16px;
      }
    }
    .mdl-card__media {
      background-color: @accentColor;
      overflow: hidden;
      img {
        width: @filePanel__card-width;
      }
    }
  }
  .mdl-list__item {
    border-bottom: 1px solid #eeeeee;
    :hover {
      background: #ccf477;
    }
    &.selected {
      background-color: @accentColor;
      .mdl-card__media {
        img {
          opacity: .5;
        }
      }
    }
  }
}

/* File upload button */

.jst-material-input-file {
  margin-top: 70px; }

.file-upload {
  margin: 0 10px 0 25px;
}
.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
  height: 36px;
  opacity: 0;
  filter: alpha(opacity=0); }

.file-upload-url {
  border: none;
  font-size: 12px;
  padding-left: 0;
  width: 250px; }