@terminalFontSize: 14px;
@terminalFontFamily: 'Inconsolata', monospace;
@terminalStatusFontSize: 10px;

#userCommandInput {
  width: 100%;
  font-family: @terminalFontFamily;
  font-size: @terminalFontSize;
}

#terminalWindow {
  overflow: auto;
  height: 70vh;
  border: 1px solid #dddddd;
  p {
    margin: 0;
    font-family: @terminalFontFamily;
    font-size: @terminalFontSize;
    line-height: 100%;  // by default
  }
  .userMessageStyle {
    background-color: #f7f7f7;
    line-height: 150%;
    //margin: 5px 0;
  }
  .machineMessageStyle {
    color: #3a3a3a;
    // to display data from the controller nicely
    white-space: pre;
    display: inline;
  }
}

#terminalStatus {
  min-height: 100px;
  max-height: 300px;
  overflow: auto;
  p {
    font-size: @terminalStatusFontSize;
    line-height: 100%;
  }
}

.mdl-radio {
  input[type='radio'] {
    &:disabled {
      color: grey;
    }
  }
}

dialog {
  .file_input {
    width: 300px;
  }
  &.mdl-dialog {
    width: fit-content;
  }
}

// used to allow the terminal to be full-height
// by default this class is inline-block
.mdl-layout__content {
  display: flex;
  flex-direction: column;
  .mdl-grid {
    width: 100%;
    flex-grow: 2;
  }
}