a {
  color: #00B7FF;
}
.mdl-layout__header {
  background: #6ebe44;
}
.mdl-layout__header .mdl-layout__header-row a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
}
.mdl-layout__header .mdl-layout__header-row .mdl-layout-title {
  line-height: 24px;
}
.logo {
  height: 24px;
  padding-right: 10px;
}
/** Menu card */
.card-square.mdl-card {
  width: 300px;
  float: left;
  margin: 1rem;
  position: relative;
}
.card-square > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: #6ebe44;
}
.card-wide.mdl-card {
  width: 100%;
}
.card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: #6ebe44;
}
.mdl-list__item-icon.material-icons.folder-icon {
  color: #3f51b5;
}
#card-1 {
  background-image: url("../images/cut_blur_dark.jpg");
}
#card-2 {
  background-image: url("../images/files_blur_dark.jpg");
}
#card-3 {
  background-image: url("../images/machine_green_blur_dark.jpg");
}
.card-wide > .card-disabled {
  background: #eeeeee;
}
.mdl-card__supporting-text {
  height: 180px;
}
#file_form .mdl-textfield {
  display: block;
  width: 100%;
}
.filePanel {
  width: 100%;
  height: 390px;
  overflow: auto;
  margin: 0;
  padding: 0;
}
.filePanel .mdl-card {
  min-width: 13.33333333%;
  width: 13.33333333%;
  margin: 10px 5px 10px 5px;
  display: inline-flex;
}
.filePanel .mdl-card.selected {
  background-color: #be6e44;
}
.filePanel .mdl-card.selected .mdl-card__media img {
  opacity: .5;
}
.filePanel .mdl-card .mdl-card__title {
  overflow: hidden;
}
.filePanel .mdl-card .mdl-card__title .mdl-card__title-text {
  font-size: 16px;
}
.filePanel .mdl-card .mdl-card__media {
  background-color: #be6e44;
  overflow: hidden;
}
.filePanel .mdl-card .mdl-card__media img {
  width: 13.33333333%;
}
.filePanel .mdl-list__item {
  border-bottom: 1px solid #eeeeee;
}
.filePanel .mdl-list__item :hover {
  background: #ccf477;
}
.filePanel .mdl-list__item.selected {
  background-color: #be6e44;
}
.filePanel .mdl-list__item.selected .mdl-card__media img {
  opacity: .5;
}
/* File upload button */
.jst-material-input-file {
  margin-top: 70px;
}
.file-upload {
  margin: 0 10px 0 0px;
}
.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
  height: 36px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.file-upload-url {
  border: 1px solid;
  background:linen;
  outline-color:lightgray;
  outline-style:inset;
  outline-width:2px;
  font-size: 14px;
  padding-left: 4;
  width: 280px;
}
.file-upload-location {
  border: 1px solid;
  background:linen;
  outline-color:lightgray;
  outline-style:inset;
  outline-width:2px;
  font-size: 16px;
  padding-left: 4;
  width: 80px;
}
