#userCommandInput {
  width: 100%;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
}
#terminalWindow {
  overflow: auto;
  height: 70vh;
  border: 1px solid #dddddd;
}
#terminalWindow p {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  line-height: 100%;
}
#terminalWindow .userMessageStyle {
  background-color: #f7f7f7;
  line-height: 150%;
}
#terminalWindow .machineMessageStyle {
  color: #3a3a3a;
  white-space: pre;
  display: inline;
  font-family: monospace;
  margin: 1em 0;
}
#terminalWindow .machineErrorStyle {
  color: #ff0000;
  white-space: pre;
  display: inline;
}
#terminalStatus {
  min-height: 100px;
  max-height: 300px;
  overflow: auto;
}
#terminalStatus p {
  font-size: 10px;
  line-height: 100%;
}
.mdl-radio input[type='radio']:disabled {
  color: grey;
}
dialog .file_input {
  width: 300px;
}
dialog.mdl-dialog {
  width: fit-content;
}
.mdl-layout__content {
  display: flex;
  flex-direction: column;
}
.mdl-layout__content .mdl-grid {
  width: 100%;
  flex-grow: 2;
}
