body {
  background-color: #303030;
  color: #f5f5f5;
  font: 14px "Roboto", Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
a {
  color: #CDDC39;
  text-decoration: none;
}
.centered {
  text-align: center;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  p {
    font-size: 1.1em;
    line-height: 1.6em;
  }
  h2 {
    font-size: 2.4em;
  }
  ul {
    font-size: 1em;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  h2 {
    font-size: 24px;
  }
}
.lighter {
  font-weight: lighter;
}
.unset {
  width: unset;
}
.alert {
  color: #be1e2d;
}
.subtitle {
  font-size: .6em;
  color: #888888;
}
.large-btn-full-width {
  height: 110px;
  width: 100%;
  background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  border: 1px solid #1C73F7;
  border-radius: 5px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.hmi-height-scroll {
  height: 85vh;
  overflow: auto;
}
div.fadeMe {
  opacity: 0.5;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}
input[type=number] {
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 1em;
  margin: 8px 0;
  padding: 6px 10px;
  text-align: right;
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
footer {
  background: #111111;
  background-image: none;
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: 0;
}
#timer {
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 17px;
  z-index: 10;
  color: #f5f5f5;
}
#timer:after {
  content: ' Job Timer';
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  #index_home-machine {
    height: 100px;
  }
}
.index-header .sm-primary-button {
  width: 300px;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .index-header .sm-primary-button {
    width: 80%;
    max-width: 400px;
    height: 150px;
  }
}
.index-footer {
  position: absolute;
  bottom: 50px;
}
.index-footer .xs-primary-button {
  height: 50px;
  width: 135px;
  font-size: 12px;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .index-footer .xs-primary-button {
    width: 190px;
    font-size: 1em;
  }
}
.index-page button i {
  margin: 0 5px;
}
.hmi-status-panel {
  color: #f5f5f5;
}
.hmi-status-panel h2 {
  font-size: 20px;
}
.hmi-status-panel #hmi-socketStatus {
  font-size: 18px;
  color: #dddddd;
}
.hmi-status-panel #hmi-socketConsole {
  font-family: 'Inconsolata', monospace;
  color: #dddddd;
  font-size: 14px;
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  margin-left: -8px;
  background: #000000;
  overflow: auto;
}
.hmi-status-panel td {
  color: #a9a9a9;
  vertical-align: top;
}
.hmi-status-panel td:first-child {
  width: 60px;
}
#homing-dialog {
 // margin-top: -325px;
  z-index: 998;
}
.hmi-newJob-button {
  height: 230px;
  width: 100%;
  background-image: linear-gradient(-180deg, #B4EC51 0%, #429321 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: #f5f5f5;
}
.hmi-newJob-button-half {
  height: 230px;
  width: 100%;
  background-image: linear-gradient(-180deg, #B4EC51 0%, #429321 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: #f5f5f5;
  margin-left: 20px;
}
.hmi-newJob-button-half:first-of-type {
  margin-left: 0;
}
.hmi-index-smallButton {
  height: 120px;
  width: 100%;
  background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: #f5f5f5;
  margin-top: 5px;
}
.hmi-homeSmall-button {
  height: 110px;
  width: 270px;
  background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: #f5f5f5;
  margin-bottom: 20px;
}
#index__settings-button {
  margin-left: 560px;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  #index__settings-button {
    width: 55px;
    height: 55px;
  }
}
.large-primary-button {
  height: 110px;
  width: 270px;
  background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 16px;
  top: 40px;
  margin-left: 45px;
}
.sm-primary-button {
  margin: 3px;
}
.xs-primary-button {
  line-height: normal;
  margin: 3px;
}
.xxs-primary-button {
  line-height: normal;
  margin: 3px;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .sm-primary-button {
    height: 100px;
    width: 95%;
  }
  .xs-primary-button {
    height: 100px;
    width: 150px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .sm-primary-button {
    height: 70px;
    width: 270px;
    font-size: 16px;
  }
  .xs-primary-button {
    height: 70px;
    width: 132px;
    font-size: 12px;
  }
  .xxs-primary-button {
    height: 40px;
    width: 132px;
    font-size: 12px;
  }
}
.slim-side-panel {
  box-sizing: border-box;
  width: 150px;
  right: 0;
  position: absolute;
  top: 20px;
  padding-top: 12px;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .slim-side-panel {
    right: 30px;
  }
}
.blue {
  background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: #f5f5f5;
}
.dark-blue {
  background-image: linear-gradient(-180deg, #37569a 0%, #1e3057 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: #f5f5f5;
}
.black {
  background-image: linear-gradient(-180deg, #4b4b4b 0%, #1d1d1d 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: #f5f5f5;
}
.green {
  background-image: linear-gradient(-180deg, #B4EC51 0%, #429321 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: #f5f5f5;
}
.red-button {
  background-image: linear-gradient(-180deg, #fa495d 0%, #f72542 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: #000000;
}
#usbPanel {
  overflow: auto;
}
#usbPanel .mdl-card {
  background-color: #e3e3e3;
  margin: 10px 5px 10px 5px;
  display: inline-flex;
}
#usbPanel .mdl-card.selected {
  background-color: #6ebe44;
}
#usbPanel .mdl-card.selected .mdl-card__media img {
  opacity: .5;
}
#usbPanel .mdl-card .mdl-card__title {
  overflow: hidden;
}
#usbPanel .mdl-card .mdl-card__title .mdl-card__title-text {
  font-size: 16px;
}
#usbPanel .mdl-card .mdl-card__media {
  background-color: #6ebe44;
  overflow: hidden;
}
#usbPanel .mdl-card .mdl-card__media img {
  width: 100%;
}
#usbPanel .mdl-list__item {
  color: #f5f5f5;
  font-size: 15px;
}
#usbPanel .mdl-list__item.selected {
  background-color: #6ebe44;
  color: #000000;
}
#usbPanel .mdl-list__item.selected .mdl-card__media img {
  opacity: .5;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  #usbPanel .mdl-list__item {
    padding: 1em;
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  #usbPanel .folder .mdl-list__item-icon {
    font-size: 1.7em;
  }
}
#usbPanel .file .mdl-list__item-icon {
  color: #61C9FA;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  #usbPanel .file .mdl-list__item-icon {
    font-size: 1.4em;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  #select-usb-file-btn {
    right: 10px;
    position: fixed;
    width: 20%;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  #select-usb-file-btn {
    position: fixed;
    width: 30%;
    height: 200px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  #select-usb-status {
    position: fixed;
    top: 200px;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  #select-usb-status {
    position: fixed;
    top: 300px;
  }
}
#usbDriveName {
  position: fixed;
  padding: 5px;
  background: #303030;
  width: 100%;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  #usbDriveName {
    font-size: 1.3em;
  }
}
#refresh-usb-btn {
  height: 60px;
  width: 190px;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  #refresh-usb-btn {
    width: 250px;
    height: 100px;
  }
}
.filePanel {
  width: 550px;
  height: 390px;
  overflow: auto;
  margin: 0;
  padding: 0;
}
.filePanel .mdl-card {
  min-width: 163.33333333px;
  width: 163.33333333px;
  background-color: #e3e3e3;
  margin: 10px 5px 10px 5px;
  display: inline-flex;
}
.filePanel .mdl-card.selected {
  background-color: #6ebe44;
}
.filePanel .mdl-card.selected .mdl-card__media img {
  opacity: .5;
}
.filePanel .mdl-card .mdl-card__title {
  overflow: hidden;
}
.filePanel .mdl-card .mdl-card__title .mdl-card__title-text {
  font-size: 16px;
}
.filePanel .mdl-card .mdl-card__media {
  background-color: #6ebe44;
  overflow: hidden;
}
.filePanel .mdl-card .mdl-card__media img {
  width: 163.33333333px;
}
.filePanel .mdl-list__item {
  color: #f5f5f5;
}
.filePanel .mdl-list__item.selected {
  background-color: #6ebe44;
  color: #000000;
}
.filePanel .mdl-list__item.selected .mdl-card__media img {
  opacity: .5;
}
.grid-lines {
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);
  height: 100%;
  background-size: 50px 50px;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  #threejs-container {
    position: fixed;
    top: 56px;
    left: 0;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  #threejs-container {
    position: fixed;
    top: 72px;
    left: 0;
  }
}
#previewfile-viewButtons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}
#virtualKeyboard {
  display: none;
}
.red {
  color: #be1e2d;
}
#processes_preview-file {
  margin: 5px;
  font-weight: normal;
}
#processes_preview-file i {
  font-size: 20px;
  padding-right: 3px;
}
#processes_open-change-gas-dialog {
  font-weight: normal;
}
#processes_open-change-gas-dialog i {
  font-size: 20px;
  padding-right: 3px;
}
.laser-mode-group {
  display: inline-block;
}
.laser-mode-group label {
  margin-right: 40px;
}
.accel-group {
  display: inline-block;
  margin-left: 40px;
  margin-right: 35px;
}
.accel-group label {
  margin-right: 40px;
}
.raster-accel-group {
  display: inline;
}
.raster-accel-group label {
  margin-right: 40px;
}
.process-user {
  display: inline;
  position: absolute;
  right: 30px;
  color: white;
}
#paramForm_user_btn {
  color: white;
}
#material-input {
  width: 300px;
}
.static-label {
  font-size: 12px;
  top: 4px;
}
#select-existing-process-dialog {
  width: 85%;
  position: absolute;
  top: 5px;
}
#processes_dialog_content div {
  position: relative;
  width: 99%;
  margin: 2px auto;
  text-align: left;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  vertical-align: middle;
}
#processes_dialog_content table {
  border-collapse: collapse;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  #processes_dialog_content table {
    font-size: 1.4em;
  }
}
.select-box {
  font-size: 16px;
  height: 200px;
  line-height: 200px;
  min-width: 120px;
  max-width: 400px;
  display: inline-block;
  background: #303030;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .select-box {
    font-size: 1em;
  }
}
.select-box option {
  padding: 10px 10px;
  color: #f5f5f5;
}
#processes_paramForm {
  padding-bottom: 50px;
  font-weight: lighter;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  #processes_paramForm .mdl-textfield {
    width: 120px;
  }
}
#processes_paramForm .mdl-textfield__label {
  color: #f5f5f5;
  font-weight: lighter;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  #processes_paramForm .mdl-textfield__label {
    font-size: 1em;
  }
}
#processes_paramForm h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: #adadad;
  margin: 20px 0 0 0;
  line-height: 31px;
}
#processes_paramForm button {
  font-weight: normal;
  margin-right: 30px;
}
#processes_paramForm #cancel-process-btn {
  color: #f5f5f5;
}
.processes_new-process-row {
  display: none;
}
.processes_new-process-row p {
  color: #f5f5f5;
}
.processes_new-process-row label {
  color: #f5f5f5;
}
.processtablesummary-row {
  display: flex;
  align-items: center;
  background: #b0b0b0;
  background: linear-gradient(#c9c9c9, #b0b0b0);
  color: #000000;
  border-radius: 5px;
  border-left: 10px solid #c2c2c2;
  margin-top: 10px;
}
.processtablesummary-row h1 {
  color: #000000;
  margin: 0 0 0 20px;
  width: 140px;
  font-weight: lighter;
}
.processtablesummary-row h2 {
  color: #000000;
  margin: 0 0 0 20px;
  font-weight: lighter;
}
.processtablesummary-row ul {
  vertical-align: middle;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  width: 310px;
  margin-left: 5px;
  padding-left: 0;
}
.processtablesummary-row ul li {
  list-style-type: none;
  color: #000000;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .processtablesummary-row {
    height: 85px;
  }
  .processtablesummary-row h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .processtablesummary-row h2 {
    font-size: 14px;
    line-height: 16px;
  }
  .processtablesummary-row .userInfo {
    width: 75px;
  }
  .processtablesummary-row .userInfo span {
    font-size: 12px;
  }
  .processtablesummary-row .editIconSpan i:last-child {
    margin-right: 30px;
  }
  .processtablesummary-row .processNotFound button {
    width: 400px;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .processtablesummary-row {
    height: 115px;
    width: 95%;
  }
  .processtablesummary-row h1 {
    font-size: 2em;
  }
  .processtablesummary-row h2 {
    font-size: 1.1em;
    line-height: 1.1em;
  }
  .processtablesummary-row .userInfo {
    width: 175px;
  }
  .processtablesummary-row .userInfo span {
    line-height: 1.2em;
    font-size: 1em;
  }
  .processtablesummary-row ul {
    width: 350px;
  }
  .processtablesummary-row .editIconSpan i:last-child {
    margin-right: 30px;
  }
  .processtablesummary-row .processNotFound button {
    width: 700px;
  }
}
.processtablesummary-row .userInfo {
  text-align: center;
  line-height: 10px;
}
.processtablesummary-row .userInfo span {
  color: #7d7d7d;
  display: block;
}
.processtablesummary-row .userInfo i {
  color: #7d7d7d;
}
.processtablesummary-row .editIconSpan {
  display: inline-block;
  vertical-align: middle;
  margin-left: 130px;
}
.processtablesummary-row .editIconSpan i {
  font-size: 36px;
  color: #000000;
  padding: 10px;
  background: #d1d1d1;
  border-radius: 50px;
}
.processtablesummary-row .processNotFound {
  vertical-align: middle;
  height: 85px;
  margin-left: 30px;
  display: inline-block;
}
.processtablesummary-row .processNotFound button {
  height: 65px;
  background: rgba(255, 0, 0, 0.1);
  border: none;
  border-radius: 2px;
  color: #000;
  margin: 10px 0 0 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}
.processtablesummary-row .processNotFound p {
  margin: 0;
}
.done-button {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 99;
}
.done-button:disabled {
  background: #6ebe44;
}
#process-details_settings_button {
  background: #4a4a4a;
  color: #6ebe44;
}
.process-details_icon-label {
  font-size: 12px;
  color: #6ebe44;
}
#process-table label {
  display: inline-block;
  width: 100px;
  text-align: right;
  font-weight: bold;
}
.mdl-textfield {
  width: 95px;
  margin-right: 14px;
}
.mdl-textfield input[type=text] {
  color: #f5f5f5;
}
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
  color: #a9a9a9;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: #6ebe44;
}
.mdl-textfield__label:after {
  background-color: #6ebe44;
}
.mdl-textfield__input {
  border-bottom: 1px solid #4d872f;
  border-radius: 0;
}
.mdl-textfield__input .processDisabled {
  color: red !important;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .mdl-textfield__input {
    font-size: 1.6em;
  }
}
.mdl-textfield__error {
  font-weight: bold;
}
.header-button {
  color: #f5f5f5;
  font-size: 0.8em;
}
#userCommandInput {
  width: 100%;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
}
#terminalWindow {
  overflow: auto;
  height: 85vh;
}
#terminalWindow p {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  line-height: 100%;
}
.mdl-layout__content {
  display: flex;
  flex-direction: column;
}
.mdl-layout__content .mdl-grid {
  width: 100%;
  flex-grow: 2;
}
/* for file preview error */
#preview-error {
  position: fixed;
  top: 300px;
  color: #880e4f;
  width: 100%;
  text-align: center;
}
#beam-centering_run-test {
  width: 100%;
}
#beam-centering_move {
  width: 100%;
}
#beam-centering_lift-head {
  width: 100%;
}
.xlarge-2-col-btn {
  display: block;
  height: 175px;
  width: 175px;
  background-image: linear-gradient(-180deg, #B4EC51 0%, #429321 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.xlarge-2-col-btn i.material-icons {
  font-size: 100px;
  display: block;
}
.med-btn {
  display: block;
  height: 75px;
  width: 150px;
  padding: 5px;
  background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.med-btn span {
  display: block;
}
#machinePosX,
#machinePosY,
#machinePosZ,
#machinePosR {
  margin-left: 30px;
  padding: 0;
  font-size: 24px;
  line-height: 46px;
  color: #888888;
  font-weight: lighter;
}
#machinePosX span,
#machinePosY span,
#machinePosZ span,
#machinePosR span {
  color: #f5f5f5;
  margin-left: 10px;
  display: inline;
}
#fl_gas {
  width: 135px;
  text-align: right;
  position: absolute;
  bottom: 40px;
  right: 17px;
  z-index: 10;
  font-size: 1.3em;
}
#runjob-fileInfo {
  height: 120px;
  padding: 4px;
  width: 560px;
}
#runjob-sidePanel {
  position: fixed;
  right: 0;
}
#runjob-machineInfo {
  width: 560px;
  overflow: auto;
  display: flex;
  min-height: 266px;
}
#runjob-machineInfo #runjob-console {
  padding: 4px;
  flex: 2;
  font-family: 'Inconsolata', monospace;
  color: #888888;
  font-size: 14px;
  background: #000000;
}
#runjob-machineInfo #runjob-console:before {
  content: 'Console:';
}
#runjob-machineInfo #runjob-laserInfo {
  padding: 4px;
  flex: 1;
}
#runjob-machineInfo #runjob-laserInfo ul {
  list-style: none;
  margin-left: 10px;
  padding: 0;
  color: #a9a9a9;
}
#runjob-machineInfo #runjob-laserInfo ul li {
  padding-bottom: 10px;
}
#runjob-machineInfo #runjob-laserInfo ul li p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
#runjob-machineInfo #runjob-laserInfo ul li span {
  color: #f5f5f5;
}
#settings__layout p,
#settings__layout h6 {
  line-height: 1.2;
}
.admin-password {
  width: 80%;
  height: 50px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
  text-align: center;
  background: none;
  color: #f5f5f5;
}
#pin-settings-menu td:first-child {
  width: 300px;
}
#pin-settings-menu #show-pin-text {
  white-space: pre-line;
}
#set-pin-menu .mdl-textfield__label {
  color: #f5f5f5;
  font-weight: lighter;
}
#set-pin-menu .mdl-textfield {
  width: 300px;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../stylesheets/icons/MaterialIcons-Regular.eot');
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../stylesheets/icons/MaterialIcons-Regular.woff2') format('woff2'), url('../stylesheets/icons/MaterialIcons-Regular.woff') format('woff'), url('../stylesheets/icons/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.mdl-layout__header-row {
  background-color: #212121;
}
.mdl-layout__header-row .mdl-layout-title {
  margin-left: 140px;
}
.mdl-layout__header-row a {
  position: absolute;
  left: 10px;
}
.mdl-layout__header-row a i {
  font-size: 46px;
  position: relative;
}
.mdl-layout__header-row a.home-btn-icon {
  left: 100px;
}
.mdl-layout__header-row button {
  color: #f5f5f5;
  font-size: 0.8em;
}
.mdl-layout__header-row .header-file-name {
  position: relative;
  left: 25px;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  body {
    font-size: 1.2em;
  }
  .mdl-layout__header-row {
    height: 72px;
    background-color: #212121;
  }
  .mdl-layout__header-row a {
    left: 10px;
  }
  .mdl-layout__header-row a i {
    font-size: 72px;
    position: relative;
  }
  .mdl-layout__header-row a.home-btn-icon {
    left: 100px;
  }
  .mdl-layout__header-row button {
    color: #f5f5f5;
    font-size: 1.2em;
  }
  .mdl-layout__header-row .mdl-layout-title {
    font-size: 1.8em;
    margin-left: 140px;
  }
  .header-file-name {
    position: relative;
    left: 25px;
    font-size: 1.2em;
  }
  .material-icons {
    font-size: 36px;
  }
  .userInfo {
    width: 175px;
  }
}
.mdl-layout__header .mdl-layout__drawer-button {
  background: none;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: #000000;
}
.mdl-grid,
.page-content,
.mdl-cell {
  padding: 0;
  margin: 0 8px;
}
.mdl-cell {
  margin-top: 8px;
}
.mdl-dialog {
  width: 580px;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .mdl-dialog .mdl-dialog__content h2 {
    font-size: 1.8em;
  }
}
#status-dialog {
  position: fixed;
  top: 70px;
  z-index: 999;
}
#user-dialog {
  position: fixed;
  top: 70px;
  z-index: 999;
}
.mdl-snackbar {
  background-color: #000000;
}
.mdl-snackbar .mdl-snackbar__text {
  color: #6ebe44;
}
.mdl-button--fab.mdl-button--colored {
  background: #6ebe44;
}
.mdl-button--fab.mdl-button--colored:hover {
  background: #7dc557;
}
.mdl-button--fab.mdl-button--colored:disabled {
  background: #63ad3c;
  border: none;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .mdl-button--fab .material-icons {
    top: 50%;
    left: 40%;
  }
  .mdl-button {
    font-size: 1.2em;
  }
  .mdl-button--fab.mdl-button--mini-fab {
    height: 64px;
    width: 64px;
  }
}
button:disabled {
  background-image: linear-gradient(-180deg, #aaaaaa 0%, #888888 100%);
  border: 1px solid #888888;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .mdl-radio {
    line-height: 2.2em;
  }
  .mdl-radio .mdl-radio__label {
    font-size: 1.4em;
    margin-left: 10px;
  }
  .mdl-radio .mdl-radio__outer-circle {
    width: 1.6em;
    height: 1.6em;
  }
  .mdl-radio .mdl-radio__inner-circle {
    width: 1.1em;
    height: 1.1em;
  }
}
form .hmi-selectfield {
  font-size: 20px;
}
form .hmi-selectfield option {
  font-size: 20px;
}
.mdl-switch .mdl-switch__thumb {
  background: #fafafa;
}
.mdl-switch .mdl-switch__track {
  background: #838383;
}
.mdl-switch.is-checked .mdl-switch__thumb {
  background: #6ebe44;
}
.mdl-switch.is-checked .mdl-switch__track {
  background: #427428;
}
.mdl-switch__ripple-container .mdl-ripple {
  background: #6ebe44;
}
