@media only screen and (min-width: 530px) and (max-width: 949px) {
  #laser-bed {
    width: 500px;
    height: 250px;
    border: 1px solid #000000;
    position: absolute;
    top: 35px;
    left: 120px;
    background: rgba(200, 200, 200, 0.5);
  }
  .jog_unit {
    position: relative;
    font-size: 16px;
    line-height: 0;
    margin: 22px 5px 0 0;
    padding: 0;
    top: -30px;
  }
  #drag-x-bounds {
    padding: 0;
    position: absolute;
    left: 120px;
    top: 35px;
    width: 582px;
    height: 320px;
  }
  #drag-x-container {
    padding: 0;
    border-left: 2px solid #1C73F7;
    width: 80px;
    height: 350px;
  }
  #drag-x-flag {
    position: relative;
    top: 300px;
    height: 50px;
    width: 80px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.4);
    border-radius: 0 3px 3px 0;
    background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  }
  #drag-x-flag #x-value {
    position: relative;
    font-size: 20px;
    line-height: 0;
    margin: 22px 0 0 1px;
    padding: 0;
    top: -25px;
  }
  #drag-y-bounds {
    padding: 0;
    position: absolute;
    left: 24px;
    top: 35px;
    width: 80px;
    height: 302px;
  }
  #drag-y-container {
    padding: 0;
    border-top: 2px solid #1C73F7;
    top: 250px;
    width: 600px;
    height: 50px;
  }
  #drag-y-flag {
    left: 20px;
    height: 50px;
    width: 80px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 3px 3px;
    background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  }
  #drag-y-flag #y-value {
    position: relative;
    font-size: 20px;
    line-height: 0;
    margin: 22px 0 0 0;
    padding: 0;
    top: -25px;
  }
  #jog2d__bounds {
    border: 1px solid #27ff14;
    position: absolute;
    background: rgba(35, 255, 20, 0.3);
  }
  #jog2d__boundsContainer {
    position: relative;
    left: 97px;
    top: 28px;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  #laser-bed {
    width: 650px;
    height: 325px;
    border: 1px solid #000000;
    position: absolute;
    top: 35px;
    left: 144px;
    background: rgba(200, 200, 200, 0.5);
  }
  #nudge-up {
    width: 60px;
    height: 60px;
    background: red;
    margin-top: -120px;
    margin-bottom: 40px;
  }
  #nudge-down {
    width: 60px;
    height: 60px;
    background: red;
  }
  #nudge-left {
    width: 60px;
    height: 60px;
    background: red;
    top: 375px;
    position: relative;
    margin-left: -60px;
  }
  .jog_unit {
    position: relative;
    font-size: 20.8px;
    line-height: 0;
    margin: 22px 5px 0 0;
    padding: 0;
    top: -30px;
  }
  .jog_unit_rotary {
    position: relative;
    font-size: 20.8px;
    line-height: 0;
    margin: 22px 5px 0 0;
    padding: 0;
    top: -90px;
  }
  #drag-x-bounds {
    padding: 0;
    position: absolute;
    left: 144px;
    top: 35px;
    width: 756px;
    height: 410px;
  }
  #drag-x-container {
    padding: 0;
    border-left: 2px solid #1C73F7;
    width: 104px;
    height: 440px;
  }
  #drag-x-flag {
    position: relative;
    top: 375px;
    height: 65px;
    width: 104px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.4);
    border-radius: 0 3px 3px 0;
    background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  }
  #drag-x-flag #x-value {
    position: relative;
    font-size: 26px;
    line-height: 0;
    margin: 22px 0 0 1px;
    padding: 0;
    top: -25px;
  }
  #drag-y-bounds {
    padding: 0;
    position: absolute;
    left: 24px;
    top: 35px;
    width: 104px;
    height: 392px;
  }
  #drag-y-container {
    padding: 0;
    border-top: 2px solid #1C73F7;
    top: 325px;
    width: 774px;
    height: 65px;
  }
  #drag-y-flag {
    left: 20px;
    height: 65px;
    width: 104px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 3px 3px;
    background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  }
  #drag-y-flag #y-value {
    position: relative;
    font-size: 26px;
    line-height: 0;
    margin: 22px 0 0 0;
    padding: 0;
    top: -25px;
  }
  #jog2d__bounds {
    border: 1px solid #27ff14;
    position: absolute;
    background: rgba(35, 255, 20, 0.3);
  }
  #jog2d__boundsContainer {
    position: relative;
    left: 120px;
    top: 28px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  #jog3D__bounds {
    border: 1px solid #27ff14;
    position: absolute;
    background: rgba(35, 255, 20, 0.3);
  }
  .jog_unit_rotary {
    position: relative;
    font-size: 16px;
    line-height: 0;
    margin: 22px 5px 0 0;
    padding: 0;
    top: -90px;
  }
  #jog3D__bounds-container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 630px;
    height: 30px;
    top: 167px;
    left: 2px;
  }
  #jog3D__drag-x-bounds {
    padding: 0;
    position: absolute;
    left: 25px;
    top: 190px;
    width: 712px;
    height: 100px;
  }
  #jog3D__drag-x-container {
    padding: 0;
    border-left: 2px solid #1C73F7;
    width: 80px;
    height: 125px;
    margin-top: -30px;
  }
  #jog3D__tube {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 630px;
    height: 18px;
    top: 231px;
    background: #898989;
    /* Old browsers */
    background: -webkit-linear-gradient(top, #898989 0%, #cccccc 6%, #dbdbdb 8%, #969696 18%, #969696 18%, #969696 38%, #cccccc 81%, #a0a0a0 86%, #a0a0a0 86%, #adadad 91%, #999999 92%, #3d3d3d 101%);
    /* Chrome10-25,Safari5.1-6 */
    border: 1px solid black;
  }
  #tubejog-position {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.4);
    border-radius: 0 3px 3px 0;
    background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
    color: #f5f5f5;
    display: inline;
    padding: 30px;
    position: fixed;
    top: 140px;
    left: 85px;
  }
  #tubejog-position p {
    font-size: 20px;
    line-height: 0;
    margin: 0;
    padding: 0;
  }
  #jog3D__drag-x-flag {
    position: relative;
    top: 75px;
    height: 50px;
    width: 80px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.4);
    border-radius: 0 3px 3px 0;
    background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  }
  #jog3D__drag-x-flag #x-value {
    top: -90px;
    position: relative;
    font-size: 20px;
    line-height: 0;
    margin: 22px 5px;
    padding: 0;
  }
  #tubejog-line {
    position: absolute;
    top: 60px;
    left: 0;
    width: 2px;
    height: 30px;
    background: #1C73F7;
  }
  #fileInfo {
    color: #a9a9a9;
    position: fixed;
    top: 330px;
    left: 30px;
  }
  .jog__buttons {
    display: inline;
    margin-bottom: 30px;
  }
  #jog3D__idler {
    border: 1px solid #000;
    opacity: 0.5;
    background: #898989;
    /* Old browsers */
    background: -webkit-linear-gradient(top, #b7b7b7 0%, #848484 34%, #767676 50%, #838383 66%, #b7b7b7 100%);
    /* Chrome10-25,Safari5.1-6 */
    border-radius: 2px;
    height: 72px;
    width: 8.4px;
    position: absolute;
    top: 147px;
    left: 25px;
  }
  #jog3D__idler span {
    position: relative;
    top: 55px;
    padding-left: 10px;
    font-weight: lighter;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  #jog3D__bounds {
    border: 1px solid #27ff14;
    position: absolute;
    background: rgba(35, 255, 20, 0.3);
  }
  .jog_unit_rotary {
    position: relative;
    font-size: 24px;
    line-height: 0;
    margin: 22px 5px 0 0;
    padding: 0;
    top: -117px;
  }
  #jog3D__bounds-container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 840px;
    height: 30px;
    top: 207px;
    left: 2px;
  }
  #jog3D__drag-x-bounds {
    padding: 0;
    position: absolute;
    left: 25px;
    top: 247px;
    width: 946px;
    height: 130px;
  }
  #jog3D__drag-x-container {
    padding: 0;
    border-left: 2px solid #1C73F7;
    width: 104px;
    height: 162.5px;
    margin-top: -42px;
  }
  #jog3D__tube {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 840px;
    height: 24px;
    top: 288px;
    background: #898989;
    /* Old browsers */
    background: -webkit-linear-gradient(top, #898989 0%, #cccccc 6%, #dbdbdb 8%, #969696 18%, #969696 18%, #969696 38%, #cccccc 81%, #a0a0a0 86%, #a0a0a0 86%, #adadad 91%, #999999 92%, #3d3d3d 101%);
    /* Chrome10-25,Safari5.1-6 */
    border: 1px solid black;
  }
  #tubejog-position {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.4);
    border-radius: 0 3px 3px 0;
    background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
    color: #f5f5f5;
    display: inline;
    padding: 30px;
    position: fixed;
    top: 140px;
    left: -20px;
  }
  #tubejog-position p {
    font-size: 20px;
    line-height: 0;
    margin: 0;
    padding: 0;
  }
  #jog3D__drag-x-flag {
    position: relative;
    top: 97.5px;
    height: 65px;
    width: 104px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.4);
    border-radius: 0 3px 3px 0;
    background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  }
  #jog3D__drag-x-flag #x-value {
    top: -117px;
    position: relative;
    font-size: 26px;
    line-height: 0;
    margin: 22px 5px;
    padding: 0;
  }
  #tubejog-line {
    position: absolute;
    top: 60px;
    left: 0;
    width: 2px;
    height: 30px;
    background: #1C73F7;
  }
  #fileInfo {
    color: #a9a9a9;
    position: fixed;
    top: 330px;
    left: 30px;
  }
  .jog__buttons {
    display: inline;
    margin-bottom: 30px;
  }
  #jog3D__idler {
    border: 1px solid #000;
    opacity: 0.5;
    background: #898989;
    /* Old browsers */
    background: -webkit-linear-gradient(top, #b7b7b7 0%, #848484 34%, #767676 50%, #838383 66%, #b7b7b7 100%);
    /* Chrome10-25,Safari5.1-6 */
    border-radius: 2px;
    height: 96px;
    width: 11.2px;
    position: absolute;
    top: 180px;
    left: 25px;
  }
  #jog3D__idler span {
    position: relative;
    top: 71.5px;
    padding-left: 13px;
    font-weight: lighter;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  #jog__machineStatus {
    position: fixed;
    top: 6px;
    right: 20px;
    z-index: 99;
    display: block;
  }
  #dryRunSwitchLabel {
    position: fixed;
    top: 170px;
    right: 20px;
    z-index: 99;
    display: block;
    width: 135px;
  }
  #send-to-laser-btn-jog {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 99;
    display: block;
    height: 120px;
    width: 135px;
    background-image: linear-gradient(-180deg, #B4EC51 0%, #429321 100%);
    border: 1px solid #000000;
    border-radius: 5px;
  }
  #send-to-laser-btn-jog i.material-icons {
    font-size: 80px;
    display: block;
  }
  #send-to-laser-btn-jog:disabled {
    background-image: linear-gradient(-180deg, #aaaaaa 0%, #888888 100%);
    border: 1px solid #888888;
  }
  #jog2D__home-btn {
    position: absolute !important;
    top: 205px;
    right: 17px;
    width: 135px;
    z-index: 98;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  #jog2D__home-btn {
    position: fixed;
    top: 265px;
    right: 17px;
    width: 175.5px;
    z-index: 98;
  }
  #jog__machineStatus {
    position: fixed;
    top: 6px;
    right: 20px;
    z-index: 99;
    display: block;
  }
  #send-to-laser-btn-jog {
    position: fixed;
    top: 39px;
    right: 26px;
    z-index: 99;
    display: block;
    height: 156px;
    width: 175.5px;
    background-image: linear-gradient(-180deg, #B4EC51 0%, #429321 100%);
    border: 1px solid #000000;
    border-radius: 5px;
  }
  #send-to-laser-btn-jog i.material-icons {
    font-size: 104px;
    display: block;
  }
  #send-to-laser-btn-jog:disabled {
    background-image: linear-gradient(-180deg, #aaaaaa 0%, #888888 100%);
    border: 1px solid #888888;
  }
  #2djog__home-btn {
    position: fixed;
    top: 245px;
    right: 17px;
    width: 135px;
    z-index: 98;
  }
  #dryRunSwitchLabel {
    position: fixed;
    top: 221px;
    right: 46px;
    z-index: 99;
    display: block;
    width: 135px;
  }
  .mdl-switch__label {
    font-size: 20.8px;
    left: 24px;
  }
  .mdl-switch__track {
    height: 18.2px;
    width: 46.8px;
  }
  .mdl-switch__thumb {
    height: 26px;
    width: 26px;
  }
  .mdl-switch__ripple-container {
    height: 62.4px;
    width: 62.4px;
    top: -16px;
    left: -18px;
  }
  .mdl-switch__ripple-container .mdl-ripple .is-animating {
    transform: translate(-50%, -50%) translate(32px, 32px);
  }
}
