/* display property styles for page load */
#port-29-section,
#port-23-section,
#light-section,
#jog-section,
#port-29-toggle-switch {
    display: none;
}

/* styles */
body {
    font-size: 16px;
    font-weight:normal;
}

input[type=button], input[type=submit] {
    color: white;
    display: inline-block;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin:1px;
    height:auto;
}
input[type=button] {
    background-color: #32B1C7;
}
input[type=submit] {
    background-color: #4CAF50;
}

input[type=button]:disabled {
    background-color: #BBBBBB;
    color: #888888;
}
input[type=text] {
    display: inline-block;
    float: left;
    font-size: 1em;
    margin: 8px 0;
    min-width: 50px;
    padding: 12px 20px;
    text-align: right;
}
#connection-result {
    background-color: #666;
    display: inline-block;
    font: 14px monospace;
    padding: 10px;
}
#result {
    background-color: #666;
    display: inline-block;
    font: 14px monospace;
    padding: 10px;
}
#result-29 {
    background-color: #666;
    display: inline-block;
    font: 14px monospace;
    padding: 10px;
}
#socket-io-result-29 {
    background-color: #66c;
    display: inline-block;
    font: 14px monospace;
    padding: 10px;
}
#command-line {
    font-size: 18px;
    height: 100px;
    min-width: 200px;
    position: relative;
    width: 40%;
}
#command-line-29 {
    font-size: 18px;
    height: 100px;
    min-width: 200px;
    position: relative;
    width: 40%;
}
.led-box {
    border-radius: 2px;
    border: 1px solid #666666;
    margin: 10px;
    padding: 5px;
    position: fixed;
    right: 0px;
    top: 0px;
}
.led-box p {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* TOGGLE INFO */

.toggle-switch {
    background: #aaa;
    border-radius: 600px;
    color: #fff;
    cursor: pointer;
    display: block;
    width: 4em;
    height: 2em;
    overflow: hidden;
    position: relative;
    padding:0;
    margin: 2px;
}
.toggle-switch:before, .toggle-switch:after {
    line-height: 2em;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 2;
}
.toggle-switch:before {
    content: "on";
    left: .4em;
}
.toggle-switch:after {
    content: "off";
    right: .4em;
}
.toggle-switch input {
    display: none;
}
.toggle-switch input:checked + .toggle:after {
    right: 0;
    left: auto;
}
.toggle-switch .toggle:before, .toggle-switch .toggle:after {
    border-radius: 600px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
}
.toggle-switch .toggle:after {
    background: #333;
    width: 50%;
    margin: 1px;
    left: 0;
    z-index: 3;
}