@import "vars";

// ------ UNIVERSAL STYLES ------ //

body {
  background-color: @pageBackgroundColor;
  color: @primaryTextColor;
  font: 14px "Roboto", Arial, sans-serif;
  font-weight:normal;
  margin: 0;
  padding: 0;
}
a {
  color: @secondaryAccentColor;
  text-decoration: none;
}

.centered {
  text-align: center;
}

@media @desktop {
  p {
    font-size: 1.1em;
    line-height: 1.6em;
  }
  h2 {
    font-size: 2.4em;
  }
  ul {
    font-size: 1em;
  }
}

@media @tablet {
  h2 {
    font-size: 24px;
  }
  h3 {

  }
}

.lighter {
  font-weight: lighter;
}

.unset {
  width: unset;
}

.alert {
  color: @redAccentColor;
}

.subtitle {
  font-size: .6em;
  color: @primaryColor;
}

// - - - - - button styles - - - - - //
.large-btn-full-width {
  height:110px;
  width: 100%;
  background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  border: 1px solid #1C73F7;
  border-radius: 5px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

// - - - - - scroll bar - - - - - //

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

// - - - - - scroll one mdl-cell - - - - - //
.hmi-height-scroll {
  height: 85vh;
  overflow: auto;
}

// - - - machine offline full page overlay - - - //
div.fadeMe {
  opacity:    0.5;
  background: #000;
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}

// ------ input styles ------ //

input[type=number] {
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  float:left;
  font-size:1em;
  margin: 8px 0;
  padding: 6px 10px;
  text-align: right;
  &::-webkit-inner-spin-button {
    opacity: 1;
  }
  &::-webkit-outer-spin-button {
    opacity: 1;
  }
}

// ------ status bar styles ------ //
footer {
  background: @darkMDLcolor;
  background-image: none;
  position: absolute;
  height: @status-bar-height;
  width: 100%;
  bottom: 0;
}
#timer {
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 17px;
  z-index: 10;
  color: @primaryTextColor;
  &:after {
    content: ' Job Timer'
  }
}

// ------ index page styles ------ //

@media @tablet {
  #index_home-machine {
    height: 100px;
  }
}
.index-header {
  .sm-primary-button {
    width: 300px;
    @media @desktop {
      width: 80%;
      max-width: 400px;
      height: 150px;
    }
  }
}

.index-footer {
  position: absolute;
  bottom: 50px;
  .xs-primary-button {
    height: 50px;
    width: 135px;
    font-size: 12px;
    @media @desktop {
      width: 190px;
      font-size: 1em;
    }
  }
}

// dirty fix to add space between icons and buttons
.index-page {
  button {
    i {
      margin: 0 5px;
    }
  }
}
.hmi-status-panel {
  //background: lighten(@pageBackgroundColor, 10%);
  color: @primaryTextColor;
  h2 {
    font-size: 20px;
  }
  #hmi-socketStatus {
    font-size: 18px;
    color: #dddddd;
  }
  #hmi-socketConsole {
    font-family: 'Inconsolata', monospace;
    color: #dddddd;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    height: 100px;
    width:100%;
    margin-left: -8px;
    background: darken(@pageBackgroundColor, 30%);
    overflow: auto;
  }
  td {
    color: @secondaryTextColor;
    vertical-align: top;
    &:first-child {
      width: 60px;
    }
  }
}

#homing-dialog {
 // margin-top: -325px; // hack to move dialog to center of screen
  z-index: 998;
}

.hmi-newJob-button {      // large button styles
  height: 230px;
  width: 100%;
  background-image: linear-gradient(-180deg, #B4EC51 0%, #429321 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: @primaryTextColor;
}
.hmi-newJob-button-half {      // half-sized large button styles
  height: 230px;
  width: 100%;
  background-image: linear-gradient(-180deg, #B4EC51 0%, #429321 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: @primaryTextColor;
  margin-left: 20px;
  &:first-of-type {
    margin-left: 0;
  }
}
.hmi-index-smallButton {
  height:120px;
  width: 100%;
  background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: @primaryTextColor;
  margin-top: 5px;
}

.hmi-homeSmall-button {
  height:110px;
  width: 270px;
  background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: @primaryTextColor;
  margin-bottom: 20px;
}

#index__settings-button {
  margin-left: 560px;
  @media @desktop {
    width: 55px;
    height: 55px;
  }
}

// ------ new job from styles ------ //

.large-primary-button {
  height:110px;
  width: 270px;
  background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: @primaryTextColor;
  font-size: 16px;
  top: 40px;
  margin-left: 45px;
}

.sm-primary-button {
  margin: 3px;
}

.xs-primary-button {
  line-height:normal;
  margin: 3px;
}

.xxs-primary-button {
  line-height:normal;
  margin: 3px;
}

@media @desktop {
  .sm-primary-button {
    height:100px;
    width: 95%;
  }
  .xs-primary-button {
    height:100px;
    width: 150px;
  }
  .xxs-primary-button {

  }
}
@media @tablet {
  .sm-primary-button {
    height:70px;
    width: 270px;
    font-size: 16px;
  }
  .xs-primary-button {
    height:70px;
    width: 132px;
    font-size: 12px;
  }
  .xxs-primary-button {
    height:40px;
    width: 132px;
    font-size: 12px;
  }
}


.slim-side-panel {
  box-sizing: border-box;
  width: 150px;
  right: 0;
  position: absolute;
  top: 20px;
  padding-top: 12px;
  @media @desktop {
    right: 30px;
  }
}

.blue {
  background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: @primaryTextColor;
}
.dark-blue {
  background-image: linear-gradient(-180deg, #37569a 0%, #1e3057 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: @primaryTextColor;
}
.black {
  background-image: linear-gradient(-180deg, #4b4b4b 0%, #1d1d1d 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: @primaryTextColor;
}

.green {
  background-image: linear-gradient(-180deg, #B4EC51 0%, #429321 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: @primaryTextColor;
}
.red-button {
  background-image: linear-gradient(-180deg, #fa495d 0%, #f72542 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: @darkTextColor;
}


// ------ file upload from USB ------ //

@usbPanel__card-width: 100%;

#usbPanel {
  overflow: auto;
  .mdl-card {
    background-color: lighten(@pageBackgroundColor, 70%);
    margin: 10px 5px 10px 5px;
    display: inline-flex;
    &.selected {
      background-color: @accentColor;
      .mdl-card__media {
        img {
          opacity: .5;
        }
      }
    }
    .mdl-card__title {
      overflow: hidden;
      .mdl-card__title-text {
        font-size: 16px;
      }
    }
    .mdl-card__media {
      background-color: @accentColor;
      //height: 170px;
      overflow: hidden;
      img {
        width: @usbPanel__card-width;
      }
    }
  }
  .mdl-list__item {
    color: @primaryTextColor;
    font-size: 15px;
    &.selected {
      background-color: @accentColor;
      color: @darkTextColor;
      .mdl-card__media {
        img {
          opacity: .5;
        }
      }
    }
    @media @desktop {
      padding: 1em;
      font-size: 1.3em;
    }
  }
  .folder {
    .mdl-list__item-icon {
      @media @desktop {
        font-size: 1.7em;
      }
    }
  }
  .file {
    .mdl-list__item-icon {
      color: @blueAccentColor2;
      @media @desktop {
        font-size: 1.4em;
      }
    }
  }
}

#select-usb-file-btn {
  @media @tablet {
    right: 10px;
    position: fixed;
    width: 20%;
  }
  @media @desktop {
    position: fixed;
    width: 30%;
    height: 200px;
  }
}
#select-usb-status {
  @media @tablet {
    position: fixed;
    top: 200px;
  }
  @media @desktop {
    position: fixed;
    top: 300px;
  }
}

#usbDriveName {
  position: fixed;
  padding: 5px;
  background: @pageBackgroundColor;
  width: 100%;
  @media @desktop {
    font-size: 1.3em;
  }
}

#refresh-usb-btn {
  height: 60px;
  width: 190px;
  @media @desktop {
    width: 250px;
    height: 100px;
  }
}

// ------ selectfile styles ------ //

@filePanel-width: 550px;
@filePanel-height: 390px;
@filePanel__card-width: @filePanel-width /3 - 20;

.filePanel {
  width: @filePanel-width;
  height: @filePanel-height;
  overflow: auto;
  margin:0;
  padding:0;
  .mdl-card {
    min-width: @filePanel__card-width;
    width: @filePanel__card-width;
    background-color: lighten(@pageBackgroundColor, 70%);
    margin: 10px 5px 10px 5px;
    display: inline-flex;
    &.selected {
      background-color: @accentColor;
      .mdl-card__media {
        img {
          opacity: .5;
        }
      }
    }
    .mdl-card__title {
      overflow: hidden;
      .mdl-card__title-text {
        font-size: 16px;
      }
    }
    .mdl-card__media {
      background-color: @accentColor;
      overflow: hidden;
      img {
        width: @filePanel__card-width;
      }
    }
  }
  .mdl-list__item {
    color: @primaryTextColor;
    &.selected {
      background-color: @accentColor;
      color: @darkTextColor;
      .mdl-card__media {
        img {
          opacity: .5;
        }
      }
    }
  }
}

// ------ file preview styles ------ //

.grid-lines {
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  height:100%;
  background-size:50px 50px;
}

@media @tablet {
  #threejs-container {
    position: fixed;
    top:56px;
    left: 0;
  }
}
@media @desktop {
  #threejs-container {
    position: fixed;
    top: 72px;
    left: 0;
  }
}

#previewfile-viewButtons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}

// ------ processes page ------ //
#virtualKeyboard {
  display: none; // by default this is hidden
}

.red {
  color: @redAccentColor;
}

#processes_preview-file {
  margin: 5px;
  font-weight: normal;
  i {
    font-size: 20px;
    padding-right: 3px;
  }
}

#processes_open-change-gas-dialog {
  font-weight: normal;
  i {
    font-size: 20px;
    padding-right: 3px;
  }
}

#processes_process-string {
}

.laser-mode-group {
  display: inline-block;
  label {
    margin-right: 40px;
  }
}

.accel-group {
  display: inline-block;
  margin-left: 40px;
  margin-right: 35px;
  label {
    margin-right: 40px;
  }
}

.raster-accel-group {
  display: inline;
  label {
    margin-right: 40px;
  }
}

.process-user {
  display: inline;
  position: absolute;
  right: 30px;
  color: white;
}

#paramForm_user_btn {
  color: white;
}

#material-input {
  width: 300px;
}

.static-label {
  font-size: 12px;
  top: 4px;
}

// dialog
#select-existing-process-dialog {
  width: 85%;
  position: absolute;
  top: 5px;
}
#processes_dialog_content {
  div {
    position: relative;
    width: 99%;
    margin: 2px auto;
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    vertical-align:middle;
  }
  table {
    border-collapse: collapse;
    @media @desktop {
      font-size: 1.4em;
    }
  }
}
.select-box {
  font-size: 16px;
  @media @desktop {
    font-size: 1em;
  }
  height: 200px;
  line-height: 200px;
  min-width: 120px;
  max-width: 400px;
  display: inline-block;
  background: @pageBackgroundColor;
  option {
    padding: 10px 10px;
    color: @primaryTextColor;
  }
}

#processes_paramForm {
  padding-bottom: 50px;
  font-weight:lighter;
  @media @desktop {
    .mdl-textfield {
      width: 120px;
    }
  }
  .mdl-textfield__label {
    color: @primaryTextColor;
    font-weight: lighter;
    @media @desktop {
      font-size: 1em;
    }
  }
  h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #adadad;
    margin: 20px 0 0 0;
    line-height:31px;
  }
  button {
    font-weight: normal;
    margin-right: 30px;
  }
  #cancel-process-btn {
    //background: #848484;
    color: @primaryTextColor;
  }
}

.processes_new-process-row {
  display: none;
  p {
    color: @primaryTextColor;
  }
  label {
    color: @primaryTextColor;
  }
}


// ------ process table summary styles ------ //

.processtablesummary-row {
  display: flex;
  align-items: center;
  background: lighten(@pageBackgroundColor, 50%);
  background: linear-gradient(lighten(@pageBackgroundColor, 60%), lighten(@pageBackgroundColor, 50%));
  color: @darkTextColor;
  border-radius: 5px;
  border-left: 10px solid #c2c2c2;
  margin-top: 10px;
  h1 {
    color: @darkTextColor;
    margin: 0 0 0 20px;
    width: 140px;
    font-weight: lighter;
  }
  h2 {
    color: @darkTextColor;
    margin: 0 0 0 20px;
    font-weight: lighter;
  }
  ul {
    vertical-align: middle;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    width: 310px;
    margin-left:5px;
    padding-left:0;
    li {
      list-style-type: none;
      color: @darkTextColor;
    }
  }
  @media @tablet {
    height: 85px;
    h1 {
      font-size: 24px;
      line-height: 30px;
    }
    h2 {
      font-size: 14px;
      line-height: 16px;
    }
    .userInfo {
      width: 75px;
      span {
        font-size: 12px;
      }
    }
    .editIconSpan {
      i {
        &:last-child {
          margin-right:30px;
        }
      }
    }
    .processNotFound {
      button {
        width: 400px;
      }
    }
  }
  @media @desktop {
    height: 115px;
    width: 95%;
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.1em;
      line-height: 1.1em;
    }
    .userInfo {
      width: 175px;
      span {
        line-height: 1.2em;
        font-size: 1em;
      }
    }
    ul {
      width: 350px;
    }
    .editIconSpan {
      i {
        &:last-child {
          margin-right:30px;
        }
      }
    }
    .processNotFound {
      button {
        width: 700px;
      }
    }
  }
  .userInfo {
    text-align: center;
    line-height: 10px;
    span {
      color: lighten(@pageBackgroundColor, 30%);
      display: block;
    }
    i {
      color: lighten(@pageBackgroundColor, 30%);
    }
  }
  .editIconSpan {
    display: inline-block;
    vertical-align: middle;
    margin-left: 130px;
    i {
      font-size: 36px;
      color: @darkTextColor;
      padding: 10px;
      background: lighten(@pageBackgroundColor, 63%);
      border-radius: 50px;
    }
  }
  .processNotFound {
    vertical-align: middle;
    height: 85px;
    margin-left: 30px;
    display: inline-block;
    button {
      height: 65px;
      background: rgba(255, 0, 0, .1);
      border:none;
      border-radius: 2px;
      color: #000;
      margin: 10px 0 0 0;
      min-width: 64px;
      padding: 0 16px;
      display: inline-block;
      font-family: "Roboto","Helvetica","Arial",sans-serif;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0;
      overflow: hidden;
      outline: none;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      line-height: 36px;
      vertical-align: middle;
    }
    p {
      margin: 0;
    }
  }
}

.done-button {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 99;  // put in front of header
  &:disabled {
    background: #6ebe44;
  }
}

// ------ process table details styles ------ //

#process-details_settings_button {
  background: lighten(@pageBackgroundColor, 10%);
  color: @accentColor;
}

.process-details_icon-label {
  font-size: 12px;
  color: @accentColor;
}

#process-table {
  label {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-weight: bold;
  }
}

// ..... input styles (overwrite MDL) ..... //
.mdl-textfield {
  input[type=text] {
    color: @primaryTextColor;
  }
  width: 95px;
  margin-right: 14px;
}
// reg label color
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
  color: @secondaryTextColor;
}
// focused text area label
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: @accentColor;
}

.mdl-textfield__label:after {
  background-color: @accentColor;
}

.mdl-textfield__input {
  border-bottom: 1px solid darken(@accentColor, 15%);
  border-radius: 0;
  .processDisabled {
    color: red !important;
  }
  @media @desktop {
    font-size: 1.6em;
  }
}

.mdl-textfield__error {
  font-weight: bold;
}


// ------ CHS settings page ------ //
.header-button {
  color: @primaryTextColor;
  font-size: 0.8em;
}

#userCommandInput {
  width: 100%;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
}
#terminalWindow {
  overflow: auto;
  height: 85vh;
}
#terminalWindow p {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  line-height: 100%;
}
.mdl-layout__content {
  display: flex;
  flex-direction: column;
}
.mdl-layout__content .mdl-grid {
  width: 100%;
  flex-grow: 2;
}

/* for file preview error */
#preview-error {
  position: fixed;
  top: 300px;
  color: #880e4f;
  width: 100%;
  text-align: center;
}

// ---------- beam centering ---------- //
#beam-centering_run-test {
  width: 100%;
}
#beam-centering_move {
  width: 100%;
}
#beam-centering_lift-head {
  width: 100%;
}

// ---------- run job styles ---------- //
.xlarge-2-col-btn {
  display: block;
  height:175px;
  width: 175px;
  background-image: linear-gradient(-180deg, #B4EC51 0%, #429321 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: @primaryTextColor;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  i.material-icons {
    font-size: 100px;
    display: block;
  }
}
.med-btn {
  display: block;
  height:75px;
  width: 150px;
  padding: 5px;
  background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  color: @primaryTextColor;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  i.material-icons {
  }
  span {
    display: block;
  }
}

#machinePosX, #machinePosY, #machinePosZ, #machinePosR {
  margin-left: 30px;
  padding:0;
  font-size: 24px;
  line-height: 46px;
  color: @primaryColor;
  font-weight: lighter;
  span {
    color: @primaryTextColor;
    margin-left: 10px;
    display: inline;
  }

}

#fl_gas {
  width: 135px;
  text-align: right;
  position: absolute;
  bottom: 40px;
  right: 17px;
  z-index: 10;
  font-size: 1.3em;
}

@runjob-6-col-width: 560px;
#runjob-fileInfo {
  height: 120px;
  padding: 4px;
  width: @runjob-6-col-width;
}
#runjob-sidePanel {
  position: fixed;
  right:0;
}
#runjob-machineInfo {
  width: @runjob-6-col-width;
  overflow: auto;
  display: flex;
  min-height:266px;
  #runjob-console {
    &:before {
      content: 'Console:';
    }
    padding: 4px;
    flex: 2;
    font-family: 'Inconsolata', monospace;
    color: @primaryColor;
    font-size: 14px;
    background: darken(@pageBackgroundColor, 30%);
  }
  #runjob-laserInfo {
    //&:before {
    //  color: @secondaryTextColor;
    //  content: 'Laser Info';
    //}
    padding: 4px;
    flex: 1;
    ul {
      list-style: none;
      margin-left: 10px;
      padding:0;
      color: @secondaryTextColor;
      li {
        padding-bottom: 10px;
        p {
          font-size: 20px;
          margin: 0;
          padding: 0;
        }
        span {
          color: @primaryTextColor;
        }
      }
    }
  }
}

// ------ settings styles ------ //
#settings__layout {
  p, h6 {
    line-height: 1.2;
  }
}

.admin-password {
  width: 80%;
  height: 50px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
  text-align: center;
  background: none;
  color: @primaryTextColor
}

#pin-settings-menu {
  td:first-child {
    width: 300px;
  }
  #show-pin-text {
    white-space: pre-line;
  }
}

#set-pin-menu {
  .mdl-textfield__label {
    color: @primaryTextColor;
    font-weight: lighter;
  }
  .mdl-textfield {
    width: 300px;
  }
}

// ---------- Material icon font ---------- //
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../stylesheets/icons/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('../stylesheets/icons/MaterialIcons-Regular.woff2') format('woff2'),
  url('../stylesheets/icons/MaterialIcons-Regular.woff') format('woff'),
  url('../stylesheets/icons/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// ------------------------------------------------------ //
// ---------- OVERWRITE MATERIAL DESIGN STYLES ---------- //
// ------------------------------------------------------ //
// styles to overwrite material design colors

// .......... mdl header .......... //
.mdl-layout__header-row {
  .mdl-layout-title {
    margin-left: 140px;
  }
  background-color: #212121;
  a {
    position: absolute;
    left: 10px;
    i {
      font-size: 46px;
      position: relative;
    }
    &.home-btn-icon {
      left: 100px;
    }
  }
  button {
    color: @primaryTextColor;
    font-size: 0.8em;
  }
  .header-file-name {
    position: relative;
    left: 25px;
  }
}

@media @desktop {
  body {
    font-size: 1.2em;
  }
  .mdl-layout__header-row {
    height: 72px;
    background-color: #212121;
    a {
      left: 10px;
      i {
        font-size: 72px;
        position: relative;
      }
      &.home-btn-icon {
        left: 100px;
      }
    }
    button {
      color: @primaryTextColor;
      font-size: 1.2em;
    }
    .mdl-layout-title {
      font-size: 1.8em;
      margin-left: 140px;
    }
  }
  .header-file-name {
    position: relative;
    left: 25px;
    font-size: 1.2em;
  }
  .material-icons {
    font-size: 36px;
  }
  .userInfo {
    width: 175px;
  }
}

.mdl-layout__header .mdl-layout__drawer-button {
  background: none;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: @darkTextColor;
}

// .......... grid styles .......... //
.mdl-grid, .page-content, .mdl-cell {
  padding: 0;
  margin: 0 8px;
}
.mdl-cell {
  margin-top: 8px;
}

// .......... dialog styles .......... //
.mdl-dialog {
  width: 580px;
  .mdl-dialog__content h2 {
    @media @desktop {
      font-size: 1.8em
    }
  }
}

#status-dialog {
  position: fixed;
  top: 70px;
  z-index: 999;
}

#user-dialog {
  position: fixed;
  top: 70px;
  z-index: 999;
}


// .......... snackbar styles .......... //
.mdl-snackbar {
  background-color: darken(@pageBackgroundColor, 40%);
  .mdl-snackbar__text {
    color: @accentColor;
  }
}

// .......... button styles .......... //
.mdl-button--fab.mdl-button--colored {
  background: @accentColor;
  &:hover {
    background: lighten(@accentColor, 5%);
  }
  &:disabled {
    background: darken(@accentColor, 5%);
    border:none;
  }
}

@media @desktop {
  .mdl-button--fab {
    .material-icons {
      top: 50%;
      left: 40%;
    }
  }
  .mdl-button {
    font-size: 1.2em;
  }
  .mdl-button--fab.mdl-button--mini-fab {
    height: 64px;
    width: 64px;
  }
}

button:disabled {
  background-image: linear-gradient(-180deg, #aaaaaa 0%, #888888 100%);
  border: 1px solid #888888;
}

// .......... radio button .......... //
.mdl-radio {
  @media @desktop {
    line-height: 2.2em;
    .mdl-radio__buton {

    }
    .mdl-radio__label {
      font-size: 1.4em;
      margin-left: 10px;
    }
    .mdl-radio__outer-circle {
      width: 1.6em;
      height: 1.6em;
    }
    .mdl-radio__inner-circle {
      width: 1.1em;
      height: 1.1em;
    }
  }
}
// .......... selectfield .......... //

form .hmi-selectfield {
  font-size: 20px;
  option {
    font-size: 20px;
  }
}
// .......... switch .......... //

.mdl-switch {
  .mdl-switch__thumb {
    background: #fafafa;
  }
  .mdl-switch__track {
    background: #838383;
  }


  &.is-checked {
    .mdl-switch__thumb {
      background: @accentColor;
    }
    .mdl-switch__track {
      background: darken(@accentColor, 20%);
    }
  }
}

.mdl-switch__ripple-container .mdl-ripple {
  background: @accentColor;
}
