@import "vars";

// 2D vars - Tablet
@jog2D--tablet-topOffset: 35px;
@jog2D--tablet-flagWidth: 80px;
@jog2D--tablet-flagHeight: 50px;
@jog2D--tablet-border: 20px;
@jog2D--tablet-runButtonWidth: 135px;
@jog2D--tablet-bedWidth: 500px;
@jog2D--tablet-bedHeight: 250px;
// 2D vars - Desktop
@jog2D--desktop-px-per-inch-ratio: 1.3;
@jog2D--desktop-topOffset: 35px;
@jog2D--desktop-flagWidth: 80px * @jog2D--desktop-px-per-inch-ratio;
@jog2D--desktop-flagHeight: 50px * @jog2D--desktop-px-per-inch-ratio;
@jog2D--desktop-border: 20px;
@jog2D--desktop-runButtonWidth: 135px;
@jog2D--desktop-bedWidth: 650px;
@jog2D--desktop-bedHeight:325px;

// 3D vars - Tablet
@jog3D--tablet-left-offset: 25px;
@jog3D--tablet-flag-width: 80px;
@jog3D--tablet-flag-height: 50px;
@jog3D--tablet-tube-length-in: 52.5;
@jog3D--tablet-px-per-in: 12px;
@jog3D--tablet-tube-length-px: @jog3D--tablet-px-per-in * @jog3D--tablet-tube-length-in;  // used in jog3D.pug to render rotary tube.
@jog3D--tablet-tube-diameter-in: 1.5;
@jog3D--tablet-tube-diameter-px: @jog3D--tablet-px-per-in * @jog3D--tablet-tube-diameter-in;
@jog3D--tablet-tube-top-position: (@screenHeight - @jog3D--tablet-tube-diameter-px) / 2;
@jog3D--tablet-top-offset: 190px;
@jog3D--tablet-idler-height: 6 * @jog3D--tablet-px-per-in;
@jog3D--tablet-idler-width: 0.7 * @jog3D--tablet-px-per-in;
@jog3D--tablet-idler-top-offset: 147px;
@jog3D--tablet-bounds-top-offset: 167px;
// 3D jog - Desktop
@jog3D--desktop-screen-height: 600;
@jog3D--desktop-px-per-inch-ratio: 1.3;
@jog3D--desktop-left-offset: 25px;
@jog3D--desktop-flag-width: 80px * @jog3D--desktop-px-per-inch-ratio;
@jog3D--desktop-flag-height: 50px * @jog3D--desktop-px-per-inch-ratio;
@jog3D--desktop-tube-length-in: 52.5;
@jog3D--desktop-px-per-in: 16px;
@jog3D--desktop-tube-length-px: @jog3D--desktop-px-per-in * @jog3D--desktop-tube-length-in;  // used in jog3D.pug to render rotary tube.
@jog3D--desktop-tube-diameter-in: 1.5;
@jog3D--desktop-tube-diameter-px: @jog3D--desktop-px-per-in * @jog3D--desktop-tube-diameter-in;
@jog3D--desktop-tube-top-position: (@jog3D--desktop-screen-height - @jog3D--desktop-tube-diameter-px) / 2;
@jog3D--desktop-top-offset: 247px;
@jog3D--desktop-idler-height: 6 * @jog3D--desktop-px-per-in;
@jog3D--desktop-idler-width: 0.7 * @jog3D--desktop-px-per-in;
@jog3D--desktop-idler-top-offset: 180px;
@jog3D--desktop-bounds-top-offset: 207px;

// Page vars
@jog-runBtnHeight: 120px;
@jog-runBtnWidth: 135px;

// ..... 2D jog screen ..... //
@media @tablet {
  #laser-bed {
    width: @jog2D--tablet-bedWidth;
    height: @jog2D--tablet-bedHeight;
    border: 1px solid #000000;
    position: absolute;
    top: @jog2D--tablet-topOffset;
    left:@jog2D--tablet-flagWidth + (@jog2D--tablet-border * 2);
    background: rgba(200, 200, 200, 0.5);
  }

  .jog_unit {
    position: relative;
    font-size: 16px;
    line-height:0;
    margin:22px 5px 0 0;
    padding:0;
    top: -30px;
  }

  #drag-x-bounds {
    //background: rgba(0,0,255,0.5);
    padding: 0;
    position: absolute;
    left: (@jog2D--tablet-border * 2) + @jog2D--tablet-flagWidth;
    top: @jog2D--tablet-topOffset;
    width: @jog2D--tablet-bedWidth + @jog2D--tablet-flagWidth + 2px;
    height: @jog2D--tablet-flagHeight + @jog2D--tablet-bedHeight + @jog2D--tablet-border;
  }

  #drag-x-container {
    padding:0;
    //position: absolute;
    border-left: 2px solid #1C73F7;
    //top: @jog2D--tablet-topOffset;
    //left: (@jog2D--tablet-border * 2) + @jog2D--tablet-flagWidth;
    width: @jog2D--tablet-flagWidth;
    height: @jog2D--tablet-bedHeight + @jog2D--tablet-border + @jog2D--tablet-flagHeight + 30px;
  }

  #drag-x-flag {
    position: relative;
    top: @jog2D--tablet-topOffset + @jog2D--tablet-bedHeight - 35px + 50px;
    height: @jog2D--tablet-flagHeight;
    width: @jog2D--tablet-flagWidth;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.4);
    border-radius: 0 3px 3px 0;
    background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
    #x-value {
      position: relative;
      font-size: 20px;
      line-height:0;
      margin:22px 0 0 1px;
      padding:0;
      top: -25px;
    }
  }

  #drag-y-bounds {
    //background: red;
    padding: 0;
    position: absolute;
    left: 24px;
    top: @jog2D--tablet-topOffset;
    width: @jog2D--tablet-flagWidth;
    height: @jog2D--tablet-bedHeight + @jog2D--tablet-flagHeight + 2px;
  }

  #drag-y-container {
    padding:0;
    border-top: 2px solid #1C73F7;
    top: @jog2D--tablet-topOffset + @jog2D--tablet-bedHeight - @jog2D--tablet-flagHeight - 5px + 20px;
    width: @jog2D--tablet-bedWidth + @jog2D--tablet-border + @jog2D--tablet-flagWidth;
    height: @jog2D--tablet-flagHeight;
  }
  #drag-y-flag {
    left: @jog2D--tablet-border;
    height: @jog2D--tablet-flagHeight;
    width: @jog2D--tablet-flagWidth;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.4);
    border-radius: 0 0 3px 3px;
    background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
    #y-value {
      position: relative;
      font-size: 20px;
      line-height:0;
      margin:22px 0 0 0;
      padding:0;
      top: -25px;
    }
  }

  #jog2d__bounds {
    border: 1px solid #27ff14;
    position: absolute;
    background: rgba(35, 255, 20, .3);
    //transform-origin: 100% 0 0;
  }

  #jog2d__boundsContainer {
    position: relative;
    left: 97px;
    top: @jog2D--tablet-topOffset - 7px;
  }
}

@media @desktop {
  #laser-bed {
    width: @jog2D--desktop-bedWidth;
    height: @jog2D--desktop-bedHeight;
    border: 1px solid #000000;
    position: absolute;
    top: @jog2D--desktop-topOffset;
    left:@jog2D--desktop-flagWidth + (@jog2D--desktop-border * 2);
    background: rgba(200, 200, 200, 0.5);
  }

  #nudge-up {
    width: 60px;
    height: 60px;
    background: red;
    margin-top: -120px;
    margin-bottom: 40px;
  }
  #nudge-down {
    width: 60px;
    height: 60px;
    background: red;
  }
  #nudge-left {
    width: 60px;
    height: 60px;
    background: red;
    top: 375px;
    position: relative;
    margin-left: -60px;
  }
  #nudge-right {

  }

  .jog_unit {
    position: relative;
    font-size: 16px * @jog2D--desktop-px-per-inch-ratio;
    line-height:0;
    margin:22px 5px 0 0;
    padding:0;
    top: -30px;
  }

  .jog_unit_rotary {
    position: relative;
    font-size: 16px * @jog2D--desktop-px-per-inch-ratio;
    line-height:0;
    margin:22px 5px 0 0;
    padding:0;
    top: -90px;
  }

  #drag-x-bounds {
    //background: rgba(0,0,255,0.5);
    padding: 0;
    position: absolute;
    left: (@jog2D--desktop-border * 2) + @jog2D--desktop-flagWidth;
    top: @jog2D--desktop-topOffset;
    width: @jog2D--desktop-bedWidth + @jog2D--desktop-flagWidth + 2px;
    height: @jog2D--desktop-flagHeight + @jog2D--desktop-bedHeight + @jog2D--desktop-border;
  }

  #drag-x-container {
    padding:0;
    //position: absolute;
    border-left: 2px solid #1C73F7;
    //top: @jog2D--desktop-topOffset;
    //left: (@jog2D--desktop-border * 2) + @jog2D--desktop-flagWidth;
    width: @jog2D--desktop-flagWidth;
    height: @jog2D--desktop-bedHeight + @jog2D--desktop-border + @jog2D--desktop-flagHeight + 30px;
  }

  #drag-x-flag {
    position: relative;
    top: @jog2D--desktop-topOffset + @jog2D--desktop-bedHeight - 35px + 50px;
    height: @jog2D--desktop-flagHeight;
    width: @jog2D--desktop-flagWidth;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.4);
    border-radius: 0 3px 3px 0;
    background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
    #x-value {
      position: relative;
      font-size: 20px * @jog2D--desktop-px-per-inch-ratio;
      line-height:0;
      margin:22px 0 0 1px;
      padding:0;
      top: -25px;
    }
  }

  #drag-y-bounds {
    //background: red;
    padding: 0;
    position: absolute;
    left: 24px;
    top: @jog2D--desktop-topOffset;
    width: @jog2D--desktop-flagWidth;
    height: @jog2D--desktop-bedHeight + @jog2D--desktop-flagHeight + 2px;
  }

  #drag-y-container {
    padding:0;
    border-top: 2px solid #1C73F7;
    top: @jog2D--desktop-topOffset + @jog2D--desktop-bedHeight - @jog2D--desktop-flagHeight - 5px + 35px;
    width: @jog2D--desktop-bedWidth + @jog2D--desktop-border + @jog2D--desktop-flagWidth;
    height: @jog2D--desktop-flagHeight;
  }
  #drag-y-flag {
    left: @jog2D--desktop-border;
    height: @jog2D--desktop-flagHeight;
    width: @jog2D--desktop-flagWidth;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.4);
    border-radius: 0 0 3px 3px;
    background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
    #y-value {
      position: relative;
      font-size: 20px * @jog2D--desktop-px-per-inch-ratio;
      line-height:0;
      margin:22px 0 0 0;
      padding:0;
      top: -25px;
    }
  }

  #jog2d__bounds {
    border: 1px solid #27ff14;
    position: absolute;
    background: rgba(35, 255, 20, .3);
    //transform-origin: 100% 0 0;
  }

  #jog2d__boundsContainer {
    position: relative;
    left: 120px;
    top: @jog2D--desktop-topOffset - 7px;
  }
}

// ..... 3D tube jog screen ..... //

@media @tablet {
  #jog3D__bounds {
    border: 1px solid #27ff14;
    position: absolute;
    background: rgba(35, 255, 20, .3);
    //transform-origin: 100% 0 0;
  }

  .jog_unit_rotary {
    position: relative;
    font-size: 16px;
    line-height:0;
    margin:22px 5px 0 0;
    padding:0;
    top: -90px;
  }

  #jog3D__bounds-container {
    position: relative;
    margin:0;
    padding:0;
    width: @jog3D--tablet-tube-length-px;
    height: 30px;
    top: @jog3D--tablet-bounds-top-offset;
    left: 2px;
  }

  #jog3D__drag-x-bounds {
    //background: rgba(0,0,255,0.5);
    padding: 0;
    position: absolute;
    left: @jog3D--tablet-left-offset;
    top: @jog3D--tablet-top-offset;
    width: @jog3D--tablet-tube-length-px + @jog3D--tablet-flag-width + 2px;
    height: @jog3D--tablet-flag-height*2;
  }

  #jog3D__drag-x-container {
    padding:0;
    border-left: 2px solid #1C73F7;
    width: @jog3D--tablet-flag-width;
    height: 125px;
    margin-top: -30px;
  }

  #jog3D__tube {
    position: fixed;
    margin:0;
    padding:0;
    width: @jog3D--tablet-tube-length-px;
    height: @jog3D--tablet-tube-diameter-px;
    top: @jog3D--tablet-tube-top-position;
    background: #898989; /* Old browsers */
    background: -webkit-linear-gradient(top, #898989 0%,#cccccc 6%,#dbdbdb 8%,#969696 18%,#969696 18%,#969696 38%,#cccccc 81%,#a0a0a0 86%,#a0a0a0 86%,#adadad 91%,#999999 92%,#3d3d3d 101%); /* Chrome10-25,Safari5.1-6 */
    border: 1px solid black;
    // www.colorzilla.com/gradient-editor/#727272+0,cccccc+6,dbdbdb+8,969696+18,727272+18,969696+38,cccccc+81,a0a0a0+86,a0a0a0+86,adadad+91,999999+92,3d3d3d+101
  }

  #tubejog-position {
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.4);
    border-radius: 0 3px 3px 0;
    background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
    color: @primaryTextColor;
    display: inline;
    padding: 30px;
    position: fixed;
    top: 140px;
    left: (@screenWidth - @jog3D--tablet-tube-length-px) / 2;
    p {
      font-size: 20px;
      line-height:0;
      margin:0;
      padding:0;
    }
  }

  #jog3D__drag-x-flag {
    position: relative;
    top: 75px;
    height: @jog3D--tablet-flag-height;
    width: @jog3D--tablet-flag-width;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.4);
    border-radius: 0 3px 3px 0;
    background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
    #x-value {
      top: -90px;
      position: relative;
      font-size: 20px;
      line-height:0;
      margin:22px 5px;
      padding:0;
    }
  }

  #tubejog-line {
    position: absolute;
    top: 60px;
    left: 0;
    width: 2px;
    height: 30px;
    background: #1C73F7;
  }

  #fileInfo {
    color: @secondaryTextColor;
    position: fixed;
    top: 330px;
    left: 30px;
  }

  .jog__buttons {
    display: inline;
    margin-bottom: @status-bar-height;
  }

  #jog3D__idler {
    border: 1px solid #000;
    opacity: 0.5;
    background: #898989; /* Old browsers */
    background: -webkit-linear-gradient(top, #b7b7b7 0%, #848484 34%, #767676 50%, #838383 66%, #b7b7b7 100%); /* Chrome10-25,Safari5.1-6 */
    border-radius: 2px;
    height: @jog3D--tablet-idler-height;
    width: @jog3D--tablet-idler-width;
    position: absolute;
    top: @jog3D--tablet-idler-top-offset;
    left: @jog3D--tablet-left-offset;
    span {
      position: relative;
      top: 55px;
      padding-left: 10px;
      font-weight: lighter;
    }
  }
}

@media @desktop {
  #jog3D__bounds {
    border: 1px solid #27ff14;
    position: absolute;
    background: rgba(35, 255, 20, .3);
    //transform-origin: 100% 0 0;
  }

  .jog_unit_rotary {
    position: relative;
    font-size: 24px;
    line-height:0;
    margin:22px 5px 0 0;
    padding:0;
    top: -90px * @jog3D--desktop-px-per-inch-ratio;
  }

  #jog3D__bounds-container {
    position: relative;
    margin:0;
    padding:0;
    width: @jog3D--desktop-tube-length-px;
    height: 30px;
    top: @jog3D--desktop-bounds-top-offset;
    left: 2px;
  }

  #jog3D__drag-x-bounds {
    //background: rgba(0,0,255,0.5);
    padding: 0;
    position: absolute;
    left: @jog3D--desktop-left-offset;
    top: @jog3D--desktop-top-offset;
    width: @jog3D--desktop-tube-length-px + @jog3D--desktop-flag-width + 2px;
    height: @jog3D--desktop-flag-height*2;
  }

  #jog3D__drag-x-container {
    padding:0;
    border-left: 2px solid #1C73F7;
    width: @jog3D--desktop-flag-width;
    height: 125px * @jog3D--desktop-px-per-inch-ratio;
    margin-top: -42px;
  }

  #jog3D__tube {
    position: fixed;
    margin:0;
    padding:0;
    width: @jog3D--desktop-tube-length-px;
    height: @jog3D--desktop-tube-diameter-px;
    top: @jog3D--desktop-tube-top-position;
    background: #898989; /* Old browsers */
    background: -webkit-linear-gradient(top, #898989 0%,#cccccc 6%,#dbdbdb 8%,#969696 18%,#969696 18%,#969696 38%,#cccccc 81%,#a0a0a0 86%,#a0a0a0 86%,#adadad 91%,#999999 92%,#3d3d3d 101%); /* Chrome10-25,Safari5.1-6 */
    border: 1px solid black;
    // www.colorzilla.com/gradient-editor/#727272+0,cccccc+6,dbdbdb+8,969696+18,727272+18,969696+38,cccccc+81,a0a0a0+86,a0a0a0+86,adadad+91,999999+92,3d3d3d+101
  }

  #tubejog-position {
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.4);
    border-radius: 0 3px 3px 0;
    background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
    color: @primaryTextColor;
    display: inline;
    padding: 30px;
    position: fixed;
    top: 140px;
    left: (@screenWidth - @jog3D--desktop-tube-length-px) / 2;
    p {
      font-size: 20px;
      line-height:0;
      margin:0;
      padding:0;
    }
  }

  #jog3D__drag-x-flag {
    position: relative;
    top: 75px * @jog2D--desktop-px-per-inch-ratio;
    height: @jog3D--desktop-flag-height;
    width: @jog3D--desktop-flag-width;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.4);
    border-radius: 0 3px 3px 0;
    background-image: linear-gradient(-180deg, #61C9FA 0%, #1C73F7 100%);
    #x-value {
      top: -90px * @jog2D--desktop-px-per-inch-ratio;
      position: relative;
      font-size: 20px * @jog2D--desktop-px-per-inch-ratio;
      line-height:0;
      margin:22px 5px;
      padding:0;
    }
  }

  #tubejog-line {
    position: absolute;
    top: 60px;
    left: 0;
    width: 2px;
    height: 30px;
    background: #1C73F7;
  }

  #fileInfo {
    color: @secondaryTextColor;
    position: fixed;
    top: 330px;
    left: 30px;
  }

  .jog__buttons {
    display: inline;
    margin-bottom: @status-bar-height;
  }

  #jog3D__idler {
    border: 1px solid #000;
    opacity: 0.5;
    background: #898989; /* Old browsers */
    background: -webkit-linear-gradient(top, #b7b7b7 0%, #848484 34%, #767676 50%, #838383 66%, #b7b7b7 100%); /* Chrome10-25,Safari5.1-6 */
    border-radius: 2px;
    height: @jog3D--desktop-idler-height;
    width: @jog3D--desktop-idler-width;
    position: absolute;
    top: @jog3D--desktop-idler-top-offset;
    left: @jog3D--desktop-left-offset;
    span {
      position: relative;
      top: 55px * @jog3D--desktop-px-per-inch-ratio;
      padding-left: 10px * @jog3D--desktop-px-per-inch-ratio;
      font-weight: lighter;
    }
  }
}

// ------ jogging screen, for 2D and 3D ------ //

@media @tablet {
  #jog__machineStatus {
    position: fixed;
    top: 6px;
    right: 20px;
    z-index: 99; // put in front of header
    display: block;
  }
  #dryRunSwitchLabel {
    position: fixed;
    top: 50 + @jog-runBtnHeight;
    right: 20px;
    z-index: 99; // put in front of header
    display: block;
    width: @jog-runBtnWidth;
  }
  #send-to-laser-btn-jog {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 99; // put in front of header
    display: block;
    height:@jog-runBtnHeight;
    width: @jog-runBtnWidth;
    background-image: linear-gradient(-180deg, #B4EC51 0%, #429321 100%);
    border: 1px solid #000000;
    border-radius: 5px;
    i.material-icons {
      font-size: 80px;
      display: block;
    }
    &:disabled {
      background-image: linear-gradient(-180deg, #aaaaaa 0%, #888888 100%);
      border: 1px solid #888888;
    }
  }
  #jog2D__home-btn {
    position: absolute !important;
    top: 205px;
    right: 17px;
    width: 135px;
    z-index: 98;  // put in front of header
  }
}

@media @desktop {
  #jog2D__home-btn {
    position: fixed;
    top: 265px;
    right: 17px;
    width: @jog-runBtnWidth * @jog3D--desktop-px-per-inch-ratio;
    z-index: 98;  // put in front of header
  }

  #jog__machineStatus {
    position: fixed;
    top: 6px;
    right: 20px;
    z-index: 99; // put in front of header
    display: block;
  }
  #send-to-laser-btn-jog {
    position: fixed;
    top: 30px * @jog3D--desktop-px-per-inch-ratio;
    right: 20px * @jog3D--desktop-px-per-inch-ratio;
    z-index: 99; // put in front of header
    display: block;
    height:@jog-runBtnHeight * @jog3D--desktop-px-per-inch-ratio;
    width: @jog-runBtnWidth * @jog3D--desktop-px-per-inch-ratio;
    background-image: linear-gradient(-180deg, #B4EC51 0%, #429321 100%);
    border: 1px solid #000000;
    border-radius: 5px;
    i.material-icons {
      font-size: 80px * @jog3D--desktop-px-per-inch-ratio;
      display: block;
    }
    &:disabled {
      background-image: linear-gradient(-180deg, #aaaaaa 0%, #888888 100%);
      border: 1px solid #888888;
    }
  }
  #2djog__home-btn {
    position: fixed;
    top: 245px;
    right: 17px;
    width: 135px;
    z-index: 98;  // put in front of header
  }

  #dryRunSwitchLabel {
    position: fixed;
    top: (50 + @jog-runBtnHeight) * @jog3D--desktop-px-per-inch-ratio;
    right: 20px * @jog3D--desktop-px-per-inch-ratio + 20;
    z-index: 99; // put in front of header
    display: block;
    width: @jog-runBtnWidth;
  }
  // Overwriting MDL styles for toggle switch button
  .mdl-switch__label {
    font-size: 16px * 1.3;
    left: 24px;
  }
  .mdl-switch__track {
    height: 14px * 1.3;
    width: 36px * 1.3;
  }
  .mdl-switch__thumb {
    height: 20px * 1.3;
    width: 20px * 1.3;
  }
  .mdl-switch__ripple-container {
    height: 48px * 1.3;
    width: 48px * 1.3;
    top: -16px;
    left: -18px;
    .mdl-ripple .is-animating {
      transform: translate(-50%, -50%) translate(32px, 32px);
    }
  }
}