// Breakpoints
// from https://codepen.io/ericrasch/pen/HzoEx
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";

// color palette
@pageBackgroundColor:   #303030;
@darkerPrimaryColor:    #666666;
@primaryColor:          #888888;
@primaryTextColor:      #f5f5f5;
@secondaryTextColor:    darken(@primaryTextColor, 30%);
@disabledTextColor:     darken(@primaryTextColor, 50%);
@darkTextColor:         #000000;
@accentColor:           #6ebe44;
@secondaryAccentColor:  #CDDC39;
@redAccentColor:        #be1e2d;
@blueAccentColor:       #1C73F7;
@blueAccentColor2:      #61C9FA;
@dividerColor:          darken(@primaryTextColor, 80%);
@darkMDLcolor:          #111111;

// dimensions
@home-icon-width: 100px;
@home-icon-height: 100px;
//position info
@screenWidth: 800px;
@screenHeight: 480px;
// status bar
@status-bar-height: 30px;