extends ../layoutWithKeypad.pug

block content

	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/settings')
					i.material-icons keyboard_arrow_left
				span.mdl-layout-title= title
		main.mdl-layout__content
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop.centered
						h2 Admin settings require a password.
						p#admin-info-text Contact your administrator or the FabLight factory to recover your password.
						input.input.admin-password(placeholder='Use keypad to enter password. Press "enter" to submit.')
						.simple-keyboard

	include ../includes/statusDialog.pug

	script(src="/socket.io/socket.io.js")
	script(src='/javascripts/simple-keyboard/index.min.js')
	script.
		var socket = io(self.location.host);
		var adminPassword = "#{adminPassword}"
		var $infoText = $('#admin-info-text');

		var Keyboard = window.SimpleKeyboard.default;
		var myKeyboard = new Keyboard({
			onChange: function onChange(input) {
				document.querySelector(".input").value = input;
				console.log("Input changed", input);
			},
			onKeyPress: function onKeyPress(button) {
				// Validate input
				if(button === '{enter}') {
					var enteredPassword = document.querySelector(".input").value;
					if(enteredPassword === adminPassword) {
						location.href = '/settings/admin'
					}
					else {
						$infoText.text('Incorrect password.')
					}
				}
				console.log("Button pressed", button);
			},
			maxLength: 8,
			display: {
				'{space}' : 'space',
				'{enter}': 'enter'
			},
			buttonTheme: [
				{
					class: "keyboardDone",
					buttons: "{enter}"
				}
			],
			mergeDisplay: true
		});
	script(src="/javascripts/statusDialog.js")