extends ../layoutWithKeypad.pug

block content

	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/settings')
					i.material-icons keyboard_arrow_left
				span.mdl-layout-title= title
		main.mdl-layout__content
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop
						h2 Process PIN Management
					.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop
						p As administrator, you can set up a process PIN that needs to be entered every time a user
							| &nbsp;wants to edit a process or create a new process.
					.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop
						p It's recommended to enable this if many people are using the machine in a public or semi-public setting.
					#pin-settings-menu.mdl-cell.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop
						h2 Pin Settings
						table
							tr
								td
									label(for='process-pin-toggle-input')#process-pin-toggle-label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect
										input(type='checkbox')#process-pin-toggle-input.mdl-switch__input
										span#process-pin-toggle-text.mdl-switch__label
								td
									button#show-pin-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xxs-primary-button.blue
										span Show PIN
								td
									p#show-pin-text
					#set-pin-menu.mdl-cell.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop
						h2 Enter a new PIN (4-digit number)
						p#set-pin-status
						.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
							input(type="password", id='set-process-pin', name='set-process-pin', pattern="^([0-9][0-9][0-9][0-9])$").mdl-textfield__input
							label(for='set-process-pin').mdl-textfield__label Enter a new Process PIN
							span.mdl-textfield__error Must be a positive number
						.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
							input(type="password", id='set-process-pin-check', name='change-process-pin-check', pattern="^([0-9][0-9][0-9][0-9])$").mdl-textfield__input
							label(for='set-process-pin-check').mdl-textfield__label Enter it in again
							span.mdl-textfield__error Must be a positive number
						button#set-pin-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.blue
							span Set pin
						p &nbsp;



	include ../includes/statusDialog.pug

	script(src="/socket.io/socket.io.js")
	script.
		var socket = io(self.location.host);
		var pinSettings = !{pinSettings};
		var pinEnabled = (pinSettings.process_pin_enabled === 1);
		var $pinSettingsMenu = $('#pin-settings-menu');
		var $setPin = $('#set-process-pin');
		var $setPinCheck = $('#set-process-pin-check');
		var $setPinStatus = $('#set-pin-status');
		var $processPinToggleLabel = $('#process-pin-toggle-label')
		var $processPinToggleInput = $('#process-pin-toggle-input')
		var $processPinToggleText = $('#process-pin-toggle-text')
		var $showPinButton = $('#show-pin-button');
		var $showPinText = $('#show-pin-text')
		var pinCurrentlyEnabledMessage = 'PIN is currently enabled'
		var pinCurrentlyDisbledMessage = 'PIN is currently disabled'

		// Set up the menu that allows the user to change the process pin
		function setUpPinSetter() {
			$setPin.numpad({
				position: 'fixed',
				positionX: 'center',
				positionY: 'middle',
				hideDecimalButton: true,
				hidePlusMinusButton: true,
				displayTpl: '<input type="password" class="nmpd-display"/>',
				onKeypadClose: function () {
					$setPin.parent().addClass('is-dirty');
				}
			});
			$setPinCheck.numpad({
				position: 'fixed',
				positionX: 'center',
				positionY: 'middle',
				hideDecimalButton: true,
				hidePlusMinusButton: true,
				displayTpl: '<input type="password" class="nmpd-display"/>',
				onKeypadClose: function () {
					$setPinCheck.parent().addClass('is-dirty');
				}
			})
			setUpSetPinButton();
		}

		function setUpSetPinButton () {
			$('#set-pin-button').on('click', function () {
				$showPinText.text('')
				// Check the pins that were entered match each other
				if(($setPin.val().length === 0) || ($setPinCheck.val().length === 0)) {
					$setPinStatus.addClass('red');
					$setPinStatus.text('You must enter the PIN.')
				}
				else if(($setPin.val().length >= 5) || ($setPinCheck.val().length >= 5)) {
					$setPinStatus.addClass('red');
					$setPinStatus.text('PIN must be 4 digits.')
				}
				else if($setPin.val() === $setPinCheck.val()) {
					$setPinStatus.removeClass('red');
					$setPinStatus.text('Saving new PIN...')
					socket.emit('settings_change-process-pin', $setPin.val())
					socket.emit('settings_enable-process-pin', true)
					// Clear the inputs
					$setPin.val('')
					$setPinCheck.val('')
					$setPin.parent().removeClass('is-dirty');
					$setPinCheck.parent().removeClass('is-dirty');
				}
				else {
					$setPinStatus.addClass('red');
					$setPinStatus.text('Entered PINs do not match.')
				}
			});
		}

		$(document).ready(function () {
			setUpPinSetter();
			initializeSwitch();
			// Set up the initial views
			if(pinSettings.process_pin === null) {
				// If there is no pin set (it's NULL in the db), then you need to create a pin
				$pinSettingsMenu.hide();
			}
			else {
				$pinSettingsMenu.show();
			}
		})

		// Set up the toggle switch that shows if the process pin is enabled or disabled.
		// If enabled, then use javascript to display it enabled (slide switch)
		function initializeSwitch() {
			updatePinEnabledSwitch(pinEnabled);
			if (pinEnabled) {
				setTimeout(function () {
					$processPinToggleLabel[0].MaterialSwitch.on();
				}, 500)
			}
		}

		$processPinToggleInput.on('change', function () {
			var isChecked = !$processPinToggleLabel.is('.is-checked')
			updatePinEnabledSwitch(isChecked);
			console.log('button currently isChecked? ' + isChecked);
			socket.emit('settings_enable-process-pin', isChecked)
		});

		$showPinButton.on('click', function () {
			socket.emit('settings_get-process-pin-settings')
		})

		// Received once the pin has successfully been set on the server
		socket.on('settings_change-process-pin_complete', function () {
			$setPinStatus.removeClass('red');
			$setPinStatus.text('Successfully set pin.')
			$pinSettingsMenu.show();
			updatePinEnabledSwitch(true);
		})

		// Receive current pin number from server
		socket.on('settings_get-process-pin-settings', function (settings) {
			$showPinText.text(
				'Your current pin is: ' + settings.process_pin +
				(settings.process_pin_enabled? ' (enabled)' : ' (disabled)'))
			updatePinEnabledSwitch(settings.process_pin_enabled);
		})


		function updatePinEnabledSwitch(enabled) {
			if (enabled) {
				$processPinToggleText.text(pinCurrentlyEnabledMessage);
				setTimeout(function () {
					$processPinToggleLabel[0].MaterialSwitch.on();
				}, 500)
			}
			else {
				$processPinToggleText.text(pinCurrentlyDisbledMessage);
			}
		}

	script(src="/javascripts/statusDialog.js")