extends ../layoutWithKeypad.pug

block content

	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/settings')
					i.material-icons keyboard_arrow_left
				span.mdl-layout-title= title
		main.mdl-layout__content
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop
						h2 Beam centering routine
				.mdl-grid
					.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop
						p Refer to the user manual for instructions.
						p Only run this routine if you have changed the window, cutting head, or if requested by the FabLight Factory.
					mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop
						button#beam-centering_move.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.sm-primary-button.blue
							span Move to beam centering position
						br
						button#beam-centering_run-test.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.sm-primary-button.blue
							span Run beam centering routine
						br
						button#beam-centering_lift-head.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.sm-primary-button.blue
							span Lift cutting head


	include ../includes/statusDialog.pug
	include ../includes/homingDialog.pug

	script(src="/javascripts/virtual-keyboard/jquery.keyboard.js")
	script(src="/socket.io/socket.io.js")
	script.
		var socket = io(self.location.host);
		var $runBeamCenteringBtn = $('#beam-centering_run-test');
		var $liftHeadBtn = $('#beam-centering_lift-head');
		var $moveToPosition = $('#beam-centering_move');
		var options = JSON.parse('!{options}');
		var macroPosition = options.position; // "left" or "right"
		var startingPosition = options[macroPosition];
		// Keep track of current position:
		var position = {
			x: null,
			y: null
		};
		var beamCenteringPressed = false;
		var liftHeadPressed = false;

		$(document).ready(function () {
			// ----------- Move to position button ------------- //
			// Move to a fixed position.
			$moveToPosition.on('click', function () {
				$moveToPosition.prop('disabled', true)
				socket.emit('jog-jog__XY', startingPosition)
			});

			// ----------- Lift head button ------------- //
			$liftHeadBtn.on('click', function () {
				$liftHeadBtn.prop('disabled', true);
				socket.emit('fl_p');
				liftHeadPressed = true;
			})

			// ---------- Beam centering ---------- //
			// Run beam centering at the current machine position.
			$runBeamCenteringBtn.click(function () {
				$runBeamCenteringBtn.prop('disabled', true);
				socket.emit('fl_p');
				beamCenteringPressed = true;
			});

			// ---------- fl_p logic ---------- //
			socket.on('fl_p_result', function (command) {
				// updated stored machine position
				position.y = command.d.y;
				position.x = command.d.x;
				if (liftHeadPressed === true) {
					socket.emit('jog-jog__XY', {
						x: position.x,
						y: position.y - 0.3
					});
					socket.emit('lift_head');
					$liftHeadBtn.prop('disabled', false);
					liftHeadPressed = false;
				}
				else if (beamCenteringPressed === true) {
					socket.emit('fl_beam_centering', {
						x: position.x,
						y: position.y
					});
					beamCenteringPressed = false;
				}
			})

		});

	script(src="/javascripts/statusDialog.js")