extends ../layout.pug

block content

	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/settings')
					i.material-icons keyboard_arrow_left
				span.mdl-layout-title= title
		main.mdl-layout__content
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop.hmi-height-scroll
						h2 View stored calibration
						p Press the button to show the stored data.
						button#chs_view-calibration.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.sm-primary-button.blue
							span View stored calibration
						h2 Check calibration
						p Put the stainless steel calibration plate into the machine at the origin.
						p Press the button below to check the calibration.
						button#chs_check-calibration.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.sm-primary-button.blue
							span Check calibration
						h2 Calibrate
						p.red DO NOT CALIBRATE THE CHS UNLESS INSTRUCTED TO BY A FABLIGHT TECHNICIAN.
						button#chs_calibrate.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.red-button
							span Calibrate
					.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop
						#terminalWindow


	include ../includes/statusDialog.pug

	script(src="/socket.io/socket.io.js")
	script.
		var socket = io(self.location.host);
		var $terminalWindow = $('#terminalWindow');
		var $calibrate = $('#chs_calibrate');
		var $checkCal = $('#chs_check-calibration');
		var $viewCal = $('#chs_view-calibration');

		$(document).ready(function () {
			document.getElementsByClassName('hmi-height-scroll')[0].style.height = window.innerHeight;
			socket.emit('settings_show-port-33-data', true);

			$('.mdl-layout__header-row a').click(function() {
				socket.emit('settings_show-port-33-data', false);
			});
			$calibrate.on('click', function () {
				$calibrate.prop('disabled', true);
				socket.emit('fl_cal_caphead', {
					x: 0,
					y: 0
				});
			});
			$checkCal.click(function() {
				$checkCal.prop('disabled', true);
				socket.emit('check_cal');
			});
			$viewCal.click(function () {
				socket.emit('view_cal');
			});

			// ---------- Receiving socket.io ---------- //
			socket.on('check_cal', function (response) {
				switch(parseInt(response.s)) {
					case 0:
						addToTerminalWindow({
							from: 'user',
							command: '<br><br>-----Checking CHS calibration:-----'
						});
						$checkCal.prop('disabled', true);
						break;
					case 1:
						addToTerminalWindow({
							from: 'user',
							command: '-----Checking CHS calibration: COMPLETE-----<br><br>'
						});
						$checkCal.prop('disabled', false);
						break;
					default:
						break;
				}
			})
			socket.on('settings_port-33-data', function (data) {
				addToTerminalWindow({
					from: 'machine',
					command: data
				});
			});
			socket.on('fl_cal_caphead', function (s) {
				switch (parseInt(s)) {
					case 0:
						break;
					case 1:
						$calibrate.prop('disabled', false);
						status_updateHeader('Calibration complete');
						status_updateContent('');
						if (statusDialog.open == false) {
							statusDialog.showModal();
							status_showButton();
						}
						break;
					default:
						break;
				}
			});

		});

		// ------------- Helper Functions ------------- //
		/*	Scroll the terminal to the bottom. Used when a new command is entered or when new data
		comes from TCP. */
		function updateScroll() {
			$terminalWindow.stop().animate({
				scrollTop: $terminalWindow[0].scrollHeight
			}, 200);
		}


		/*  @function addToTerminalWindow - displays a command in the terminal
			@arg1 [object]:
			{	from: [string of who it's from],
				command: [string of command to write]
			}
		*/
		function addToTerminalWindow(commandObj) {
			var newCommand = document.createElement('p');
			if (commandObj.from === 'user') {
				newCommand.innerHTML = '> ' + commandObj.command;
				newCommand.className = 'userCommandStyle';
			}
			else {
				newCommand.innerHTML = commandObj.command;
				newCommand.className = 'machineCommandStyle';
			}
			$terminalWindow.append(newCommand);
			updateScroll();
		}


	script(src="/javascripts/statusDialog.js")