extends ../layoutWithKeypad.pug

block content

	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/settings')
					i.material-icons keyboard_arrow_left
				span.mdl-layout-title= title
		main.mdl-layout__content
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop
						h2 Run a focus test
						p Place stainless steel sheet at least 3" x 6" into the machine. The focus test engraves a series of lines in the +Y direction.
						button#focus_move-to-origin.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.sm-primary-button.blue
							span Move to origin
						br
						br
						p Press the button below to start the focus test.
						button#focus_run-focus-test.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.sm-primary-button.blue
							span Run focus test
					.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop
						h2 Set a new focus position
						p Count from the first line (#1) to the line that is the longest. Multiply this number by 0.02 to get the new focus position.
						p The current focus position is: &nbsp;
							span#focus_current-focus-position N/A
						p Set new focus position:
							br
							span.red Only set if instructed to by the FabLight factory.
						div.mdl-textfield.mdl-js-textfield(style='width:195px')
							input#focus_new-focus.mdl-textfield__input(type="text" pattern="^(0\\.?[0-9]+)$")
							label.mdl-textfield__label(for="focus_new-focus")
							span.mdl-textfield__error Must be between 0 and 0.4
						button#focus_set-new-focus.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.xs-primary-button.red-button
							span Set new focus
						br
						br
						p The focus axis will home automatically after setting a new focus. Please wait until completion;
							| &nbsp;the current focus position will show the new position.

	include ../includes/statusDialog.pug

	script(src="/javascripts/virtual-keyboard/jquery.keyboard.js")
	script(src="/socket.io/socket.io.js")
	script.
		var socket = io(self.location.host);
		var $currentFocus = $('#focus_current-focus-position');
		var $runFocusTestBtn = $('#focus_run-focus-test');
		var $setNewFocusInput = $('#focus_new-focus');
		var $setNewFocusBtn = $('#focus_set-new-focus');
		var $moveToOriginBtn = $('#focus_move-to-origin');

		$(window).on("load", function () {
			$setNewFocusInput.parent().addClass('is-dirty');
			$setNewFocusInput.val('Enter here');
			socket.emit('fl_get_focus_offset');
			socket.emit('fl_p');
		});

		$(document).ready(function () {
			// Add keypad for focus input
			$setNewFocusInput.numpad({
				position: 'fixed',
				positionX: 'center',
				positionY: 'middle',
				decimalSeparator: '.',
				hidePlusMinusButton: true
			});

			$moveToOriginBtn.click(function () {
				socket.emit('jog-jog__XY', {
					x: 0,
					y: 0
				})
			});

			socket.on('fl_m2a_complete', function (response) {
				switch (parseInt(response.s)) {
					case 1:
						$moveToOriginBtn.prop('disabled', true)
						$moveToOriginBtn.text('Moving to origin...')
						break;
					case 2:
						$moveToOriginBtn.text('Move to origin')
						$moveToOriginBtn.prop('disabled', false)
						break;
				}
			})

			$runFocusTestBtn.click(function () {
				socket.emit('fl_focus_test');
				$runFocusTestBtn.text('Running focus test...')
				$runFocusTestBtn.prop('disabled', true);
				status_updateHeader('Running focus test...');
				status_updateContent('Please wait until complete.');
				if (statusDialog.open === false) {
					statusDialog.showModal();
				}
			});

			$setNewFocusBtn.click(function () {
				// Before setting the new focus, validate the input.
				var newFocusValue = parseFloat($setNewFocusInput.val());
				if((newFocusValue >= 0) && (newFocusValue <= 0.5)) {
					console.log('New focus: ' + newFocusValue)
					$setNewFocusInput.parent().removeClass('is-invalid');
					socket.emit('fl_set_focus_offset', newFocusValue);
				}
				else {
					$setNewFocusInput.parent().addClass('is-invalid');
				}
			})

			// ---------- Receiving socket.io ---------- //
			socket.on('fl_focus_test', function (s) {
				switch (parseInt(s)) {
					case 0:
						break;
					case 1:
						$runFocusTestBtn.prop('disabled', false);
						$runFocusTestBtn.text('Run focus test')
						status_updateHeader('Focus test complete.');
						status_updateContent('');
						if (statusDialog.open === false) {
							statusDialog.showModal();
							status_showButton();
						}
						break;
					default:
						break;
				}
			});
			socket.on('fl_get_focus_offset', function (offset) {
				if (offset !== undefined) {
					var roundedOffset = offset.toFixed(2);
					$currentFocus.text(roundedOffset + "\"");
				}
				else {
					$currentFocus.text('Unknown offset.');
				}
			})

		});

	script(src="/javascripts/statusDialog.js")