extends ../layoutWithKeypad.pug

block content

	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/settings')
					i.material-icons keyboard_arrow_left
				span.mdl-layout-title= title
		main.mdl-layout__content
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop
						table
							tr
								td Status:
								td
							tr
								td Critical errors:
								td

	include ../includes/statusDialog.pug
	include ../includes/homingDialog.pug

	script(src="/javascripts/virtual-keyboard/jquery.keyboard.js")
	script(src="/socket.io/socket.io.js")
	script.
		var socket = io(self.location.host);

		$(document).ready(function () {

		});

	script(src="/javascripts/statusDialog.js")
	script(src="/javascripts/homingDialog.js")