extends ../layout.pug

block content

	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/settings')
					i.material-icons keyboard_arrow_left
				span.mdl-layout-title= title
		main.mdl-layout__content
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop.hmi-height-scroll
						h2 Check machine status
						p The buttons below let you check the status of the machine controller.&nbsp;
							| Only use these buttons if the FabLight factory requests this information.

						button#go-to-status-page.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.sm-primary-button.green
							span Go to status page
						button#check-init-version.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.sm-primary-button.blue
							span Software version
						button#check-laser-status.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.sm-primary-button.blue
							span Laser status
						button#check-machine-status.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.sm-primary-button.blue
							span Machine status
					.mdl-cell.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop
						#terminalWindow


	include ../includes/statusDialog.pug

	script(src="/socket.io/socket.io.js")
	script.
		var socket = io(self.location.host);
		var $terminalWindow = $('#terminalWindow');
		var $checkMachineStatus = $('#check-machine-status');
		var $checkLaserStatus = $('#check-laser-status');
		var $checkSoftwareVersion = $('#check-init-version');
		var $goToStatusPage = $('#go-to-status-page');

		$(document).ready(function () {
			socket.emit('settings_show-port-33-data', true);

			$('.mdl-layout__header-row a').click(function() {
				socket.emit('settings_show-port-33-data', false);
			});
			$checkMachineStatus.click(function() {
				socket.emit('fl_status');
			});
			$checkLaserStatus.click(function () {
				socket.emit('controller_command', 'laser_info');
			});
			$checkSoftwareVersion.click(function () {
				socket.emit('controller_command', 'mi');
			})
			$goToStatusPage.click(function () {
				location.href = '/'
			})

			// ---------- Receiving socket.io ---------- //
			socket.on('settings_port-33-data', function (data) {
				addToTerminalWindow({
					from: 'machine',
					command: data
				});
			});

		});

		// ------------- Helper Functions ------------- //
		/*	Scroll the terminal to the bottom. Used when a new command is entered or when new data
		comes from TCP. */
		function updateScroll() {
			$terminalWindow.stop().animate({
				scrollTop: $terminalWindow[0].scrollHeight
			}, 200);
		}


		/*  @function addToTerminalWindow - displays a command in the terminal
			@arg1 [object]:
			{	from: [string of who it's from],
				command: [string of command to write]
			}
		*/
		function addToTerminalWindow(commandObj) {
			var newCommand = document.createElement('p');
			if (commandObj.from == 'user') {
				newCommand.innerHTML = '> ' + commandObj.command;
				newCommand.className = 'userCommandStyle';
			}
			else {
				newCommand.innerHTML = commandObj.command;
				newCommand.className = 'machineCommandStyle';
			}
			$terminalWindow.append(newCommand);
			updateScroll();
		}


	script(src="/javascripts/statusDialog.js")