extends ../layout.pug

block content

	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/settings')
					i.material-icons keyboard_arrow_left
				a(href='/home').home-btn-icon
					i.material-icons home
				span.mdl-layout-title= title
		main.mdl-layout__content
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--8-col
						h2 Description
						p Use this macro to align the machine in rotary mode so it is directly over the center of the tube.
						h2 How to use
						p Insert a 1.5" square tube into the rotary.
						p Press the button below.
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.sm-primary-button.blue#settings__fl_rot_align_y
							span Rotary centering Y

	include ../includes/statusDialog.pug

	script(src="/socket.io/socket.io.js")
	script.
		var socket = io(self.location.host);
		var $status = $('#settings__status');

		$(document).ready(function () {
			var $rotThetaBtn = $('#settings__fl_rot_align_theta');
			var $rotYbtn = $('#settings__fl_rot_align_y');
			$rotThetaBtn.on('click', function () {
				$rotThetaBtn.prop('disabled', true);
				socket.emit('fl_rot_align_theta');
			});

			$rotYbtn.on('click', function () {
				$rotYbtn.prop('disabled', true);
				socket.emit('fl_rot_align_y');
			});

			// ---------- RECEIVING STATUSES ---------- //

			socket.on('fl_rot_align_y', function (s) {
				switch (parseInt(s)) {
					case 0:
						break;
					case 1:
						$rotYbtn.prop('disabled', false);
						break;
					default:
						break;
				}
			});

			socket.on('fl_rot_align_theta', function (s) {
				switch (parseInt(s)) {
					case 0:
						break;
					case 1:
						$rotThetaBtn.prop('disabled', false);
						break;
					default:
						break;
				}
			});


		});
	script(src="/javascripts/statusDialog.js")