extends ../layout.pug

block content

	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row
				a(href='/settings')
					i.material-icons keyboard_arrow_left
				a(href='/home').home-btn-icon
					i.material-icons home
				span.mdl-layout-title= title
		main.mdl-layout__content
			.page-content
				.mdl-grid
					.mdl-cell.mdl-cell--6-col
						if files != null
							span#usbDriveName !{usb.mountpoints[0].path + '/' + usb.description}
							#usbPanel
								ul.mdl-list
									each fileName in files
										li.mdl-list__item
											span.mdl-list__item-primary-content
												i.material-icons.mdl-list__item-icon note
												span.fileName= fileName
						else
							h2 No USB drives found.
							button(id="refresh-usb-btn").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored
								| Refresh USB
								#usb-spinner.mdl-spinner.mdl-spinner--single-color.mdl-js-spinner


					if files != null
						.mdl-cell.mdl-cell--2-col
							button(id="select-usb-file-btn" disabled).mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.large-btn-full-width Select file
							p#select-usb-status

	include ../includes/statusDialog.pug

	script.
		var socket = io(self.location.host);
		var selectedFileName;

		socket.on('usb-data', function (usbData) {
			var usbName = usbData.description;
			$('#file-browser p').text(usbName);
		});

		// ----- DOCUMENT READY ----- //
		$(document).ready(function () {

			// When the DOM is Ready, then bind the click
			// when the file is selected, add the 'selected' class to the item.
			// remove the 'selected' class from all other elements.
			$(".mdl-list__item").click(function () {
				$('#select-usb-file-btn').prop('disabled', false);	// enable the select file button
				$('.mdl-list__item').removeClass('selected');
				$(this).addClass('selected');
				selectedFileName = $(this).find('.fileName').text();
				console.log(selectedFileName)
			});

			// ----- BUTTON LISTENER SET UP ----- //
			// when the select button is clicked
			var $selectFileBtn = $('#select-usb-file-btn');
			$selectFileBtn.on('click', function () {
				$selectFileBtn.prop('disabled', true);	// disable the select file button
				// add status text so user knows what is going on
				$('#select-usb-status').text('Copying files to HMI...');
				// make a POST request to /files
				$.ajax({
					type: 'POST',
					url: '/settings/uploadProcessTable',
					data: {
						usbFileName: selectedFileName
					},
					datatype: 'json',
					success: function(data, status, XHR) {
						if(data.err) {
							$('#select-usb-status').text(data.err);
							location.reload();
						}
						else {
							$('#select-usb-status').text('Copied file to HMI.');
							window.location.href = '/settings';
						}
					},
					error: function () {
						location.reload();
					}
				});
			});

			// refresh usb button pressed
			$('#refresh-usb-btn').on('click', function () {
				$('#refresh-usb-btn').prop('disabled', true);
				$('#usb-spinner').addClass('is-active');
				location.reload();
			});
		});
	script(src="/javascripts/statusDialog.js")