/* keyboard - jQuery UI Widget */
.ui-keyboard {
	background: white;
	color: black;
	text-align: center;
	padding: .3em;
	position: absolute;
	width: 300px;
	height: 395px;
	left: 250px;
	top: 25px;
	z-index: 16000;
	/* see issue #484 */
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}
.ui-keyboard-has-focus {
	z-index: 16001;
}
.ui-keyboard div {
	font-size: 1.1em;
}
.ui-keyboard-button {
	height: 70px;
	min-width: 2em;
	width: 90px;
	margin: .1em;
	cursor: pointer;
	overflow: hidden;
	line-height: 2em;
	border-radius: 2px;
	border:none;
}
.ui-keyboard-button span {
	padding: 0;
	margin: 0;
	white-space: nowrap;
	display: inline-block;
}
.ui-keyboard-button-endrow {
	clear: left;
}
.ui-keyboard-space {
	width: 15em;
}
/* see http://nicolasgallagher.com/another-css-image-replacement-technique/ */
.ui-keyboard-space span, .ui-keyboard-empty span {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}
.ui-keyboard-preview-wrapper {
	text-align: center;
	position: relative;
	overflow: hidden;
}
/* width is calculated in IE, since 99% = 99% full browser width =( */
.ui-keyboard-preview {
	text-align: left;
	margin: 0 0 3px 0;
	display: inline;
	width: 99%;
}
.ui-keyboard-keyset {
	text-align: center;
	white-space: nowrap;
}
.ui-keyboard-input {
	text-align: left;
}
.ui-keyboard-input-current {
	-moz-box-shadow: 0 0 5px #4d90fe;
	-webkit-box-shadow: 0 0 5px #4d90fe;
	box-shadow: 0 0 5px #4d90fe;
}
.ui-keyboard-placeholder {
	color: #888;
}
/* disabled or readonly inputs, or use
 input[disabled='disabled'] { color: #f00; } */
.ui-keyboard-nokeyboard {
	color: #888;
	border-color: #888;
}
.ui-keyboard-spacer {
	display: inline-block;
	width: 1px;
	height: 0;
	cursor: default;
}

.ui-keyboard-NBSP span, .ui-keyboard-ZWSP span, .ui-keyboard-ZWNJ span,
.ui-keyboard-ZWJ span, .ui-keyboard-LRM span, .ui-keyboard-RLM span {
	font-size: 0.5em;
	line-height: 1.5em;
	white-space: normal;
}

/* combo key styling - toggles diacritics on/off */
.ui-keyboard-button.ui-keyboard-combo.ui-state-default {
	border-color: #ffaf0f;
}

/* (in)valid inputs */
button.ui-keyboard-accept.ui-keyboard-valid-input {
	border-color: #0c0;
	background: #080;
	color: #fff;
}
button.ui-keyboard-accept.ui-keyboard-valid-input:not([disabled]):hover {
	background: #0a0;
}
button.ui-keyboard-accept.ui-keyboard-invalid-input {
	border-color: #c00;
	background: #800;
	color: #fff;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
button.ui-keyboard-accept.ui-keyboard-invalid-input:not([disabled]):hover {
	background: #a00;
}