// ENGRAVE and CUT need laser mode and acceleration.
if(p.processes[0].name != "RASTER")
	.laser-mode-group
		h3 Laser mode
		label(for="lmode0").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
			input(id="lmode0" name="laser_mode" type="radio" value="0").mdl-radio__button
			span.mdl-radio__label CW
		label(for="lmode2").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
			input(id="lmode2" name="laser_mode" type="radio" value="2").mdl-radio__button
			span.mdl-radio__label Pulsed
	.accel-group
		h3 Acceleration
		label(for="accel0").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
			input(id="accel0" name="acceleration" type="radio" value="0").mdl-radio__button
			span.mdl-radio__label 0-Slow
		label(for="accel1").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
			input(id="accel1" name="acceleration" type="radio" value="1").mdl-radio__button
			span.mdl-radio__label 1-Medium
		label(for="accel2").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
			input(id="accel2" name="acceleration" type="radio" value="2").mdl-radio__button
			span.mdl-radio__label 2-Fast
	// Only CUT needs kerf.
	if(p.processes[0].name == "CUT")
		.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
			input(type='text', id='kerf', name="kerf", pattern="^(0\\.?|0\\.0|0?\\.00[0-9]*|0?\\.010*)$").mdl-textfield__input
			label(for='kerf').mdl-textfield__label Kerf (in)
			span.mdl-textfield__error 0 to 0.01

if((p.processes[0].name == "ENGRAVE") || (p.processes[0].name == "RASTER"))
	h3 Process Parameters
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-speed', name='feedrate', pattern="^(0*[1-9][0-9]*(\\.[0-9]+)?|0+\\.[0-9]*[1-9][0-9]*)$").mdl-textfield__input
		label(for='cut-speed').mdl-textfield__label Speed (in/s)
		span.mdl-textfield__error Must be a positive number
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-power', name="power", pattern="^0*([0-9]|[1-8][0-9]|9[0-9]|100)$").mdl-textfield__input
		label(for='cut-power').mdl-textfield__label Laser power (%)
		span.mdl-textfield__error Must be 0 through 100
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='min-cut-power', name="min_power", pattern="^0*([0-9]|[1-8][0-9]|9[0-9]|100)$").mdl-textfield__input
		label(for='min-cut-power').mdl-textfield__label Min power (%)
		span.mdl-textfield__error Must be 0 through 100
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-frequency', name="frequency", pattern="^(2[5-9]|[3-9][0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|[1-8][0-9]{3}|9[0-8][0-9]{2}|99[0-8][0-9]|999[0-9]|10000)$").mdl-textfield__input
		label(for='cut-frequency').mdl-textfield__label Frequency (Hz)
		span.mdl-textfield__error Must be 25Hz - 10kHz
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-gas-pressure', name="pressure", pattern=gasSettings.regex).mdl-textfield__input
		label(for='cut-gas-pressure').mdl-textfield__label Pressure (PSI)
		span.mdl-textfield__error Integer #{gasSettings.minPressure} to #{gasSettings.maxPressure}#{gasSettings.unit}
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-height', name="nozzle_gap", pattern="^((?:0?\\.\\d+)|(?:1(?:\\.0)?))$").mdl-textfield__input
		label(for='cut-height').mdl-textfield__label Nozzle height (in)
		span.mdl-textfield__error Number 0 through 1
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='focal-offset', name="focus_offset", pattern="^-?((?:0?\\.[0-3](?:[0-9]{0,2})?)|0)$").mdl-textfield__input
		label(for='focal-offset').mdl-textfield__label Focal offset (in)
			span.mdl-textfield__error Must be -0.3 to 0.3
else
	h3 Cut Parameters
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-speed', name='feedrate', pattern="^(0*[1-9][0-9]*(\\.[0-9]+)?|0+\\.[0-9]*[1-9][0-9]*)$").mdl-textfield__input
		label(for='cut-speed').mdl-textfield__label Cut speed (in/s)
		span.mdl-textfield__error Must be a positive number
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-power', name="power", pattern="^0*([0-9]|[1-8][0-9]|9[0-9]|100)$").mdl-textfield__input
		label(for='cut-power').mdl-textfield__label Cut power (%)
		span.mdl-textfield__error Must be 0 through 100
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='min-cut-power', name="min_power", pattern="^0*([0-9]|[1-8][0-9]|9[0-9]|100)$").mdl-textfield__input
		label(for='min-cut-power').mdl-textfield__label Min power (%)
		span.mdl-textfield__error Must be 0 through 100
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-frequency', name="frequency", pattern="^(2[5-9]|[3-9][0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|[1-8][0-9]{3}|9[0-8][0-9]{2}|99[0-8][0-9]|999[0-9]|10000)$").mdl-textfield__input
		label(for='cut-frequency').mdl-textfield__label Frequency (Hz)
		span.mdl-textfield__error Must be 25Hz - 10kHz
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-gas-pressure', name="pressure", pattern=gasSettings.regex).mdl-textfield__input
		label(for='cut-gas-pressure').mdl-textfield__label Pressure (PSI)
		span.mdl-textfield__error Integer #{gasSettings.minPressure} to #{gasSettings.maxPressure}#{gasSettings.unit}
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-height', name="nozzle_gap", pattern="^((?:0?\\.\\d+)|(?:1(?:\\.0)?))$").mdl-textfield__input
		label(for='cut-height').mdl-textfield__label Cut height (in)
		span.mdl-textfield__error Number 0 through 1
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='focal-offset', name="focus_offset", pattern="^-?((?:0?\\.[0-3](?:[0-9]{0,2})?)|0)$").mdl-textfield__input
		label(for='focal-offset').mdl-textfield__label Focal offset (in)
		span.mdl-textfield__error Must be -0.3 to 0.3
	h3 Pierce parameters
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='pierce-pulses', name="pierce_pulses", pattern="^([0-9]*)$").mdl-textfield__input
		label(for='pierce-pulses').mdl-textfield__label Pulses
		span.mdl-textfield__error Positive integer
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='pierce-duration', name="pierce_duration", pattern="^([0-9]*)$").mdl-textfield__input
		label(for='pierce-duration').mdl-textfield__label Duration (ms)
		span.mdl-textfield__error Positive integer
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='pierce-power', name="pierce_power", pattern="^0*([0-9]|[1-8][0-9]|9[0-9]|100)$").mdl-textfield__input
		label(for='pierce-power').mdl-textfield__label Power (%)
		span.mdl-textfield__error Integer 0 to 100
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='pierce-frequency', name="pierce_frequency", pattern="^(2[5-9]|[3-9][0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|[1-8][0-9]{3}|9[0-8][0-9]{2}|99[0-8][0-9]|999[0-9]|10000)$").mdl-textfield__input
		label(for='pierce-frequency').mdl-textfield__label Frequency (Hz)
		span.mdl-textfield__error Must be 25Hz - 10kHz.
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='pierce-gas-pressure', name="pierce_pressure", pattern=gasSettings.regex).mdl-textfield__input
		label(for='pierce-gas-pressure').mdl-textfield__label Pressure (PSI)
		span.mdl-textfield__error Integer #{gasSettings.minPressure} to #{gasSettings.maxPressure}#{gasSettings.unit}
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='pierce-height', name="pierce_nozzle_gap", pattern="^((?:0?\\.\\d+)|(?:1(?:\\.0)?))$").mdl-textfield__input
		label(for='pierce-height').mdl-textfield__label Height (in)
		span.mdl-textfield__error Must be 0 to 1