dialog#homing-dialog.mdl-dialog
	h4.mdl-dialog__title#homing-dialog__title Getting homing status.
	.mdl-dialog__content#homing-dialog__content
		p
	.mdl-dialog__actions
		button(type='button')#homing-dialog__actionButton.mdl-button Home machine
		button(type='button')#homing-dialog__closeButton.mdl-button.close Close

script.
	//---------- register homing dialog ----------
	var homingDialogContent = $('#homing-dialog__content');
	var homingDialogHeader = $('#homing-dialog__title');
	var homingDialog = document.querySelector('#homing-dialog');
	var $homeMachineButton = $('#homing-dialog__actionButton');
	var closeHomingDialogButton = $('#homing-dialog__closeButton');
	if (!homingDialog.showModal) {
		dialogPolyfill.registerDialog(homingDialog);
	}
	homingDialog.querySelector('#homing-dialog__closeButton').addEventListener('click', function () {
		homingDialog.close();
	});