- var params = p.processes[0].params
// Only ENGRAVE and CUT need laser mode and acceleration
if(p.processes[0].name != "RASTER")
	.laser-mode-group
		h3 Laser mode
		label(for="lmode0").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
			input(id="lmode0" name="laser_mode" type="radio" value="0").mdl-radio__button
			span.mdl-radio__label CW
		label(for="lmode2").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
			input(id="lmode2" name="laser_mode" type="radio" value="2").mdl-radio__button
			span.mdl-radio__label Pulsed
	.accel-group
		h3 Acceleration
		label(for="accel0").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
			input(id="accel0" name="acceleration" type="radio" value="0").mdl-radio__button
			span.mdl-radio__label 0-Slow
		label(for="accel1").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
			input(id="accel1" name="acceleration" type="radio" value="1").mdl-radio__button
			span.mdl-radio__label 1-Medium
		label(for="accel2").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
			input(id="accel2" name="acceleration" type="radio" value="2").mdl-radio__button
			span.mdl-radio__label 2-Fast

	// Only CUT needs kerf.
	if(p.processes[0].name == "CUT")
		.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
			input(type='text', id='kerf', name="kerf", value=params.kerf, pattern="^(0\\.?|0\\.(?:0+[1-9][0-9]*|1[0-9]*|2[0-4][1-9]*|2[0-5]?))$").mdl-textfield__input
			label(for='kerf').mdl-textfield__label Kerf (mm)
			span.mdl-textfield__error 0 to 0.25mm

if((p.processes[0].name == "ENGRAVE") || (p.processes[0].name == "RASTER"))
	h3 Engraving Parameters
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-speed', name='feedrate', value=params.feedrate, pattern="^((?:0+\\.[0-9]*[1-9][0-9]*)|(?:[1-9]|[1-8][0-9]|9[0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|1[01][0-9]{2}|12[0-6][0-9]|1270))$").mdl-textfield__input
		label(for='cut-speed').mdl-textfield__label Speed (mm/s)
		span.mdl-textfield__error Between 0.254 and 1270
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-power', name="power", value=params.power, pattern="^0*([0-9]|[1-8][0-9]|9[0-9]|100)$").mdl-textfield__input
		label(for='cut-power').mdl-textfield__label Laser power (%)
		span.mdl-textfield__error Must be 0 through 100
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='min-cut-power', name="min_power", value=params.min_power, pattern="^0*([0-9]|[1-8][0-9]|9[0-9]|100)$").mdl-textfield__input
		label(for='min-cut-power').mdl-textfield__label Min power (%)
		span.mdl-textfield__error Must be 0 through 100
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-frequency', name="frequency", value=params.frequency, pattern="^(2[5-9]|[3-9][0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|[1-8][0-9]{3}|9[0-8][0-9]{2}|99[0-8][0-9]|999[0-9]|10000)$").mdl-textfield__input
		label(for='cut-frequency').mdl-textfield__label Frequency (Hz)
		span.mdl-textfield__error Must be 25Hz - 10kHz
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-gas-pressure', name="pressure", value=params.pressure, pattern=gasSettings.regex).mdl-textfield__input
		label(for='cut-gas-pressure').mdl-textfield__label Pressure (bar)
		span.mdl-textfield__error Integer #{gasSettings.minPressure} to #{gasSettings.maxPressure}#{gasSettings.unit}
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-height', name="nozzle_gap", value=params.nozzle_gap, pattern="^([1-5](?:\\.0*)?|[1-4](\\.[0-9]+)?|0+\\.[0-9]*)$").mdl-textfield__input
		label(for='cut-height').mdl-textfield__label Nozzle gap (mm)
		span.mdl-textfield__error Above 0 up to 5.0mm
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='focal-offset', name="focus_offset", value=params.focus_offset, pattern="^([-]?[0-2]\\.[0-9]+?|[-]?0+\\.[0-9]*[1-9][0-9]*|[-]?3|[-]?3\\.?|[-]?3\\.0+|0\\.?0*)$").mdl-textfield__input
		label(for='focal-offset').mdl-textfield__label Focal offset (mm)
		span.mdl-textfield__error Between -3.0 and 3.0

if(p.processes[0].name == "CUT")
	h3 Cut parameters
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-speed', name='feedrate', value=params.feedrate, pattern="^((?:0+\\.[0-9]*[1-9][0-9]*)|(?:[1-9]|[1-8][0-9]|9[0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|1[01][0-9]{2}|12[0-6][0-9]|1270))$").mdl-textfield__input
		label(for='cut-speed').mdl-textfield__label Cut speed (mm/s)
		span.mdl-textfield__error Between 0.254 and 1270
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-power', name="power", value=params.power, pattern="^0*([0-9]|[1-8][0-9]|9[0-9]|100)$").mdl-textfield__input
		label(for='cut-power').mdl-textfield__label Cut power (%)
		span.mdl-textfield__error Must be 0 through 100
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='min-cut-power', name="min_power", value=params.min_power, pattern="^0*([0-9]|[1-8][0-9]|9[0-9]|100)$").mdl-textfield__input
		label(for='min-cut-power').mdl-textfield__label Min power (%)
		span.mdl-textfield__error Must be 0 through 100
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-frequency', name="frequency", value=params.frequency, pattern="^(2[5-9]|[3-9][0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|[1-8][0-9]{3}|9[0-8][0-9]{2}|99[0-8][0-9]|999[0-9]|10000)$").mdl-textfield__input
		label(for='cut-frequency').mdl-textfield__label Frequency (Hz)
		span.mdl-textfield__error Must be 25Hz - 10kHz
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-gas-pressure', name="pressure", value=params.pressure, pattern=gasSettings.regex).mdl-textfield__input
		label(for='cut-gas-pressure').mdl-textfield__label Pressure (bar)
		span.mdl-textfield__error Integer #{gasSettings.minPressure} to #{gasSettings.maxPressure}#{gasSettings.unit}
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='cut-height', name="nozzle_gap", value=params.nozzle_gap, pattern="^([1-5](?:\\.0*)?|[1-4](\\.[0-9]+)?|0+\\.[0-9]*)$").mdl-textfield__input
		label(for='cut-height').mdl-textfield__label Cut height (mm)
		span.mdl-textfield__error Above 0 up to 5.0mm
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='focal-offset', name="focus_offset", value=params.focus_offset, pattern="^([-]?[0-2]\\.[0-9]+?|[-]?0+\\.[0-9]*[1-9][0-9]*|[-]?3|[-]?3\\.?|[-]?3\\.0+|0\\.?0*)$").mdl-textfield__input
		label(for='focal-offset').mdl-textfield__label Focal offset (mm)
		span.mdl-textfield__error Between -3.0 and 3.0

	h3 Pierce parameters
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='pierce-pulses', name="pierce_pulses", pattern="^([0-9]*)$", value=params.pierce_pulses).mdl-textfield__input
		label(for='pierce-pulses').mdl-textfield__label Pulses
		span.mdl-textfield__error Positive integer
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='pierce-duration', name="pierce_duration", pattern="^([0-9]*)$", value=params.pierce_duration).mdl-textfield__input
		label(for='pierce-duration').mdl-textfield__label Duration (ms)
		span.mdl-textfield__error Positive integer
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='pierce-power', name="pierce_power", value=params.pierce_power, pattern="^0*([0-9]|[1-8][0-9]|9[0-9]|100)$").mdl-textfield__input
		label(for='pierce-power').mdl-textfield__label Power (%)
		span.mdl-textfield__error Integer 0 to 100
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='pierce-frequency', name="pierce_frequency", value=params.pierce_frequency, pattern="^(2[5-9]|[3-9][0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|[1-8][0-9]{3}|9[0-8][0-9]{2}|99[0-8][0-9]|999[0-9]|10000)$").mdl-textfield__input
		label(for='pierce-frequency').mdl-textfield__label Frequency (Hz)
		span.mdl-textfield__error Must be 25Hz - 10kHz.
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='pierce-gas-pressure', name="pressure", value=params.pressure, pattern=gasSettings.regex).mdl-textfield__input
		label(for='pierce-gas-pressure').mdl-textfield__label Pressure (bar)
		span.mdl-textfield__error Integer #{gasSettings.minPressure} to #{gasSettings.maxPressure}#{gasSettings.unit}
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input(type='text', id='pierce-height', name="pierce_nozzle_gap", value=params.pierce_nozzle_gap, pattern="^([1-5](?:\\.0*)?|[1-4](\\.[0-9]+)?|0+\\.[0-9]*)$").mdl-textfield__input
		label(for='pierce-height').mdl-textfield__label Height (mm)
		span.mdl-textfield__error Above 0 up to 5.0mm
