dialog#status-dialog.mdl-dialog
	h4.mdl-dialog__title#status-dialog__title Machine Status
	.mdl-dialog__content#status-dialog__content
		p
	.mdl-dialog__actions
		button(type='button')#status-dialog__actionButton.mdl-button Start
		button(type='button')#status-dialog__closeButton.mdl-button.close Close
